@mixin title-large() {
    font-family: $font-titles;
    font-size: $font-size-large;
    color: $color-light-blue;
}

@mixin title-small() {
    font-family: $font-titles;
    font-size: $font-size-title-xsmall;
    line-height: 1.2em;
    color: $color-light-blue;
}

@mixin title-xsmall($class: null) {
    font-family: $font-titles;
    font-size: $font-size-xxsmall;

    @if $class == light {
        color: $color-dark-grey;
    } @else {
        color: $color-text-default;
    }
}

@mixin text-normal() {
    font-family: $font-default;
    font-size: $font-size-small;
    color: $color-light-grey;
}

@mixin text-small() {
    font-family: $font-titles;
    font-size: $font-size-xsmall;
    color: $color-dark-grey;
}

@mixin text-x-small() {
    font-family: $font-titles;
    font-size: $font-size-xxsmall;
    color: $color-dark-grey;
}

@mixin text-micro() {
    font-family: $font-titles;
    font-size: $font-size-micro;
    color: $color-dark-grey;
}
