{{$page := "company"}}
{{partial "header.html" . }}
<div class="triangle tr-com">
    <div class="block-text">Leverage the open-source community to find your next hire</div>
    <p class="header-description">source{d} is a recruitment product built by developers for
        developers. We find developers by looking at real work samples, analyzing over 600
        million code contributions in the open source community. Our own developers conduct
        interviews and technical tests to find the right match for your team.</p>

    <div class="question-link">
        <div class="question-link-buttons">
            <a href="mailto:ivan@sourced.tech" class="green">GET IN TOUCH</a>
        </div>
    </div>
</div>
<div class="shape"><img src="/image/trian.svg"></div>
<div class="content-wrapper">

    <div class="block-white">
        <h1 class="main-header">Benefits</h1>

        <div class="icon-descr-3">

            <div class="icon-descr-item">
                <div class="icon-descr-item-pic"><img src="/image/people.png" alt="Analysis">
                </div>
                <div class="icon-descr-item-header">Proper matching</div>
                <div class="icon-descr-item-text">We analyze all open source contributions of
                    over 4.1 million developers to find the perfect one for you.
                </div>
            </div>

            <div class="icon-descr-item">
                <div class="icon-descr-item-pic"><img src="/image/time.png" alt="Time"></div>
                <div class="icon-descr-item-header">Convenient &amp; time saving</div>
                <div class="icon-descr-item-text">We do the sourcing and first interview, saving you 75% of unnecessary interviews.
                </div>
            </div>

            <div class="icon-descr-item">
                <div class="icon-descr-item-pic"><img src="/image/aim.png" alt="Aim"></div>
                <div class="icon-descr-item-header">Variable Pricing</div>
                <div class="icon-descr-item-text">No exlusivity. <br>Largely success based.
                </div>
            </div>
            <div class="clear"></div>
        </div>
        <div class="question-link">
            <div class="question-link-buttons">
                <a href="mailto:ivan@sourced.tech" class="green">GET IN TOUCH</a>
            </div>
        </div>
    </div>

    <div class="block-gray">
        <div class="testimonial company">
            <div class="arrows">
                <div class="arrow-left"><img src="/image/arrow_left_test.png" alt="Left"></div>
                <div class="arrow-right"><img src="/image/arrow_right_test.png" alt="Right">
                </div>
                <div class="clear"></div>
            </div>
            <div class="testimonial-item t-item-1 active">
                <div class="testimonial-content">
                    <div class="testimonial-content-text">"Love Tyba! Recruitment based on data, not hunches. It's like Moneyball for developers.”
                    </div>
                    <div class="testimonial-content-info">Theis Søndergaard, Co-Founder, COO, Vivino
                    </div>
                    <div class="testimonial-content-logo"><img src="/image/vivino.png" alt="Vivino"></div>
                </div>
            </div>
            <div class="testimonial-item t-item-2">
                <div class="testimonial-content">
                    <div class="testimonial-content-text">"We hired two outstanding developers through Tyba. The quality of the candidates sent outranked all other sources.”
                    </div>
                    <div class="testimonial-content-info">Simon Barkow-Osterreicher, Co-Founder at Uberchord
                    </div>
                    <div class="testimonial-content-logo"><img src="/image/uberchord.png" alt="Uberchord"></div>
                </div>
            </div>
            <div class="testimonial-item t-item-3">
                <div class="testimonial-content">
                    <div class="testimonial-content-text">"source{d} put us in touch with interesting candidates. The process was smooth and we were able to interview candidates pretty quickly. We hired two  candidates, so obviously source{d} did a great job at presenting our company to them.”
                    </div>
                    <div class="testimonial-content-info">Sébastien Arbogast, VP of Engineering at Take Eat Easy
                    </div>
                    <div class="testimonial-content-logo"><img src="/image/tee.png" alt="Take Eat Easy"></div>
                </div>
            </div>
            <div class="testimonial-item t-item-4">
                <div class="testimonial-content">
                    <div class="testimonial-content-text">"From the moment I heard about source{d}, I knew this innovative way to find developers was right. It proved to be true, demonstrated by the two developers I’ve already hired for my team.”
                    </div>
                    <div class="testimonial-content-info">Jozef Képesi - CTO at Skypicker
                    </div>
                    <div class="testimonial-content-logo"><img src="/image/skypicker.png" alt="Take Eat Easy"></div>
                </div>
            </div>
        </div>
        <div class="our-clients">
            <p>Some of our clients</p>

            <div class="our-clients-logo">
                <div class="holder">
                	<div class="our-clients-item">
                        <a href="http://www.getyourguide.com" target="_blank"><img src="/image/gyg.png" alt="Get Your Guide"></a>
                    </div>
                    <div class="our-clients-item">
                        <a href="http://www.stratifiedmedical.com/" target="_blank"><img src="/image/strat.png" alt="startified"></a>
                    </div>
                    <div class="our-clients-item">
                        <a href="http://www.trivago.es" target="_blank"><img src="/image/trivago.png" alt="trivago"></a>
                    </div>
                    <div class="our-clients-item">
                        <a href="https://transferwise.com" target="_blank"><img src="/image/transferwise.png" alt="transferwise"></a>
                    </div>
                    <div class="our-clients-item">
                        <a href="https://auctionata.com/intl" target="_blank"><img src="/image/auctionata.png" alt="auctionata"></a>
                    </div>
                    <div class="our-clients-item">
                        <a href="https://www.lovoo.com" target="_blank"><img src="/image/lovoo.png" alt="Lovoo"></a>
                    </div>
                    <div class="our-clients-item">
                        <a href="http://www.take-eat-easy.es" target="_blank"><img src="/image/tee-big.png" alt="Take Eat Easy"></a>
                    </div>
                    <div class="our-clients-item">
                        <a href="https://www.springlane.de" target="_blank"><img src="/image/springlane.png" alt="springlane"></a>
                    </div>
                    <div class="our-clients-item">
                        <a href="http://www.qubit.com/" target="_blank"><img src="/image/qubit.png" alt="qubit"></a>
                    </div>
                    <div class="our-clients-item">
                        <a href="https://blackwoodseven.com" target="_blank"><img src="/image/bws.png" alt="bws"></a>
                    </div>
                    <div class="our-clients-item">
                        <a href="https://cliqz.com" target="_blank"><img src="/image/cliqz.png" alt="Cliqz"></a>
                    </div>
                    <div class="our-clients-item">
                        <a href="https://1aim.com" target="_blank"><img src="/image/1aim.png" alt="1Aim"></a>
                    </div>
                    <div class="our-clients-item">
                        <a href="https://www.digitgaming.com" target="_blank"><img src="/image/digit.png" alt="Digit Games"></a>
                    </div>
                    <div class="our-clients-item">
                        <a href="https://www.uberchord.com" target="_blank"><img src="/image/uberchord-big.png" alt="Uberchord"></a>
                    </div>
                </div>    
            </div>
        </div>
        <div class="question-link">
            <div class="question-link-buttons">
                <a href="mailto:ivan@sourced.tech" class="green">GET IN TOUCH</a>
            </div>
        </div>
    </div>
    <div class="block-white">
        <h1 class="main-header">Process</h1>

        <div class="icon-descr-3">
            <div class="icon-descr-item" id="section-analyse">
                <div class="icon-descr-item-pic"><img src="/image/mac.png" alt="Analysis"></div>
                <div class="icon-descr-item-header">Code Analysis</div>
                <div class="icon-descr-item-text">We analyze the code of 4.1 million developers to find
                    the right match for you.
                </div>
                <div class="icon-descr-item-more">
                  <a href="#" class="expand-section open-section" data-expand-section="section-analyse">How we Analyze</a>
                  <a href="#" class="expand-section close-section" data-expand-section="section-analyse" style="display:none">Close</a>
                </div>
            </div>

            <div class="icon-descr-item" id="section-matching">
                <div class="icon-descr-item-pic"><img src="/image/macbook.png" alt="Matching">
                </div>
                <div class="icon-descr-item-header">Candidate Matching</div>
                <div class="icon-descr-item-text">Our own developers conduct technical tests and
                    phone interviews to select the best candidates.
                </div>
                <div class="icon-descr-item-more">
                  <a href="#" class="expand-section open-section" data-expand-section="section-matching">How we Match</a>
                  <a href="#" class="expand-section close-section" data-expand-section="section-matching" style="display:none">Close</a>
                </div>
            </div>

            <div class="icon-descr-item" id="section-contact">
                <div class="icon-descr-item-pic"><img src="/image/dev-res.png" alt="Contact">
                </div>
                <div class="icon-descr-item-header">Contact You</div>
                <div class="icon-descr-item-text">We'll send you the selected developers along
                    with a report on why we recommend them for the position.
                </div>
                <div class="icon-descr-item-more">
                  <a href="#" class="expand-section open-section" data-expand-section="section-contact">More on the Process</a>
                  <a href="#" class="expand-section close-section" data-expand-section="section-contact" style="display:none">Close</a>
                </div>
            </div>
            <div class="paths">
                <img src="/image/path1.png" class="path1">
                <img src="/image/path2.png" class="path2">
            </div>

            <div class="extra-descr" id="section-analyse-info" style="display:none">
                <div class="extra-info-text">
                    <p>We have a Code Analaysis tool that extracts different features from the open source code available in GitHub. Our system detects language usage, number of repositories, commits... We also look for code using widely used frameworks. Currently we detect more than 150 frameworks and libraries, including Django, Flask, or Unity, and also database usage ranging including SQL and NoSQL solutions.</p>

<p>All these features are processed to get an overview of the professional profile of the people behind the contributions. All our information is centralized and updated every week with more repositories and the feedback from the developers we have already contacted.</p>
                </div>
                <div class="clear"></div>
            </div>

            <div class="extra-descr" id="section-matching-info" style="display:none">
                <div class="extra-info-text">
                    <p>Our matching algorithms use the code features extracted by our code analyzers (such as language and framework usage) to match engineers with our open job offers. The matching also takes into account an estimation of the professional experience, which we model by creating internal ranks for each language and framework we detect.</p>

<p>Besides the purely technical information, we also try to enrich our matching using the information publicly available in professional networks such as Linkedin. It is our intention to recommend only the most relevant job offers, and that is why we put lots of efforts in extracting relevant information such as expected roles, salary or relocation preferences.</p>

<p>We run our matching algorithm independently for each one of our job offers, which provides us with a list of recommended profiles. Only then we contact the suggested engineers, therefore granting that we only reach people with the right experience and background.</p>
                </div>
                <div class="clear"></div>
            </div>

            <div class="extra-descr" id="section-contact-info" style="display:none">
                <div class="extra-info-text">
                    <p>Our Developer Relations team answers any questions asked by the candidate. If the candidate is interested in your offer, we’ll elicit more specific information about their work experience, and how this relates to your offer.</p>

<p>Once these questions are answered, we set up a short call. At the end of the interview we make a judgement call on whether or not to push the candidate forward. At any stage of the process, the candidate is able to ‘step out’ if the offer does not suit them.</p>

<p>Following a successful interview, we prepare a report summarizing their skills and highlighting their relevant experience for the position. This report is presented to you for review. If you’d like to meet the candidate, we introduce you via email. We maintain contact with both the candidate and yourself in order to offer assistance where necessary. </p>

<p>If at any stage you decide to terminate a candidate’s process, we will inform them of the decision on your behalf.</p>
                </div>
                <div class="clear"></div>
            </div>
        </div>
        <div class="question-link" style="margin-top:90px;">
            <div class="question-link-buttons">
                <a href="mailto:ivan@sourced.tech" class="green">GET IN TOUCH</a>
            </div>
        </div>
    </div>
    {{partial "footer.html" }}
