{{$page := "company"}} {{partial "header.html" . }}
<div class="triangle tr-com">
	<div class="block-text">Leverage the open-source community to find your next hire</div>
	<p class="header-description">source{d} is a recruitment product built for developers by developers. We find developers by looking at real work samples,
		analyzing over 900 million code contributions in the open source community. Our own developers conduct interviews and technical
		tests to find the right match for your team.</p>

	<div class="question-link">
		<div class="question-link-buttons">
			<a href="https://sourced.typeform.com/to/bHMjgD" class="green">sudo service sourced start</a>
		</div>
	</div>
</div>
<div class="shape"><img src="/image/trian.svg"></div>
<div class="content-wrapper">

	<div class="block-white">
		<h1 class="main-header">Benefits</h1>

		<div class="icon-descr-3">

			<div class="icon-descr-item">
				<div class="icon-descr-item-pic"><img src="/image/people.png" alt="Analysis">
				</div>
				<div class="icon-descr-item-header">Proper matching</div>
				<div class="icon-descr-item-text">We analyze all open source contributions of over 6 million developers to find the perfect one for you.
				</div>
			</div>

			<div class="icon-descr-item">
				<div class="icon-descr-item-pic"><img src="/image/time.png" alt="Time"></div>
				<div class="icon-descr-item-header">Convenient &amp; time saving</div>
				<div class="icon-descr-item-text">We do the sourcing and first interview, saving you 75% of unnecessary interviews.
				</div>
			</div>

			<div class="icon-descr-item">
				<div class="icon-descr-item-pic"><img src="/image/aim.png" alt="Aim"></div>
				<div class="icon-descr-item-header">Success Based</div>
				<div class="icon-descr-item-text">No exclusivity. <br>Success based.
				</div>
			</div>
			<div class="clear"></div>
		</div>
		<div class="question-link">
			<div class="question-link-buttons">
				<a href="https://sourced.typeform.com/to/bHMjgD" class="green">sudo service sourced start</a>
			</div>
		</div>
	</div>

	<div class="block-gray">
		<div class="testimonial company">
			<div class="arrows">
				<div class="arrow-left"><img src="/image/arrow_left_test.png" alt="Left"></div>
				<div class="arrow-right"><img src="/image/arrow_right_test.png" alt="Right">
				</div>
				<div class="clear"></div>
			</div>
			<div class="testimonial-item t-item-1 active">
				<div class="testimonial-content">
					<div class="testimonial-content-text">"Love source{d}! Recruitment based on data, not hunches. It's like Moneyball for developers.”
					</div>
					<div class="testimonial-content-info">Theis Søndergaard, Co-Founder, COO, Vivino
					</div>
					<div class="testimonial-content-logo"><img src="/image/vivino.png" alt="Vivino"></div>
				</div>
			</div>
			<div class="testimonial-item t-item-2">
				<div class="testimonial-content">
					<div class="testimonial-content-text">"We hired two outstanding developers through source{d}. The quality of the candidates sent outranked all other sources.”
					</div>
					<div class="testimonial-content-info">Simon Barkow-Osterreicher, Co-Founder at Uberchord
					</div>
					<div class="testimonial-content-logo"><img src="/image/uberchord.png" alt="Uberchord"></div>
				</div>
			</div>
			<div class="testimonial-item t-item-3">
				<div class="testimonial-content">
					<div class="testimonial-content-text">"source{d} put us in touch with interesting candidates. The process was smooth and we were able to interview candidates
						pretty quickly. We hired two candidates, so obviously source{d} did a great job at presenting our company to them.”
					</div>
					<div class="testimonial-content-info">Sébastien Arbogast, VP of Engineering at Take Eat Easy
					</div>
					<div class="testimonial-content-logo"><img src="/image/tee.png" alt="Take Eat Easy"></div>
				</div>
			</div>
			<div class="testimonial-item t-item-4">
				<div class="testimonial-content">
					<div class="testimonial-content-text">"From the moment I heard about source{d}, I knew this innovative way to find developers was right. It proved to be true,
						demonstrated by the two developers I’ve already hired for my team.”
					</div>
					<div class="testimonial-content-info">Jozef Képesi - CTO at Kiwi
					</div>
					<div class="testimonial-content-logo"><img src="/image/kiwi.png" alt="Kiwi" style="background:white;padding:5px"></div>
				</div>
			</div>
		</div>
		<div class="our-clients">
			<p>Some of our clients</p>

			<div class="our-clients-logo" id="our-clients">
				<ul class="holder">
					<li class="our-clients-item">
						<a href="http://www.getyourguide.com" target="_blank"><img src="/image/gyg.png" alt="Get Your Guide"></a>
					</li>
					<li class="our-clients-item">
						<a href="http://www.trivago.es" target="_blank"><img src="/image/trivago.png" alt="trivago"></a>
					</li>
					<li class="our-clients-item">
						<a href="https://www.vivino.com" target="_blank"><img src="/image/vivino-partner.png" alt="Vivino"></a>
					</li>
					<li class="our-clients-item">
						<a href="https://www.dashlane.com" target="_blank"><img src="/image/dashlane.png" alt="Dashlane"></a>
					</li>
					<li class="our-clients-item custom-logo">
						<a href="http://www.kiwi.com" target="_blank"><img src="/image/kiwi.png" alt="Kiwi"></a>
					</li>
					<li class="our-clients-item">
						<a href="http://www.dice.se" target="_blank"><img src="/image/dice.png" alt="Dice"></a>
					</li>
					<li class="our-clients-item">
						<a href="http://www.cabify.com" target="_blank"><img src="/image/cabify.png" alt="Cabify"></a>
					</li>
					<li class="our-clients-item">
						<a href="https://www.packlink.es" target="_blank"><img src="/image/packlink.png" alt="Packlink"></a>
					</li>
					<li class="our-clients-item custom-logo">
						<a href="http://zen.ly" target="_blank"><img src="/image/zenly.png" alt="Zenly"></a>
					</li>
					<li class="our-clients-item custom-logo">
						<a href="http://vente-privee.com" target="_blank" style="background:black"><img src="/image/vente-privee.png" alt="Vente Privée"></a>
					</li>
					<li class="our-clients-item custom-logo">
						<a href="http://www.blacklane.com" target="_blank" style="background:black"><img src="/image/blacklane.png" alt="Blacklane"></a>
					</li>
					<li class="our-clients-item custom-logo">
						<a href="http://www.doctolib.fr" target="_blank" style="background:#0596de"><img src="/image/doctolib.png" alt="Doctolib"></a>
					</li>
					<li class="our-clients-item custom-logo">
						<a href="http://unity3d.com" target="_blank" style="background:black"><img src="/image/unity.png" alt="Unity"></a>
					</li>
					<li class="our-clients-item custom-logo">
						<a href="http://www.falcon.io" target="_blank"><img src="/image/falcon-social.png" alt="Falcon Social"></a>
					</li>
					<li class="our-clients-item custom-logo">
						<a href="http://www.outfittery.com" target="_blank" style="background:#222222"><img src="/image/outfittery.png" alt="Outfittery"></a>
					</li>
					<li class="our-clients-item custom-logo">
						<a href="http://helloclue.com" target="_blank"><img src="/image/clue.png" alt="Clue"></a>
					</li>
					<li class="our-clients-item custom-logo">
						<a href="http://www.quantcast.com" target="_blank"><img src="/image/quant-cast.png" alt="QuantCast"></a>
					</li>
				</ul>
			</div>
		</div>
		<div class="question-link">
			<div class="question-link-buttons">
				<a href="https://sourced.typeform.com/to/bHMjgD" class="green">sudo service sourced start</a>
			</div>
		</div>
	</div>
	<div class="block-white">
		<h1 class="main-header">Process</h1>

		<div class="icon-descr-3">
			<div class="icon-descr-item" id="section-analyse">
				<div class="icon-descr-item-pic"><img src="/image/mac.png" alt="Analysis"></div>
				<div class="icon-descr-item-header">Code Analysis</div>
				<div class="icon-descr-item-text">We analyze the code of over 5 million developers to find the right match for you.
				</div>
				<div class="icon-descr-item-more">
					<a href="#" class="expand-section open-section" data-expand-section="section-analyse">How we Analyze</a>
					<a href="#" class="expand-section close-section" data-expand-section="section-analyse" style="display:none">Close</a>
				</div>
			</div>

			<div class="icon-descr-item" id="section-matching">
				<div class="icon-descr-item-pic"><img src="/image/macbook.png" alt="Matching">
				</div>
				<div class="icon-descr-item-header">Candidate Matching</div>
				<div class="icon-descr-item-text">Our software engineers conduct technical tests and phone interviews to select the best candidates.
				</div>
				<div class="icon-descr-item-more">
					<a href="#" class="expand-section open-section" data-expand-section="section-matching">How we Match</a>
					<a href="#" class="expand-section close-section" data-expand-section="section-matching" style="display:none">Close</a>
				</div>
			</div>

			<div class="icon-descr-item" id="section-contact">
				<div class="icon-descr-item-pic"><img src="/image/dev-res.png" alt="Contact">
				</div>
				<div class="icon-descr-item-header">Connect You</div>
				<div class="icon-descr-item-text">We present you with selected developers that match your needs, along with an extensive report on why we recommend them
					for the position.
				</div>
				<div class="icon-descr-item-more">
					<a href="#" class="expand-section open-section" data-expand-section="section-contact">More on the Process</a>
					<a href="#" class="expand-section close-section" data-expand-section="section-contact" style="display:none">Close</a>
				</div>
			</div>
			<div class="paths">
				<img src="/image/path1.png" class="path1">
				<img src="/image/path2.png" class="path2">
			</div>

			<div class="extra-descr" id="section-analyse-info" style="display:none">
				<div class="extra-info-text">
					<p>We have a Code Analysis tool that extracts different features from the open source code available on GitHub, detecting
						language usage, number of repositories, commits, as well as any code accounting for more than 150 common use frameworks
						and libraries, including Django, Flask or Unity, as well as database usage including SQL and NoSQL solutions. </p>

					<p>All these features are then processed, giving us an overview of the developer's professional profile, and updated weekly
						with the feedback received from the developers we have contacted, as well as their ongoing contributions to repositories.</p>
				</div>
				<div class="clear"></div>
			</div>

			<div class="extra-descr" id="section-matching-info" style="display:none">
				<div class="extra-info-text">
					<p>source{d} matching algorithms use the code features extracted by code analyzers to match engineers with our open job
						offers. The matching takes into account an estimation of the professional experience, which we model by creating internal
						ranks for each language and framework we detect.</p>

					<p>Apart from the purely technical information, we also try to enrich our matching using information publicly available
						on professional networks such as LinkedIn. We place a lot of effort in extracting relevant information such as expected
						roles, salary or relocation preferences in order to only recommend relevant job offers.</p>

					<p>Our matching algorithm runs independently for each job offer, providing us with a list of recommended profiles. We contact
						suggested engineers only after identifying that they have the right experience and background. </p>
				</div>
				<div class="clear"></div>
			</div>

			<div class="extra-descr" id="section-contact-info" style="display:none">
				<div class="extra-info-text">
					<p>Our Developer Relations team answers any questions asked by the candidate. If the candidate is interested in your offer,
						we will elicit more specific information about their work experience, and how this relates to your offer.</p>

					<p>Once these questions are answered, we set up a short call that gives us enough information to reach an educated conclusion
						on whether or not to push the candidate forward. The candidate is able to 'step out' at any stage of the process if
						the offer does not suit them. </p>

					<p>Following a successful interview, we prepare a report summarizing their skills and highlighting their relevant experience
						for the position. This report is presented to you for review. If you would like to meet the candidate, we introduce
						you via email. We maintain contact with both the candidate and yourself in order to offer assistance where necessary.
						</p>

					<p>If at any stage you decide to terminate a candidate’s process, we will inform them of the decision on your behalf.</p>
				</div>
				<div class="clear"></div>
			</div>
		</div>
		<div class="question-link" style="margin-top:90px;">
			<div class="question-link-buttons">
				<a href="https://sourced.typeform.com/to/bHMjgD" class="green">sudo service sourced start</a>
			</div>
		</div>
	</div>
	{{partial "footer.html" }}