{{ partial "head.html" . }}

<body class="developer">
    {{ partial "header.html" . }}

    <header class="fullWidth mainHeader">
        <div class="mainContainer">
            <h1 class="title">Tech recruitment is <strong>broken</strong>.</h1>
            <p>And our goal is to <strong>fix it</strong>.</p>
        </div>
    </header>

    <section class="fullWidth" id="timelineBeginning">
        <div class="mainContainer">
            <header>
                <h2>Here is how we do it</h2>
            </header>
            <div class="workflows">
                <div class="workflow step1 left picto">
                    <div class="content">
                        <p class="bubble">This is a developer</p>
                    </div>
                </div>
                <div class="workflow step2 right picto">
                    <div class="content">
                        <ul class="extra">
                            <li class="top left">http-kit</li>
                            <li class="top right">docker</li>
                            <li class="bottom left">react</li>
                            <li class="bottom right">rabitmq</li>
                        </ul>
                        <p class="bubble">Developers contribute to many git open source projects</p>
                    </div>
                </div>
                <div class="workflow step3 left">
                    <div class="content">
                        <p class="bubble">We analyse all the contributions to understand what developers do and like</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="fullWidth" id="developerDetails">
        <div class="mainContainer">
                
                {{ $contribs := $.Site.Data.developer.contribs.data }}
                {{ $history := $.Site.Data.developer.history}}
                {{ $buttons := slice "What you do" "Where you are" "Your cotributions" }}
                {{ $context := dict "contribs" $contribs "history" $history "buttons" $buttons }}
                {{ partial "developer.html" $context }}

                <h3>Whant to know the data we have about you?</h3>
                <div>
                    <span class="copyBtn emphasysButton">Get your own data</span>
                </div>
            </ul>
        </div>
    </section>

    <aside class="fullWidth" id="timelineEnding">
        <div class="mainContainer">
            <div class="workflows">
                <div class="workflow step4 right">
                    <div class="content">
                        <p class="bubble">
                            All the data we have about you is used to find the perfect
                            candidates for the companies of your clients
                        </p>
                    </div>
                </div>
                <div class="workflow step5 left picto">
                    <div class="content">
                        <p class="bubble">
                            A Developer Relation in our team sends you an email with 
                            all the info for that offer
                        </p>
                    </div>
                </div>
                <div class="workflow step6 right">
                    <div class="content">
                        <p class="bubble">
                            You will have a screening call with a member of our team
                        </p>
                    </div>
                </div>
                <div class="workflow step7 left">
                    <div class="content">
                        <p class="bubble">
                            You will have to go through the company interview process
                        </p>
                    </div>
                </div>
                <div class="workflow step8 right picto">
                    <div class="content">
                        <p class="bubble">
                            You get <strong>hired</strong>!
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </aside>

    {{ partial "contact-us.html" . }}
    {{ partial "footer.html" . }}
</body>

</html>