{{ $isExternalLink := true }}

<article class="cards__element {{ if or .zip .raw .date }}cards__element_with-footer{{ end }} {{ if $isExternalLink }}cards__element_external-link{{ end }}">
    <a href="{{ .link }}" {{ if $isExternalLink }}target="_blank"{{ end }} data-tracked>
        <section>
            <header {{ partial "gradient" .gradient | safeHTMLAttr }}>
                <div>
                    <figure>
                        {{ if .icon }}
                            {{ partial "svg" .icon }}
                        {{ else }}
                            {{ $n := shuffle (seq 1 10) }}
                            {{ $name := printf "codepills/%s" (string (index $n 0)) }}
                            {{ partial "svg" (dict "name" $name "color" .gradient.left) }}
                        {{ end }}
                    </figure>
                    <h1>{{ .title }}</h1>
                </div>
            </header>
            <p>
                {{ .content }}
            </p>
        </section>
        {{ if or .zip .raw .date }}
            <footer>
                <div>
                    {{ if or .zip }}
                        <div><em class="size size_zip">{{ .zip }}</em> download size</div>
                    {{ end }}
                    {{ if or .raw }}
                        <div><em class="size size_raw">{{ .raw }}</em> uncompressed size</div>
                    {{ end }}
                </div>
                {{ if or .date }}
                    <time dateTime={{ .date }}>{{ dateFormat "Jan 02, 2006" .date }}</time>
                {{ end }}
            </footer>
        {{ end }}

        <div class="link-icon">
            {{ if $isExternalLink }}
                {{ partial "svg" "github-filled" }}
            {{ else }}
                {{ partial "svg" "go-arrow" }}
            {{ end }}
        </div>
    </a>
</article>
