{{ $email := .Params.contactemail | default .Site.Params.defaultemail }}
<aside class="fullWidth opaque contact">
    <div class="mainContainer">
        <header>
            <h4>Get in touch with us</h4>
        </header>
        <div>
            <a class="copyBtn darkButton"
               href="mailto:{{ $email }}"
               data-clipboard-text="{{ $email }}">
                {{ $email }}
            </a>
            <br />

            {{ if ne .Site.Params.pgpLink "" }}
                <a class="pgpKey" href="{{ .Site.Params.pgpLink }}" target="_blank">Looking for our PGP key?</a>
            {{end}}
        </div>
    </div>
</aside>
