<div id="detailsContainer" class="item0">
    <nav>
        <ul>
            {{ range $k, $v := $.buttons }}
                <li class="item{{$k}}">{{$v}}</li>
            {{ end }}
        </ul>
    </nav>

    <div class="columnsContainer">
        <section class="details item0 languages">
            <div>
                <div class="author">
                    <img src="/img/icons/dev.svg" />
                    John Doe
                </div>
                <h5>Languages</h5>
                <img class="graph" src="/img/pictures/graph.svg" />
                <h5>Ecosystems</h5>
                <ul>
                    <li class="lang langGo">gin-gonic</li>
                    <li class="lang langPHP">symfony</li>
                    <li class="lang langJavaScript">node.js</li>
                    <li class="lang langJavaScript">react</li>
                </ul>
            </div>
        </section>

        <section class="details item1 locations">
            <div>
                <div class="author">
                    <img src="/img/icons/dev.svg" />
                    John Doe
                </div>
                <h5>Locations</h5>
                <img class="map" src="/img/pictures/map.svg" />
            </div>
        </section>

        <section class="details item2 contributions">
            <div>
                <div class="author">
                    <img src="/img/icons/dev.svg" />
                    John Doe
                </div>
                <h5>Contributions</h5>
                <ul>
                    {{ range $contrib := $.contribs }}
                    <li class="repo">
                        <div class='fullName'>
                            {{$contrib.group}}/<strong>{{$contrib.name}}</strong>
                        </div>

                        <div class='data'>
                            <div class="commits">
                                {{$contrib.commits}} commits
                                (last {{$contrib.ago}} ago)
                            </div>

                            <ul class="languages">
                                {{ range $lang := $contrib.languages }}
                                <li>
                                    <span class="circle lang{{$lang}}"></span>
                                    <span>{{$lang}}</span>
                                </li>
                                {{ end }}
                            </ul>
                        </div>
                    </li>
                    {{ end }}
                </ul>
                <div class="footer">340 more commits on other projects</div>
            </div>
        </section>

        <aside class="code">
            <pre><code class="js-beautyCode JSON">
                {{ $.history | jsonify }}
            </code></pre>
        </aside>
    </div>
</div>
