<div id="detailsContainer" class="item0">
    <nav>
        <ul class="tabs" data-target=".details > article">
            {{ range $k, $v := $.buttons }}
                <li{{ if eq $k 0 }} class="active"{{ end }}>{{$v}}</li>
            {{ end }}
        </ul>
    </nav>

    <div class="columnsContainer">
        <aside class="code">
            <pre><code class="js-beautyCode JSON">
                {{ $.history | jsonify }}
            </code></pre>
        </aside>

        <section class="details languages">
            <article class="active">
                <div class="author">
                    <img src="/img/icons/dev.svg" />
                    John Doe
                </div>
                <h5>Languages</h5>
                <img class="graph" src="/img/pictures/graph.svg" />
                <h5>Ecosystems</h5>
                <ul>
                    <li class="lang langGo">gin-gonic</li>
                    <li class="lang langPHP">symphony</li>
                    <li class="lang langJavaScript">node.js</li>
                    <li class="lang langJavaScript">react</li>
                </ul>
            </article>

            <article>
                <div class="author">
                    <img src="/img/icons/dev.svg" />
                    John Doe
                </div>
                <h5>Locations</h5>
                <img src="/img/icons/map.svg" class="map" alt="Map" />
            </article>

            <article>
                <div class="author">
                    <img src="/img/icons/dev.svg" />
                    John Doe
                </div>
                <h5>Contributions</h5>
                <ul>
                    {{ range $contrib := $.contribs }}
                    <li class="repo">
                        <div className='fullName'>
                            <span className='owner'>{{$contrib.group}}</span>
                            <span className='divider'>/</span>
                            <span className='name'>{{$contrib.name}}</span>
                        </div>

                        <div className='data'>
                            <div>
                                {{$contrib.commits}} (last {{$contrib.ago}} ago)
                            </div>

                            {{ range $lang := $contrib.languages }}
                                <div className='lang'>
                                    <span className="circle lang{{$lang}}"></span>
                                    <span>{{$lang}}</span>
                                </div>
                            {{ end }}
                        </div>
                    </li>
                    {{ end }}
                </ul>
                340 more commits on other projects
            </article>
        </section>
    </div>
</div>
