{{ $ctx := $.ctx }}
{{ $slack := $ctx.Site.Data.slack }}
{{ $slackClass := "slack-form__root horizontal-slack-join" }}
{{ $slackCtx := dict "slack" $slack "inline" true "class" $slackClass }}


<footer class="footer pt-5 pb-4">
    <div class="container">
        <div class="row no-gutters">
            <div class="col-sm">
                <a href="index.html"><img class="mb-4" src="assets/img/logo_footer.svg" alt="" width="167" height="39"></a>
            </div>
        </div>
        <div class="row no-gutters">
            <div class="col-sm">
                <ul>
                    <li><a class="footer-main" href="index.html#products">Product</a></li>
                    <li><a href="engine">source{d} Engine</a></li>
                    <li><a href="lookout">source{d} Lookout</a></li>
                </ul>
            </div>
            <div class="col-sm">
                <ul>
                    <li><a class="footer-main" href="https://docs.sourced.tech/engine/">Docs</a></li>
                    <!-- <li><a href="https://docs.sourced.tech/intro">Intro to MLonCode</a></li> -->
                    <li><a href="https://docs.sourced.tech/engine/">source{d} Engine</a></li>
                </ul>
            </div>
            <div class="col-sm">
                <ul>
                    <li><a class="footer-main" href="open-source">Open Source</a></li>
                    <li><a href="open-source#philosophy">Philosophy</a></li>
                    <li><a href="open-source#licensing">Licensing</a></li>
                    <li><a href="open-source#projects">Projects</a></li>
                </ul>
            </div>
            <div class="col-sm">
                <ul>
                    <li><a class="footer-main" href="community">Community</a></li>
                    <li><a href="community#resources">Resources</a></li>
                    <li><a href="community#talk">Talk To Us</a></li>
                    <li><a href="community#events">Events</a></li>
                </ul>
            </div>
            <div class="col-sm">
                <ul>
                    <li><a class="footer-main" href="company">Company</a></li>
                    <li><a href="company#roadmap">About</a></li>
                    <li><a href="company#careers">Careers</a></li>
                    <li><a href="company#offices">Offices</a></li>
                    <li><a href="company#team">Team</a></li>
                    <li><a href="http://go.sourced.tech/contact">Contact Us</a></li>
                </ul>
            </div>
        </div>
        <div class="row no-gutters">
            <div class="footer-social col-sm-12 pt-4 mt-3 pb-3">
                <a href="https://www.github.com/src-d/" class="social-link icon-git"></a>
                <a href="https://www.twitter.com/sourcedtech/" class="social-link icon-twi"></a>
                <a href="https://www.youtube.com/sourced/" class="social-link icon-you"></a>
                <a href="https://www.linkedin.com/company/source-d/" class="social-link icon-lin"></a>
                <a href="https://www.slideshare.net/sourcedtech" class="social-link icon-sli"></a>
                <!-- <a href="https://www.reddit.com/r/MachineLearning" class="social-link icon-red"></a> -->
                <!-- <a href="https://www.facebook.com/sourced.MLonCode/" class="social-link icon-fac"></a> -->
                <a href="https://plus.google.com/+sourced" class="social-link icon-goo"></a>
                <!-- <a href="https://medium.com/sourcedtech/" class="social-link icon-fac"></a> -->
            </div>
        </div>
    </div>
</footer>

<!-- jQuery first, then Bootstrap JS. -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="js-load/bootstrap.bundle.min.js"></script>
<script type="text/javascript" src="js-load/slick.min.js"></script>
<script type="text/javascript" src="js-load/script.js"></script>
