{{ $ctx := $.ctx }}
{{ $projectBaseURL := $ctx.Site.BaseURL }}

<!DOCTYPE html>
<html lang="{{ with $ctx.Site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">
<head>
    <title>
        {{ if ne $ctx.Title $ctx.Site.Title }}{{ $ctx.Site.Title }} - {{ end }}{{ with $ctx.Title }}{{ . }}{{ else }}{{ $ctx.Site.Title }}{{ end }}
    </title>
    <meta name="author" content="{{ with $ctx.Params.author }}{{ . }}{{ else }}{{$ctx.Site.Params.author}}{{ end }}">
    <meta name="description" content="{{ with $ctx.Params.description }}{{ . }}{{ else }}{{ $ctx.Site.Params.description }}{{ end }}">

    <base href="{{ $projectBaseURL | safeURL }}">

    <link rel="shortcut icon" type="image/x-icon" href="{{ $projectBaseURL }}/{{$ctx.Site.Params.favicon}}">
    <link rel="apple-touch-icon" type="image/x-icon" href="{{ $projectBaseURL }}/{{$ctx.Site.Params.favicon96}}">
    <link rel="icon" type="image/png" href="{{ $projectBaseURL }}/{{$ctx.Site.Params.favicon96}}" />

    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, user-scalable=yes">

    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.13.1/styles/default.min.css">
    <link rel="stylesheet" href="icomoon/icons.css?v={{ now.Format "1136239445" }}">
    <link rel="stylesheet" href="css/bundle.css?v={{ now.Format "1136239445" }}">

    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.13.1/highlight.min.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>

    <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-69608223-1', 'auto');
    ga('send', 'pageview');
    </script>

    {{ $url := printf "%s%s" "https:" (absURL $ctx.URL)  }}
    {{ $title := $ctx.Title | default $ctx.Site.Params.author }}
    {{ $description := $ctx.Params.socialdescription | default  $ctx.Site.Params.description }}
    {{ $image := printf "%s%s" "https:" (absURL ($ctx.Params.socialimage | default $ctx.Site.Params.socialimage)) }}
    {{ $isLargeImage := $ctx.Params.socialislargeimage | default false }}
    {{ $site := $ctx.Site.Params.author }}
    {{ $twitterHandler := $ctx.Site.Params.social.twitter }}
    <meta property="og:url" content="{{ $url }}" />
    <meta property="og:title" content="{{ $title }}" />
    <meta property="og:description" content="{{ $description }}" />
    <meta property="og:image" content="{{ $image }}" />
    <meta property="og:type" content="website" />
    <meta property="og:site_name" content="{{ $site }}" />
    <meta name="twitter:card" content="{{ if $isLargeImage }}summary_large_image{{ else }}summary{{ end }}">
    <meta name="twitter:site" content="@{{ $twitterHandler }}" />
    <meta name="twitter:creator" content="@{{ $twitterHandler }}" />
</head>
