<nav class="fullWidth topbar {{ .Params.topbar }}" id="topBar">
    <div class="wrap">
        <div id="menuToggle" class="toggle showMobile">
            <span></span>
            <span></span>
            <span></span>
        </div>
        <a href="/upcoming/" alt="source{d}">
            <div class="logo"></div>
        </a>
        <div class="menu" id="menu">
            <ul>
                <li class="{{ if eq .URL "/" }}active{{ end }} mobile"><a href="/">Home</a></li>
                <li {{ if eq .URL "team" }}class="active" {{ end }}><a href="/team/" title="Team">Team</a></li>
                <li {{ if eq .URL "stack" }}class="active" {{ end }}><a href="/stack/" title="Our stack">Stack</a></li>
                <li><a href="//blog.sourced.tech">Blog</a></li>
            </ul>
        </div>
    </div>
</nav>
