{{ $imageName := default .ctx.Site.Params.headerimagename .ctx.Params.headerimagename }}
{{ $imageUrl := (printf "img/header/%s.png" $imageName) | absURL }}

<header class="projects-hero">
    <div class="projects-hero__wrap">
        <div class="projects-hero__info">
            <h1>{{ .data.title }}</h1>
            <p>{{ .data.desc | safeHTML }}</p>
        </div>

        <figure class="projects-hero__picture">
            <img src="{{ $imageUrl | safeURL }}" />
        </figure>

        <img class="code-pills-left" src="{{ "img/bgs/codepills-bg-1.png" | absURL }}" />
    </div>
</header>
