{{ $imageName := default .ctx.Site.Params.headerimagename .ctx.Params.headerimagename }}
{{ $imageUrl := (printf "img/header/%s.png" $imageName) | absURL }}
<header class="hero">
    <div class="hero__wrap">
        <div class="hero__info">
            <h1>{{ .data.title }}</h1>
            <p>{{ default "" .data.desc | safeHTML }}</p>
        </div>

        <figure class="hero__picture mobile-only">
            <img src="{{ $imageUrl | safeURL }}" />
        </figure>

        <figure class="hero__picture mobile-hidden">
            <img src="{{ $imageUrl | safeURL }}" />
        </figure>

        <img class="code-pills-left mobile-hidden" src="{{ "img/bgs/codepills-bg-1.png" | absURL }}" />
    </div>
</header>
