<section id="how-works" class="how-for-you pb-5">
    <div class="container text-dark pt-5">
        <header class="text-center mb-5">
            <h2>How source{d} works for you</h2>
        </header>
        <div class="row">
            <div class="col-sm-4 mb-5">
                <div class="text-center mb-4">
                    <img src="img/icons/engineers-and-researchers.svg" alt="Engineers & Researchers" height="150" width="150">
                </div>
                <h3 class="title-line line-yellow">Developers</h3>
                <p class="mb-4">From data retrieval, language analysis and machine learning on code tools, datasets and models, the source{d} stack can be helpful for many software engineering use cases.</p>
                <a href="get-started#engineers-tab" class="btn btn-highlight w-100">Learn More</a>
            </div>
            <div class="col-sm-4 mb-5">
                <div class="text-center mb-4">
                    <img src="img/icons/engineering-managers.svg" alt="Engineering Managers" height="150" width="150">
                </div>
                <h3 class="title-line line-yellow">Managers</h3>
                <p class="mb-4">With a built-in UI and a great user experience, source{d} delivers an enterprise-ready data platform to shift your IT budget from maintenance to innovation.</p>
                <a href="get-started#managers-tab" class="btn btn-highlight w-100">Learn More</a>
            </div>
            <div class="col-sm-4 mb-5">
                <div class="text-center mb-4">
                    <img src="img/icons/business-leaders.svg" alt="Business Leaders" height="150" width="150">
                </div>
                <h3 class="title-line line-yellow">Executives</h3>
                <p class="mb-4">The source{d} platform allows you to modernize your entire software development life cycle so that your comapny can focus on providing more value to your customers quicker.</p>
                <a href="get-started#executives-tab" class="btn btn-highlight w-100">Learn More</a>
            </div>
        </div>
    </div>
</section>
