{{ $ourStack := $.Site.Data.ourstack }}

<div class="mainContainer">
    <article class="article left">
        <header><h2 class="sectionTitle">{{ $ourStack.title }}</h2></header>
        <p>{{ $ourStack.desc }}</p>
        <p class="links">
            {{ range $link := $ourStack.links }}
                {{ if ne $link.url "#" }}
                    <a href="{{ $link.url }}" {{ if $link.newTab }}target="_blank"{{ end }}>{{ $link.text }}</a>
                {{ end }}
            {{ end }}
        </p>
    </article>
    <figure>
        <svg class="background" width="540" height="300"><ellipse cx="50%" cy="54%" rx="40%" ry="44%" /></svg>
        <ul>
            {{ range $key, $item := $ourStack.graph.items }}
                <li id="{{ $key }}">
                    {{ if ne $item.url "#" }}
                        <a class="item" href="{{ $item.url }}" title="Check out our {{ $item.title | default $item.text }}" target="_blank">
                    {{ else }}
                        <span class="item">
                    {{ end }}
                            <img src="{{ $item.imgSrc }}" title="{{ $item.imgSrc }}" />
                            <span class="text">{{ $item.text }}</span>
                    {{ if ne $item.url "#" }}
                        </a>
                    {{ else }}
                        </span>
                    {{ end }}
                </li>
            {{ end }}
        </ul>
    </figure>
</div>
