{{ partial "head.html" . }}
{{ $stack := $.Site.Data.stack }}
{{ $headerCtx := dict "ctx" . }}
{{ $heroCtx := dict "ctx" . "data" $stack }}
{{ $footerCtx := dict "ctx" . "include_slack" true "include_email" true }}

<body class="stack-page">
    {{ partial "header.html" $headerCtx }}
    {{ partial "hero.html" $heroCtx }}

    <div class="circle-list">
        {{ range $role := $.Site.Data.stack.stack }}
            <section
                class="
                    band
                    band_grey
                    band_condensed
                    circle-list__section
                    circle-list__section_{{ $role.items | len }}
                    circle-list__section_{{ $role.id }}
                "
            >
                <div class="band__container">
                    <h1 class="striked">
                        <span class="title">{{ $role.title }}</span>
                    </h1>
                    <div class="circle-list__section__group">
                        {{ partial "stack/technologies.html" (dict "ctx" . "group" $role) }}
                    </div>
                </div>
            </section>
        {{ end }}
    </div>


    {{ partial "footer.html" $footerCtx }}
</body>
</html>
