{{ partial "head.html" . }}

<body>
    {{ partial "header.html" . }}

    <header
        style="background-image: url('{{ default .Site.Params.headerImageUrl .Params.headerImageUrl }}');"
    >
        <div class="mainContainer">
            <div class="description">
                <h1 class="title">Our stack</h1>
                <p>At source{d} we work carefully to find the best languages, libraries and tools for each purpose in our pipeline</p>
            </div>
        </div>
    </header>

    <div class="fullWidth">
        <div class="stack mainContainer">
            <h2>Our stack</h2>
            {{ range $section := $.Site.Data.stack.stack }}
            <div class="stackSection {{ $section.id }}">
                <h3>{{ $section.title }}</h3>

                <div class="stackItems">
                    {{ range $item := $section.items }}
                    <div class="stackItem">
                        <a href="{{ $item.url }}" target="_blank">
                            <div class="itempic"><img src="/img/stack/{{ $item.id }}.svg" alt="{{ $item.name }}" /></div>
                            {{ if ne $item.desc "" }}
                            <p>{{ $item.desc | safeHTML }} {{ end }}
                        </a>
                    </div>
                    {{ end }}
                </div>
            </div>
            {{ end }}
        </div>
    </div>

    {{ partial "footer/sitemap.html" . }}
</body>

</html>
