body {
    @include textMedium;
    min-width: $pageWidth;
}

.fullWidth {
    position: relative;
    width:100%;
    z-index: 5;    
    background: $bgMainColor;

    &.opaque {
        background-color: $bgLightBlue;
    }
}

.mainContainer {
    @extend .structureContainer;
    padding: 27px 0;
    z-index: 2;
    position: relative;
    text-align: center;
}

.structureContainer {
    width: $pageWidth;
    margin: 0 auto;
}

header {
    text-align: center;
}

.code {
    font-family: $fontCode;
}

h1 {
    @include mainTitle;
}

h2, h4 {
    @include title1;
}

h3 {
    @include title2;
}

.mobileOnly {
    display: none;
}

h1, h2, h3, h4 {
    text-align: center;
}
