* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@mixin familyWeight($font, $weight) {
    font-family: $font;
    font-weight: $weight;

    strong {
        font-weight: 600;
    }
}

@mixin titleFamilyWeight {
    @include familyWeight($fontTitle, 400);
}

@mixin textFamilyWeight($weight:400) {
    @include familyWeight($fontText, $weight);
}

@mixin mainTitle($classes:false) {
    @include titleFamilyWeight;
    font-size: $textSizeTitleMain;
    color: $textColorTitle;
    line-height: 70px;

    @each $class in $classes {
        @if ($class == 'alphaCover') {
            color: $textColorWhite;
        }
    }
}

@mixin title1 {
    @include titleFamilyWeight;
    font-size: $textSizeTitle1;
    color: $textColorTitle;
    line-height: 80px;
}

@mixin title2 {
    font-size: $textSizeTitle2;
    font-weight: 300;
    color: $textColorMain;
    line-height: 55px;
}

@mixin textBig($classes:false) {
    @include textFamilyWeight(600);
    font-size: $textSizeBig;
    line-height: 29px;
    color: $textColorMain;

    @each $class in $classes {
        @if ($class == 'emphasis') {
            color: $textColorEmphasis;
        }
    }
}

@mixin textMedium($classes:false) {
    @include textFamilyWeight;
    font-size: $textSizeMain;
    line-height: 24px;
    color: $textColorMain;

    @each $class in $classes {
        @if ($class == 'alphaCover') {
            color: $textColorWhiteAlt;
        }
        @else if ($class == 'strong') {
            font-weight: 600;
        }
    }
}

@mixin textSmall($classes:false) {
    @include textFamilyWeight;
    font-size: $textSizeSmall;
    line-height: 24px;
    color: $textColorGrey;

    @each $class in $classes {
        @if ($class == 'subtitle') {
            color: $textColorLight;
        }
        @else if ($class == 'condensed') {
            line-height: 18px;
        }
        @else if ($class == 'emphasis') {
            color: $textColorEmphasis;
        }
        @else if ($class == 'emphasisLight') {
            color: $textColorEmphasisLight;
        }
        @else if ($class == 'emphasisDark') {
            color: $textColorEmphasisDark;
        }
        @else if ($class == 'alphaCover') {
            color: $textColorWhite;
        }
        @else if ($class == 'italic') {
            font-style: italic;
        }
        @else if ($class == 'strong') {
            font-weight: 600;
        }
    }
}

@mixin smallLink($classes:false) {
    @include textSmall($classes);
    
    a,
    .clickable {
        display: inline-block;
        border-bottom: 1px solid $lineColorUnderlineLightBg;
        padding: 0 3px;
        font-weight: 600;
        text-transform: uppercase;
        cursor: pointer;
        transition: border-bottom 200ms ease-in-out;

        &:hover {
            border-bottom: 1px solid $lineColorUnderlineLightBgHovered;
        }

        @each $class in $classes {
            @if ($class == 'noUnderline') {
                border-bottom: none !important;
            }
            @else if ($class == 'alphaCover') {
                border-bottom: 1px solid $lineColorUnderline;

                &:hover {
                    border-bottom-color: white;
                }
            }
        }
    }
}

@mixin button() {
    @include familyWeight($fontCode, 400);
    font-size: $textSizeTitle2;
    color: $textColorWhite;
    line-height: 60px;
    background: $textColorEmphasisDark;
    padding: 0 50px;
    display: inline-block;
    border-radius: $borderRadius;
}

@mixin label($background, $classes: false) {
    @include smallLink(noUnderline alphaCover $classes);
    background-color: $textColorEmphasis;
    border-radius: $borderRadius;
    vertical-align: middle;
    display: inline-block;
    text-align: center;
    text-transform: uppercase;
    margin-top: -3px;
    font-size: 12px;
    line-height: 14px;
    padding-top: 1px;
    padding-bottom: 1px;
}

@mixin code($kind:false) {
    @include familyWeight(hack, 400);
    font-size: $textSizeXS;
    line-height: 18px;

    @if ($kind == 'attribute') {
        color: $codeColorAttribute;
    }
    @else if ($kind == 'string') {
        color: $codeColorString;
    }
    @else if ($kind == 'literal') {
        color: $codeColorLiteral;
    }
    @else if ($kind == 'number') {
        color: $codeColorNumber;
    }
    @else {
        color: $codeColorDefault;
    }

}
