$pageWidth: 1024px;
$mobileBreakpoint: 768px;
$columns: 12;
$gutter: 24px;

$bgMainColor: white;
$bgLightBlue: #f4f7fb;
$bgCardSmall: white;

$textColorTitle: #1e2b34;
$textColorMain: #677680;
$textColorGrey: #8690a1;
$textColorCardSmall: #8c9ebc;
$textColorLinkBlue: #4285f4;
$textColorLinkBlack: #555F66;
$textColorLight: #efefef;

$buttonCtaBg: #58729e;

$textSizeTitle1: 24px;
$textSizeTitle2: 22px;
$textSizeTitle3: 18px;
$textMain: 14px;
$textSmall: 11px;