$pageWidth: 1024px;
$mobileBreakpoint: 768px;
$columns: 12;
$gutter: 24px;
$pageWidthSmallPages: 800px;

$corporativeColor: #33526c;

$bgMainColor: white;
$bgLightBlue: #f4f7fb;
$bgMainHeader: $corporativeColor;
$bgCardSmall: white;
$bgBtnBlue: #4285F4;

$textColorTitle: #1e2b34;
$textColorMain: #677680;
$textColorCorporative: $corporativeColor;
$textColorGrey: #8690a1;
$textColorLight: #aeb7c5;
$textColorGreyDetails: #99A9B3;
    $textColorLinkBlack: #555F66;

$textColorWhite: white;
$textColorWhiteAlt: #dfe8ef;

$textColorGreen: #70C668;
$textColorEmphasis: $textColorCorporative;
$textColorEmphasisLight: #a1b5d6;
$textColorEmphasisDark: $textColorCorporative;

$codeColorBackground: #3D5B70;
$codeColorDefault: $bgLightBlue;
$codeColorAttribute: #9CC3F1;
$codeColorString: #9CC3F1;
$codeColorLiteral: #F5A623;
$codeColorNumber: $textColorWhite;

$lineColor: #dee3ec;
    $lineColorLight: #efefef;
    $lineColorUnderline: rgba(255, 255, 255, 0.35);
    $lineColorUnderlineLightBg: rgba(66, 133, 144, .25);
    $lineColorUnderlineLightBgHovered: rgba(66, 133, 144, .50);
    $lineColorBlueLight: #ECF0F5;
    $lineColorBlueLight2: #DFE6F1;
    $lineColorRed: #F06B72;
$lineColorBorder: #bbcbe4;
    $lineColorBorderAlt: #d9e6fc;
    $lineColorGrayTeam: #DCE4F0;
$activeColor: #F4AF45;

$textSizeTitleMain: 30px;
$textSizeTitle1: 28px;
$textSizeTitle2: 23px;
$textSizeBig: 20px;
$textSizeMain: 18px;
$textSizeSmall: 14px;
$textSizeXS: 12px;

$fontTitle: 'Lato', sans-serif;
$fontText: roboto, sans-serif;
$fontCode: hack, sans-serif;

$borderRadius: 3px;
$shadowOff: 0 7px 15px 2px transparentize($lineColorBorder, 1);
$shadow: 0 7px 15px 2px transparentize($lineColorBorder, 1-0.43);
$shadowArround: 0 0 15px 2px rgba($lineColorBorder, 1);
$shadowSpeed: .1s;

$linearGradient: linear-gradient(90deg, #FFFFFF 0%, $textColorEmphasisLight 49%, #FFFFFF 100%)