# output and logs
/tmp
/coverage/*
logs
*.log
.eslintcache
.sass-cache

# builds
.ci
.hugo
Makefile.main
public/*
static/css
static/js
artifacts
/dist
/build
bin

# dependencies
/node_modules
/bower_components
jspm_packages/
.grunt
.npm
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.yarn-integrity
package-lock.json

# environment config
.env
.env.local
.DS_Store

# documentation site
hugo/data/project.yml
hugo/content/raw
hugo/content/documentation
