0.0.0.0:8090 {
    root /var/www/public
    log stdout
    gzip

    redir 301 {
        if {>X-Forwarded-Proto} is http
        /  https://{host}{uri}
    }

    ext .html
    errors stdout {
        404 404.html
    }
}
