0.0.0.0:8090 {
	root /var/www/public
	log stdout
	gzip

	ext .html
	errors {
		log stderr
		404 404.html
	}

    proxy /api 127.0.0.1:8080 {
        without /api
        header_upstream Host {host}
        header_upstream X-Real-IP {remote}
        header_upstream X-Forwarded-For {remote}
        header_upstream X-Forwarded-Proto {scheme}
    }
}
