@font-face {
  font-family: 'icomoon';
  src:  url('icomoon.eot?bct1k0');
  src:  url('icomoon.eot?bct1k0#iefix') format('embedded-opentype'),
    url('icomoon.ttf?bct1k0') format('truetype'),
    url('icomoon.woff?bct1k0') format('woff'),
    url('icomoon.svg?bct1k0#bitcons') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.icon-med:before {
  content: "\e902";
}
.icon-mail:before {
  content: "\e900";
}
.icon-slack:before {
  content: "\e901";
}
.icon-fac:before {
  content: "\e905";
}
.icon-goo:before {
  content: "\e906";
}
.icon-lin:before {
  content: "\e907";
}
.icon-red:before {
  content: "\e908";
}
.icon-sli:before {
  content: "\e909";
}
.icon-twi:before {
  content: "\e90a";
}
.icon-you:before {
  content: "\e90b";
}
.icon-git:before {
  content: "\e90c";
}
.icon-zoom-in:before {
  content: "\e987";
}
.icon-arrow-right2:before {
  content: "\ea3c";
}
.icon-arrow-left2:before {
  content: "\ea40";
}
