{{ $headCtx := dict "ctx" . }}
{{ partial "head.html" $headCtx }}

<body>
    {{ partial "header.html" }}

    <div class="pb-5">
            <h1 class="title text-left p-0 mt-5 mb-4">Welcome to the source{d} community</h1>
        </div>
    </div>
</header>

<section id="channels" class="py-5">
    <div class="container text-dark">
        <div class="row">
            <div class="col-md-6">
                <h2 class="title-line line-yellow">Our Community Channels</h2>
                <p>Join us on the following channels to learn, contribute and collaborate with other executives, IT managers or Developers who are passionate about Code Analysis,  Engineering Effectiveness, Software Development Analytics and Machine Learning on Code.</p>
            </div>
            <div class="col-md-6">
                <div class="card light">
                    <div class="card-body p-5">
                        <a href="https://forum.sourced.tech" class="text-dark">
                            <h3 class="title-line line-yellow">source{d} Forum</h3>
                            <p>This is the forum where users and community members discuss anything source{d} related. source{d} is the data platform for the software development life cycle. Save time and modernize your codebase by gaining visibility into your software portfolio, engineering team and processes.</p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-5 text-center text-md-left">
            <div class="col-6 col-lg-3 network mb-5">
                <div class="row">
                    <div class="col-md-3">
                        <span class="ic icon-git"></span>
                    </div>
                    <div class="col-md-9">
                        <a class="nostyle" href="https://www.github.com/src-d/">
                            <h4 class="text-dark mt-3">GitHub</h4>
                        </a>
                        <p class="text-medium">All our open source in a single place</p>
                    </div>
                </div>
            </div>
            <div class="col-6 col-lg-3 network mb-5">
                <div class="row">
                    <div class="col-md-3">
                        <span class="ic icon-twi"></span>
                    </div>
                    <div class="col-md-9">
                        <a class="nostyle" href="https://www.twitter.com/sourcedtech/">
                            <h4 class="text-dark mt-3">Twitter</h4>
                        </a>
                        <p class="text-medium">Content on dev tooling, source code and ML on Code</p>
                    </div>
                </div>
            </div>
            <div class="col-6 col-lg-3 network mb-5">
                <div class="row">
                    <div class="col-md-3">
                        <span class="ic icon-you"></span>
                    </div>
                    <div class="col-md-9">
                        <a class="nostyle" href="https://www.youtube.com/sourced/">
                            <h4 class="text-dark mt-3">YouTube</h4>
                        </a>
                        <p class="text-medium">Tech talks, meetup recordings and paper reviews</p>
                    </div>
                </div>
            </div>
            <div class="col-6 col-lg-3 network mb-5">
                <div class="row">
                    <div class="col-md-3">
                        <span class="ic icon-lin"></span>
                    </div>
                    <div class="col-md-9">
                        <a class="nostyle" href="https://www.linkedin.com/company/source-d/">
                            <h4 class="text-dark mt-3">Linkedin</h4>
                        </a>
                        <p class="text-medium"></p>
                    </div>
                </div>
            </div>
            <div class="col-6 col-lg-3 network mb-5">
                <div class="row">
                    <div class="col-md-3">
                        <span class="ic icon-sli"></span>
                    </div>
                    <div class="col-md-9">
                        <a class="nostyle" href="https://www.slideshare.net/sourcedtech">
                            <h4 class="text-dark mt-3">Slideshare</h4>
                        </a>
                        <p class="text-medium"></p>
                    </div>
                </div>
            </div>
            <div class="col-6 col-lg-3 network mb-5 mb-lg-0">
                <div class="row">
                    <div class="col-md-3">
                        <span class="ic icon-fac"></span>
                    </div>
                    <div class="col-md-9">
                        <a class="nostyle" href="https://www.facebook.com/sourced.MLonCode/">
                            <h4 class="text-dark mt-3">Facebook</h4>
                        </a>
                        <p class="text-medium"></p>
                    </div>
                </div>
            </div>
            <div class="col-6 col-lg-3 network mb-5 mb-lg-0">
                <div class="row">
                    <div class="col-md-3">
                        <span class="ic icon-goo"></span>
                    </div>
                    <div class="col-md-9">
                        <a class="nostyle" href="https://plus.google.com/+sourced">
                            <h4 class="text-dark mt-3">Google +</h4>
                        </a>
                        <p class="text-medium"></p>
                    </div>
                </div>
            </div>
            <div class="col-6 col-lg-3 network mb-5 mb-lg-0">
                <div class="row">
                    <div class="col-md-3">
                        <span class="ic icon-med"></span>
                    </div>
                    <div class="col-md-9">
                        <a class="nostyle" href="https://medium.com/sourcedtech/">
                            <h4 class="text-dark mt-3">Medium</h4>
                        </a>
                        <p class="text-medium"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="open-source" class="py-5">
    <div class="container text-dark">
        <div class="row">
            <div class="col-md-6">
                <img src="img/open-source.jpg" class="img-fluid" alt="">
            </div>
            <div class="col-md-6">
                <h3 class="title-line line-yellow">We believe in Open Source and Open Science</h3>
                <p>At source{d} we are creating a suite of Open Source tools enabling "Code as Data" and "Machine Learning on Code". We are also great believers in Open Source and its philosophy.</p>
                <a href="open-source" class="btn w-100 btn-highlight">Learn More</a>
            </div>
        </div>
    </div>
</section>

<section id="newsletter" class="pt-5 pb-0">
    <div class="container">
        <div class="row text-dark">
            <div class="col-md-6">
                <h2 class="title-line h3 line-yellow">Community newsletter</h2>
                <p>Sign up for the source{d} bi-weekly newsletter to receive the latest news from source{d} and learning resources about Software Development Analytics and Machine Learning on Code.</p>
                <ul class="small-list">
                    <li>Product Announcements</li>
                    <li>Documentation & Tutorials</li>
                    <li>Press articles & blog posts</li>
                    <li>Videos & Slides</li>
                    <li>Conferences & Events</li>
                    <li>Code as Data and ML on Code Research Papers</li>
                </ul>
                <a href="http://go.sourced.tech/newsletter" class="btn btn-highlight col-md-6 mt-3 mb-5">Newsletter Sign-up!</a>
            </div>
            <div class="col-md-6">
                <img class="img-fluid mb-4" src="img/newsletter.png" alt="">
            </div>
        </div>
    </div>
</section>

<section id="events" class="py-5">
    <div class="container text-dark">
        <div class="row">
            <div class="col-md-6">
                <img class="mb-5 img-fluid" src="img/events.jpg" alt="">
            </div>
            <div class="col-md-6">
                <h3 class="title-line line-yellow">Community Events</h3>
                <p>We frequently organize online events you can attend from anywhere such as Online meetups and research paper reviews.</p>
                <p class="mb-5">We also love to speak or help organize meetups & conferences to share ideas and best practices with the community. Feel free to reach out at devrel@sourced.tech if you’d like source{d} to present or help you organize events related to Code as Data, Engineering Effectiveness and Machine Learning on Code.</p>
            </div>
        </div>
        <div class="google-calendar">
            <h2 class="text-dark mb-4">Upcoming Conferences & Meetups</h2>
            <iframe src="https://calendar.google.com/calendar/embed?showTitle=0&amp;showPrint=0&amp;mode=AGENDA&amp;height=500&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=sourced.tech_vnootou25lkv75a70l2qac65og%40group.calendar.google.com&amp;color=%23861ACA&amp;ctz=America%2FLos_Angeles" style="border-width:0" width="960" height="500" frameborder="0" scrolling="no"></iframe>
        </div>
    </div>
</section>

{{ partial "footer.html" }}
</body>
</html>
