{{ $headCtx := dict "ctx" . }}
{{ partial "head.html" $headCtx }}

<body>
    {{ partial "header.html" }}

    <div class="pb-5">
            <h1 class="title text-left p-0 mt-5 mb-4">Join our Community and contribute and collaborate with other developers</h1>
            <a href="community#newsletter" class="btn btn-purple-light mr-4 mb-3 mb-sm-5">Sign Up to Newsletter</a>
            <a href="community#events" class="btn btn-highlight-light mb-3 mb-sm-5">Event calendar</a>
        </div>
    </div>
</header>

<section id="resources" class="pt-5 pb-5">
    <div class="container">
        <header class="text-center mb-5">
            <p class="subtitle text-green" id="involved">Get Involved</p>
            <h2 class="text-dark">Resources</h2>
        </header>
        <div class="row">
            <div class="col-md-6">
                <p class="text-large">Check out our curated list of Machine Learning on Code content. The list is continuously updated with links to awesome blog posts, videos, research papers, datasets and software projects devoted to machine learning and source code. #MLonCode</p>
            </div>
            <div class="col-md-6">
                <div class="card text-white green">
                    <div class="card-body p-5">
                        <a href="https://github.com/src-d/awesome-machine-learning-on-source-code" class="ic icon-git text-white"></a>
                        <p class="card-intro mb-0">Curated List</p>
                        <h3 class="title-line line-yellow">Machine Learning on Code content</h3>
                        <p>Blog posts, videos, research papers, datasets and software projects devoted to machine learning and source code</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="newsletter" class="full-cta pt-5 pb-5">
    <div class="container">
        <header class="text-center">
            <h2 class="text-white mt-5">Sign Up to our Newsletter</h2>
            <p class="text-white">Sign up for our Machine Learning on Code newsletter to receive the latest blog posts, videos and events from source{d} and others in the community. </p>
        </header>
        <div class="col-md-10 offset-md-1 mt-4 mb-5">
            <!-- <form action="http://go.sourced.tech/l/578561/2018-08-27/3b3jx" method="post"> -->
            <form action="http://go.sourced.tech/newsletter" method="post">
                <div class="row">
                    <!-- <div class="col-md mb-3 mb-md-0">
                        <input type="text" class="form-control" name="fullname" placeholder="Margaret Hamilton">
                    </div> -->
                    <div class="col-md mb-3 mb-md-0">
                        <!-- <input type="text" class="form-control" name="email" placeholder="margaret@nasa.com"> -->
                        &nbsp;
                    </div>
                    <div class="col-md">
                        <button type="submit" class="btn btn-highlight w-100">Sign Up</button>
                    </div>
                    <div class="col-md mb-3 mb-md-0">
                            &nbsp;
                        </div>
                </div>
            </form>
            <p class="text-center text-white mt-4">We’re happy to answer any questions you might have about  community, help you find the right resources, and meet other Machine Learning on Code enthusiasts from around the world!</p>
        </div>
    </div>
</section>

<section id="talk" class="pt-5 pb-5">
    <div class="container text-dark">
        <div class="row">
            <div class="col-md-6">
                <h2 class="title-line line-yellow">Talk to us</h2>
                <p class="text-large">Join us on Slack to learn, contribute and collaborate with other developers who are passionate about the <strong>Code as Data</strong> and <strong>Machine learning on Code</strong> movements.</p>
            </div>
            <div class="col-md-6">
                <div class="card text-dark light">
                    <div class="card-body p-5">
                        <a href="https://join.slack.com/t/sourced-community/shared_invite/enQtMjc4Njk5MzEyNzM2LTFjNzY4NjEwZGEwMzRiNTM4MzRlMzQ4MmIzZjkwZmZlM2NjODUxZmJjNDI1OTcxNDAyMmZlNmFjODZlNTg0YWM" class="ic icon-slack text-light"></a>
                        <h4 class="title-line line-yellow m-0">Join Our Community</h4>
                        <p>Join hundreds of developers passionate about Code as Data and Machine Learning on Code</p>
                        <form action="">
                            <!-- <input type="text" class="form-control mb-3" placeholder="Your Email Address"> -->
                            <button type="button" onclick="location.href='https://join.slack.com/t/sourced-community/shared_invite/enQtMjc4Njk5MzEyNzM2LTFjNzY4NjEwZGEwMzRiNTM4MzRlMzQ4MmIzZjkwZmZlM2NjODUxZmJjNDI1OTcxNDAyMmZlNmFjODZlNTg0YWM';" class="btn btn-highlight w-100">Join Us Now</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-5 text-center text-md-left">
            <div class="col-md-12 mb-4">
                <p class="text-large">Follow us via these other channels</p>
            </div>
            <div class="col-6 col-lg-3 network mb-5">
                <div class="row">
                    <div class="col-md-3">
                        <span class="ic icon-git"></span>
                    </div>
                    <div class="col-md-9">
                        <a class="nostyle" href="https://www.github.com/src-d/">
                            <h4 class="text-dark mt-3">GitHub</h4>
                        </a>
                        <p class="text-medium">All our open source in a single place</p>
                    </div>
                </div>
            </div>
            <div class="col-6 col-lg-3 network mb-5">
                <div class="row">
                    <div class="col-md-3">
                        <span class="ic icon-twi"></span>
                    </div>
                    <div class="col-md-9">
                        <a class="nostyle" href="https://www.twitter.com/sourcedtech/">
                            <h4 class="text-dark mt-3">Twitter</h4>
                        </a>
                        <p class="text-medium">Content on dev tooling, source code and ML on Code</p>
                    </div>
                </div>
            </div>
            <div class="col-6 col-lg-3 network mb-5">
                <div class="row">
                    <div class="col-md-3">
                        <span class="ic icon-you"></span>
                    </div>
                    <div class="col-md-9">
                        <a class="nostyle" href="https://www.youtube.com/sourced/">
                            <h4 class="text-dark mt-3">YouTube</h4>
                        </a>
                        <p class="text-medium">Tech talks, meetup recordings and paper reviews</p>
                    </div>
                </div>
            </div>
            <div class="col-6 col-lg-3 network mb-5">
                <div class="row">
                    <div class="col-md-3">
                        <span class="ic icon-lin"></span>
                    </div>
                    <div class="col-md-9">
                        <a class="nostyle" href="https://www.linkedin.com/company/source-d/">
                            <h4 class="text-dark mt-3">Linkedin</h4>
                        </a>
                        <p class="text-medium"></p>
                    </div>
                </div>
            </div>
            <div class="col-6 col-lg-3 network mb-5">
                <div class="row">
                    <div class="col-md-3">
                        <span class="ic icon-sli"></span>
                    </div>
                    <div class="col-md-9">
                        <a class="nostyle" href="https://www.slideshare.net/sourcedtech">
                            <h4 class="text-dark mt-3">Slideshare</h4>
                        </a>
                        <p class="text-medium"></p>
                    </div>
                </div>
            </div>
            <!-- <div class="col-6 col-lg-3 network mb-5 mb-lg-0">
                <div class="row">
                    <div class="col-md-3">
                        <span class="ic icon-red"></span>
                    </div>
                    <div class="col-md-9">
                        <a class="nostyle" href="https://www.reddit.com/r/MachineLearning">
                            <h4 class="text-dark mt-3">Reddit</h4>
                        </a>
                        <p class="text-medium"></p>
                    </div>
                </div>
            </div> -->
            <div class="col-6 col-lg-3 network mb-5 mb-lg-0">
                <div class="row">
                    <div class="col-md-3">
                        <span class="ic icon-fac"></span>
                    </div>
                    <div class="col-md-9">
                        <a class="nostyle" href="https://www.facebook.com/sourced.MLonCode/">
                            <h4 class="text-dark mt-3">Facebook</h4>
                        </a>
                        <p class="text-medium"></p>
                    </div>
                </div>
            </div>
            <div class="col-6 col-lg-3 network mb-5 mb-lg-0">
                <div class="row">
                    <div class="col-md-3">
                        <span class="ic icon-goo"></span>
                    </div>
                    <div class="col-md-9">
                        <a class="nostyle" href="https://plus.google.com/+sourced">
                            <h4 class="text-dark mt-3">Google +</h4>
                        </a>
                        <p class="text-medium"></p>
                    </div>
                </div>
            </div>
            <div class="col-6 col-lg-3 network mb-5 mb-lg-0">
                <div class="row">
                    <div class="col-md-3">
                        <span class="ic icon-med"></span>
                    </div>
                    <div class="col-md-9">
                        <a class="nostyle" href="https://medium.com/sourcedtech/">
                            <h4 class="text-dark mt-3">Medium</h4>
                        </a>
                        <p class="text-medium"></p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>

<section id="events" class="events pb-5">
    <div class="container pt-5 text-white">
        <header class="text-center col-md-8 offset-md-2 mb-5">
            <p class="subtitle text-yellow">Events</p>
            <h2 class="">Join us on our Events to Learn More</h2>
            <p class="text-large">Join us at the following events to learn more about how we’re leading the Code as Data and Machine Learning on Code movements.</p>
        </header>
        <div class="row mb-5">
            <div class="col-md-4 offset-md-1 text-center mb-4 mb-md-0">
                <img src="img/icons/placeholder1.svg" height="250" width="250" alt="">
            </div>
            <div class="col-md-6">
                <h3 class="title-line line-magenta">Online Meetup</h3>
                <p class="text-large">We frequently organize online events you can attend such as paper reviews, machine learning workshops, technology tutorials among much more. Stay tuned and join the community.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 offset-md-1 order-12 order-md-1">
                <h3 class="title-line line-magenta">Conferences & Meetups</h3>
                <p class="text-large">We love to speak or help organize meetups & conferences to share ideas and best practices with the community. Feel free to reach out at devrel@sourced.tech if you’d like source{d} to present or help you organize events related to Code as Data and Machine Learning on Code.</p>
            </div>
            <div class="col-md-4 text-center order-1 order-md-12 mb-4 mb-md-0">
                <img src="img/icons/placeholder1.svg" height="250" width="250" alt="">
            </div>
        </div>
    </div>
</section>

<section class="pt-5 pb-5">
    <div class="container">
        <div class="google-calendar">
            <h2 class="text-dark mb-4">Upcoming Conferences & Meetups</h2>
            <iframe src="https://calendar.google.com/calendar/embed?showTitle=0&amp;showPrint=0&amp;mode=AGENDA&amp;height=500&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=sourced.tech_vnootou25lkv75a70l2qac65og%40group.calendar.google.com&amp;color=%23182C57&amp;ctz=America%2FLos_Angeles" style="border-width:0" width="960" height="500" frameborder="0" scrolling="no"></iframe>
        </div>
    </div>
</section>

{{ partial "try-sourced.html" }}

{{ partial "footer.html" }}
</body>
</html>
