{{ $categories := $.categories.categories }}

<section class="projects band band_grey band_condensed">
    {{ range $categoryName := $categories.order }}
        {{ $category := index $categories.contents $categoryName }}
        {{ $title := $category.name }}
        {{ $gradient := $category.colors }}

        <div class="band__container">
            <h1 class="striked">
                {{ partial "svg" $categoryName }}
                <span class="title">{{ $title }}</span>
                <span id="{{ $categoryName }}" class="anchor"></span>
            </h1>
            {{ if $category.items }}
                <div class="cards cards_projects">
                    <div class="cards__wrap">
                        {{ range $category.items }}
                            {{ $context := dict "title" .name "icon" .logo "content" .desc "link" .url "gradient" $gradient "zip" .zip_size "raw" .raw_size "date" .created_at }}
                            {{ partial "card.html" $context }}
                        {{ end }}
                    </div>
                </div>
            {{ else }}
                <p class="cards_projects_no-data">{{ $.categories.no_data_message }}</p>

                <div class="cards cards_projects">
                    <div class="cards__wrap">
                        {{ with $.slack }}
                            <div class="slack-form__root horizontal-slack-join"
                                data-button="{{ .msgs.button }}"
                                data-endpoint="{{ .endpoint }}"
                                data-fetch-error="{{ .msgs.fetch_error }}"
                                data-horizontal="horizontal"
                                data-logo="{{ "/img/icons/slack-enter-color.svg" | relURL }}"
                                data-placeholder="{{ .placeholder }}"
                                data-server-error="{{ .msgs.server_error }}"
                                data-success="{{ .msgs.success }}"
                                data-title="{{ .title }}"
                                data-wait="{{ .msgs.wait }}"
                                >
                            </div>
                        {{ end }}
                    </div>
                </div>
            {{ end }}
        </div>
    {{ end }}
</section>
