<section class="projects band band_grey">
    <div class="band__container">
        {{ range $categoryName := .categories.order }}
            {{ $category := index $.categories.contents $categoryName }}
            {{ $title := $category.name }}
            {{ $gradient := $category.colors }}
            <h1 class="striked">
                {{ partial "svg" $categoryName }}
                <span class="title">{{ $title }}</span>
                <span id="{{ $categoryName }}" class="anchor"></span>
            </h1>
            <div class="cards cards_projects">
                {{ if $category.items }}
                    {{ range $category.items }}
                        {{ $context := dict "title" .name "icon" .logo "content" .desc "link" .url "gradient" $gradient "zip" .zip_size "raw" .raw_size "date" .created_at }}
                        {{ partial "card.html" $context }}
                    {{ end }}
                {{ else }}
                    <p class="cards_projects_no-data">{{ $.no_data_message }}</p>
                {{ end }}
            </div>
        {{ end }}
    </div>
</section>
