/*
 * Global classes that can be used whenever and wherever.
 */

.as-is {
    text-transform: none !important;
}

.mobile-only {
    display: none;
}

@include media-breakpoint-down(sm) {
    .mobile-hidden {
        display: none;
    }

    .mobile-only {
        display: block;
    }
}
