@mixin clearfix() {
  &:after {
    content: " ";
    display: block;
    clear: both;
  }
}

@mixin columns($num) {
  float: left;
  margin-left: $gutter-size;
  @include width($num);
}

@mixin width($num) {
  width: grid-size($num);
}

@function grid-size($num) {
  @return ($column-size * $num) + ($gutter-size * ($num - 1));
}

@function grid-offset-size($num) {
  @return ($column-size * $num) + ($gutter-size * $num - 1);
}

@mixin offset($num) {
  margin-left: grid-offset-size($num);
}

@mixin row() {
  width: 100%;
  @include clearfix;

  > *:first-child {
    margin-left: 0 !important;
  }
}

@mixin container() {
  margin: 0 auto;
  width: ($num-columns * $column-size) + (($num-columns - 1) * $gutter-size);
}
