@mixin link() {
  text-decoration: underline;
  cursor: pointer;
}

@mixin link-light-bg() {
  @include link;
  color: $color-links;

  &:hover {
    color: $color-links-hover;
  }
}

@mixin link-dark-bg() {
  @include link;
  color: $color-links-darkbg;

  &:hover {
    color: $color-links-darkbg-hover;
  }
}

@mixin corporate-gradient() {
  background: $color-dark-blue;
  background: -webkit-linear-gradient(left, $color-dark-blue, $color-light-blue);
  background: -o-linear-gradient(right, $color-dark-blue, $color-light-blue);
  background: -moz-linear-gradient(right, $color-dark-blue, $color-light-blue);
  background: linear-gradient(to right, $color-dark-blue, $color-light-blue);
}

@mixin card-shadow() {
  box-shadow: 3px 3px 5px rgba(0, 0, 0, .1);
}

@mixin title($size) {
  font-size: $size;
  line-height: 1.2em;
  text-transform: lowercase;
}

@mixin title-big() {
  @include title($font-size-title-big);
}

@mixin svg-color($icon, $color) {
  .svg-icon--#{$icon} {
    fill: $color;
  }
}

@mixin title-pill($color, $width, $height, $spacing) {
  position: relative;

  &:before {
    position: absolute;
    content: " ";
    display: block;
    border-radius: 45px;
    height: $height;
    width: $width;
    left: -($width + $spacing);
    top: calc(50% - #{$height / 2});
    background-color: $color;
  }
}

@mixin default-title-big() {
  @include title-big;
  @include title-pill($color-title-big-pill, $width-title-big-pill, $height-title-big-pill, $size-title-big-pill-spacing);
  color: $color-title-big;
}

@mixin white-title-big() {
  @include title-big;
  @include title-pill($color-white, $width-title-big-pill, $height-title-big-pill, $size-title-big-pill-spacing);
  color: $color-white;
}

@mixin default-title-medium() {
  @include title($font-size-title-medium);
  @include title-pill($color-title-medium-pill, $width-title-medium-pill, $height-title-medium-pill, $size-title-medium-pill-spacing);
  color: $color-title-medium;
}
