@mixin link() {
  text-decoration: underline;
  cursor: pointer;
}

@mixin link-light-bg() {
  @include link;
  color: $color-links;

  &:hover {
    color: $color-links-hover;
  }
}

@mixin link-dark-bg() {
  @include link;
  color: $color-links-darkbg;

  &:hover {
    color: $color-links-darkbg-hover;
  }
}

@mixin corporate-gradient() {
  background: $color-dark-blue;
  background: -webkit-linear-gradient(left, $color-dark-blue, $color-light-blue);
  background: -o-linear-gradient(right, $color-dark-blue, $color-light-blue);
  background: -moz-linear-gradient(right, $color-dark-blue, $color-light-blue);
  background: linear-gradient(to right, $color-dark-blue, $color-light-blue);
}

@mixin card-shadow() {
  box-shadow: 3px 3px 5px rgba(0, 0, 0, .1);
}
