body {
    font-family: $font-default;
    font-size: $font-size-body;
    line-height: 1.3em;

    @include media-breakpoint-down(sm) {
        font-size: $font-size-body-mobile;
    }
}

h1, h2, h3, h4, h5, h6 {
    font-family: $font-titles;
}

.svg-icon {
    svg {
        display: block;
    }

    &_inherited-fill svg {
        fill: inherit !important;
    }
}

.anchor {
    position: absolute;
    height: 140px;
    top: -140px;
    left: 50%;
    transform: translateX(-50%);
    width: 20px;
}

.band {
    padding: 90px 0 90px;
    width: 100%;

    &_grey {
        background: $color-main-bg;
        border: 1px solid transparent;
    }

    &_condensed {
        padding-top: 0px;

        .band__container > h1 {
            margin-bottom: -10px;
            margin-top: 50px;
        }
    }

    &__container {
        @include container;

        & > h1 {
            @include default-title-big;

            &.striked {
                text-align: center;
                position: relative;

                &:before {
                    height: 1px;
                    width: 100%;
                    left: 0;
                    top: 100%;
                    margin-top: $size-striked-title-pull-top;
                    background-color: $color-striked-title-line;
                }

                span.title {
                    position: relative;
                    z-index: 1;
                    background: $color-main-bg;
                    padding: 0 $padding-projects-title;
                }

                @include media-breakpoint-down(sm) {

                    &:before {
                        display: none;
                    }

                    span.title {
                        background-color: transparent;
                    }
                }
            }
        }

        & > h2 {
            @include default-title-medium;
        }
    }

    @include media-breakpoint-down(sm) {
        padding: 45px 0;
    }
}

.contact-us {
    text-align: center;

    a {
      display: block;
      text-decoration: none;

      &.contact-email {
        font-size: $font-size-contact-email;
        color: $color-contact-email-light;
      }

      &.pgp-key {
        @include svg-color("key", $color-contact-pgp-key-icon-light);
        font-size: $font-size-contact-text;
        color: $color-contact-text-light;

        & > * {
          vertical-align: middle;
          display: inline-block;
        }

        span + span {
          padding-left: $gutter-size / 5;
          // svg icon has a weird size, so aligning the two items in the middle
          // does not make a very pleasant centering
          margin-top: -5px;
        }
      }
    }

    &_dark {
        a.contact-email {
            color: $color-contact-email-dark;
        }

        a.pgp-key {
            @include svg-color("key", $color-contact-pgp-key-icon-dark);
            color: $color-contact-text-dark;
        }
    }
}
