body {
    @include textMedium;
    @include setupHeader(400px);
}

.fullWidth {
    position: relative;
    width:100%;
    z-index: 5;    
    background: $bgMainColor;

    &.opaque {
        background-color: $bgLightBlue;
    }
}

.mainContainer {
    width: $pageWidth;
    margin: 0 auto;
    padding: 27px $midGutter;
    z-index: 2;
    position: relative;
    text-align: center;

    &.fullWidth {
        width: 100%;
    }
}

header {
    text-align: center;
}

.code {
    font-family: $fontCode;
}

h1 {
    @include mainTitle;
}

h2, h4 {
    @include title1;
}

h3 {
    @include title2;
}

h1, h2, h3, h4 {
    text-align: center;
}

b {
    font-weight: bolder;
}

.darkButton {
    @include button;
    box-shadow: 0px 5px 15px 1px rgba(125,145,177,0.66);
    margin-bottom: 20px;
    transition: box-shadow 200ms ease-in;

    &:hover {
        box-shadow: 0px 5px 15px 1px rgba(125,145,177,1);
    }
}

.emphasisButton {
    @include textMedium;
    color: $textColorWhite;
    width: 282px;
    background: $textColorEmphasis;
    box-shadow: 0px 5px 15px 1px rgba(125,145,177,0.66);
    padding: 14px 50px;
    display: block;
    border: none;
    border-radius: $borderRadius;
    text-align: center;
    margin: 15px auto 25px;
}

.links {
    margin-top: 20px;

    a,
    .link {
        display: block;
    }
}

@media only screen and (max-width: $wideScreenBreakpoint) {
    .mainContainer,
    body .topbar > .wrap {
        width: 90%;
    }

    .desktopOnly {
        display: none;
    }
}
