// Colors
$color-dark-blue: #33526c;
$color-light-blue: #1b78b7;
$color-pale-blue: #dae4e4;
$color-dark-grey: #adb6bf;
$color-medium-grey: #e6e9ec;
$color-pale-grey: #ecf0f1;
$color-light-greysh: #ebf0f1;
$color-light-grey: #737373;
$color-lightest-grey: #e8eced;
$color-white: white;
//..
$color-pill-button-main: $color-light-blue;
$color-pill-button-hover-main: $color-white;
$color-pill-button-hover-bg: $color-pill-button-main;
//..
$color-pill-button-white-main: $color-white;
$color-pill-button-white-hover-main: $color-dark-blue;
$color-pill-button-white-hover-bg: $color-pill-button-white-main;
//..
$color-text-default: black;
//..
$color-links: $color-light-blue;
$color-links-hover: $color-dark-blue;
$color-links-visited: $color-dark-blue;
$color-links-darkbg: $color-white;
$color-links-darkbg-hover: $color-pale-grey;
//..
$color-clear-bg: $color-white;
$color-main-bg: $color-light-greysh;
//..
$color-hero-bg: $color-dark-blue;
$color-hero-text: $color-white;
$color-hero-arrow: $color-white;
//..
$color-title-big: $color-light-blue;
$color-title-big-pill: $color-light-blue;
//..
$color-title-medium: $color-dark-blue;
$color-title-medium-pill: #adb6bf;
//..
$color-slack-form-bg: $color-white;
$color-slack-form-description: $color-dark-blue;
$color-slack-form-input-placeholder: $color-dark-grey;
$color-slack-form-input-border: $color-dark-grey;
$color-slack-form-body-normal-bg: rgba(0,0,0,.2);
$color-slack-form-body-success-bg: change-color(#64e200, $alpha: .55);
$color-slack-form-body-error-bg: change-color(#ff1500, $alpha: .55);
$color-slack-form-message-icon: $color-pill-button-white-hover-bg;
//..
$color-topbar-bg: $color-dark-blue;
$color-topbar-menu-item: $color-white;
$color-topbar-menu-item-active-bg: rgba(0, 0, 0, .2);
$color-topbar-submenu-bg: $color-white;
$color-topbar-submenu-icon-bg: $color-dark-grey;
$color-topbar-submenu-hover-bg: #e9eeef;
$color-topbar-submenu-hover-border: $color-dark-blue;
$color-topbar-submenu-hover: #5b92be;
$color-topbar-menu-toggle: white;
$color-topbar-menu-mobile-bg: white;
$color-topbar-menu-mobile-shadow: rgba(0, 0, 0, .5);
$color-topbar-menu-mobile-item-active: rgba(27, 120, 183, .1);
$color-topbar-menu-mobile-close-bg: $color-light-blue;
$color-topbar-menu-mobile-close-text: white;
//..
$color-secondary-nav-bg: rgba(0, 0, 0, .3);
//..
$color-roadmap-text: $color-white;
//..
$color-terminal-text: #b7bfc7;
$color-terminal-keyword: #c3d31b;
$color-terminal-special: #e66cd7;
$color-terminal-literals: #3eb1d0;
$color-terminal-bg: #2d4861;
$color-terminal-header-bg: $color-medium-grey;
$color-terminal-header-btn-bg: $color-dark-grey;
$color-terminal-code-bg: #33526c;
//..
$color-examples-dot: $color-light-blue;
$color-examples-dot-border: $color-light-blue;
//..
$color-footer-text: $color-pale-grey;
$color-contact-text-light: $color-pale-grey;
$color-contact-text-dark: $color-light-blue;
$color-footer-links-hover: $color-pale-blue;
$color-footer-titles: $color-white;
$color-footer-titles-pill: rgba(255, 255, 255, .1);
$color-footer-mobile-buttons: rgba(0, 0, 0, .1);
$color-contact-email-light: $color-white;
$color-contact-email-dark: $color-light-blue;
$color-contact-pgp-key-icon-light: rgba(255, 255, 255, .3);
$color-contact-pgp-key-icon-dark: transparentize($color-light-blue, .7);
$color-footer-social-icon-bg: rgba(255, 255, 255, .1);
$color-footer-slack-band-title: white;
$color-footer-slack-band-bg: rgba(0, 0, 0, .3);
$color-footer-slack-band-error-bg: #ed1c24;
$color-footer-slack-band-error-border: #9e0039;
$color-footer-slack-band-success-bg: #64b300;
$color-footer-slack-band-success-border: #197b30;
//..
$color-projects-icon: $color-terminal-text;
$color-striked-title-line: $color-terminal-text;
//..
$color-card-background: $color-clear-bg;
$color-card-project-title: $color-dark-blue;
//..
$color-careers-benefits-dot: $color-terminal-text;
$color-positions-filter-border: #ebebeb;
$color-positions-filter-dot: #d2d2d2;
$color-positions-filter-dot-active: $color-light-blue;
$color-position-job-feature: rgba(0, 0, 0, .7);
//..
$color-project-badges-bg: $color-pale-blue;
$color-project-header-text: white;
$color-project-header-logo: white;
//..
$color-project-code-bg: $color-pale-grey;
$color-project-code: $color-light-grey;
$color-project-list-dot: $color-dark-grey;
$color-project-table-border: $color-light-grey;
$color-project-table-heading-bg: $color-dark-grey;
$color-project-table-even-row-bg: $color-pale-grey;
$color-project-table-even-row-code-bg: white;

// Text sizes
$font-size-body: 20px;
$font-size-body-mobile: 16px;
$font-size-menu: 24px;
$font-size-submenu: 21px;
$font-size-title-big: 48px;
$font-size-title-big-mobile: 36px;
$font-size-title-medium: 30px;
$font-size-title-medium-mobile: 24px;
$font-size-title-small: 24px;
$font-size-pill-button: 21px;
$font-size-pill-button-mobile: 24px;
$font-size-terminal-source-code: 14px;
$font-size-signature: 48px;
$font-size-footer-section: 16px;
$font-size-footer-slack-band-title: 24px;
$font-size-contact-email: 24px;
$font-size-title-xsmall: 21px;
$font-size-large: 24px;
$font-size-small: 18px;
$font-size-xsmall: 16px;
$font-size-xxsmall: 14px;
$font-size-micro: 12px;
$font-size-footer-titles: 21px;
$font-size-footer-text: $font-size-xsmall;
$font-size-contact-text: $font-size-xsmall;
$font-size-secondary-nav-item: 21px;
$font-size-secondary-nav-item-small: 18px;
$font-size-secondary-nav-item-smaller: 16px;
$font-size-testimonial-usernames: 18px;
$font-size-slack-form-title: 36px;
$font-size-slack-band-message: 16px;
$font-size-positions-filter: 18px;
$font-size-positions-btn: 18px;
$font-size-project-nav-title: 30px;
$font-size-topbar-menu-mobile: 26px;
$font-size-slack-title-mobile: 26px;
$font-size-footer-links-title: 21px;

// Line Height
$line-height-condensed: 1em;
$line-height-small: 1.2em;
$line-height-tall: 1.2em;
$line-height-projects-title: 30px;

// Font families
$font-roboto: 'Roboto', sans-serif;
$font-source-sans-pro: 'Source Sans Pro', sans-serif;
$font-source-code: 'Hack', 'monaco', monospace;
$font-caveat: 'Caveat', cursive;
$font-icons: 'FontAwesome';
$font-default: $font-source-sans-pro;
$font-titles: $font-roboto;
$font-menus: $font-roboto;
$font-handwritten: $font-caveat;

// Grid settings
$column-size: 70px;
$gutter-size: 30px;
$num-columns: 12;

// Heights and widths
$height-pill-buttons: 45px;
$border-width-pills: 2px;
$width-footer-slack-band-message-icon-border: 2px;
//..
$height-title-big-pill: 15px;
$width-title-big-pill: 90px;
$size-title-big-pill-spacing: 15px;
$height-title-medium-pill: 15px;
$width-title-medium-pill: 30px;
$size-title-medium-pill-spacing: 15px;
$size-title-pill-spacing-mobile: 5px;
//..
$height-title-footer-pill: 15px;
$width-title-footer-pill: 30px;
$size-title-footer-pill-spacing: 7px;
$size-title-footer-spacing: $gutter-size / 3 - 1px;
//..
$height-slack-form-logo: 110px;
$height-slack-form-input: 45px;
$height-slack-form-message: 30px;
$height-slack-form-horizontal-message: 20px;
$width-slack-form-submit: 240px;
//..
$size-button-spacing: $gutter-size / 2;
//..
$size-terminal-header-btn: $gutter-size / 2;
$size-terminal-header-btn-spacing: $gutter-size / 4;
//..
$size-examples-dot: 15px;
$size-examples-dot-spacing: 10px;
$size-examples-dot-border: 3px;
$width-examples-arrow: 20px;
$height-examples-arrow: 30px;
$size-examples-arrow-spacing: 10px;
$width-examples-navigation: 150px;
//..
$height-topbar: 75px;
$height-topbar-mobile: 50px;
$height-topbar-logo: 45px;
$height-topbar-logo-mobile: 30px;
$height-secondary-nav: 60px;
//..
$width-testimonials-avatar: 90px;
//..
$size-button-spacing: $gutter-size / 2;
//..
$width-topbar-submenu-border-size: 5px;
$size-topbar-menu-mobile-close: 30px;
$height-topbar-menu-mobile-close-strip: 4px;
$width-topbar-menu-mobile-close-strip: 30px;
$height-topbar-menu-mobile-back: 50px;
$height-topbar-menu-mobile-item: 50px;
$size-topbar-menu-toggle: 30px;
$height-topbar-menu-toggle-strip: 4px;
$width-topbar-menu-toggle-strip: 30px;
$padding-right-topbar-menu-toggle: 15px;
$padding-left-topbar-menu-mobile-item: 45px;
$size-max-topbar-menu-mobile: 400px;
//..
$size-roadmap-photo: 90px;
$size-roadmap-photo-spacing: $gutter-size;
//..
$size-secondary-nav-item-spacing: $gutter-size / 2;
//..
$height-cards-wrap-mobile: 250px;
$margin-top-cards-mobile: 45px;
$width-card-mobile: 380px;
$size-card-mobile-spacing: 15px;
$height-card-figure-mobile: 60px;
$size-card-figure-icon-mobile: 30px;
$size-card-top-border: 7px;
$size-card-arrow: 30px;
$size-card-srcd-logo: 45px;
$size-card-proy-logo: 45px;
$size-card-author-image: 60px;
$size-card-image-height: 100px;
//..
$size-project-card-height: 75px;
$size-project-card-icon: 30px;
//..
$size-projects-title-icon: 45px;
//..
$size-codepills-raw-height: 11px;
$size-codepills-raw-width: 15px;
$size-codepill-raw-vertical-correction: 4px / 2;
$size-codepills-project-height: 30px;
$size-codepills-project-width: $size-codepills-raw-width * $size-codepills-project-height / $size-codepills-raw-height;
$size-codepill-project-vertical-correction: $size-codepills-project-height * $size-codepill-raw-vertical-correction / $size-codepills-raw-height;
//..
$size-footer-social-icon-spacing: 15px;
$size-footer-social-icon: 45px;
$size-footer-social-icon-image: 30px;
$size-footer-slack-band: 120px;
$size-footer-slack-logo: 90px;
$size-footer-slack-input: 45px;
$size-footer-slack-button: 45px;
$size-footer-slack-band-right-distance: 30px;
$size-footer-slack-band-bottom-distance: -10px;
$max-wdith-footer-sitemap-mobile: 285px;
$height-footer-mobile-buttons: 45px;
$padding-horizontal-footer-mobile-buttons: 10px;
$size-footer-mobile-buttons-spacing: 5px;
$size-footer-mobile-buttons-title-spacing: 10px;
//..
$size-striked-title-pull-top: -26px;
$size-striked-title-pull-top-mobile: -19px;
//..
$size-projects-spacing: 60px;
$size-projects-title-icon-spacing: 7px;
$size-projects-section-title-spacing: 45px;
//..
$height-hero-info: 465px;
//..
$size-team-social: 30px;
$bottom-team-social: 5px;
$right-team-social: 25px;
//..
$max-width-circles-info: 240px;
//..
$height-stack-pipeline: 45px;
$width-stack-pipeline: 28px;
//..
$size-careers-benefits-list-item-dot-spacing-top: ($gutter-size / 2) + ($font-size-body / 2) - 1px;
$size-careers-benefits-list-item-dot: 10px;
//..
$height-position-filter: $gutter-size;
$size-position-filter-spacing: $gutter-size / 2;
$height-positions-btn-mobile: 40px;
$size-position-filter-dot: 16px;
$height-positions-job-header: 100px;
$size-positions-job-header-icon: 45px;
$width-positions-job-header-icon-wrap: 75px;
$size-positions-job-feature-icon: 20px;
$width-positions-btn: 180px;
$height-positions-btn: $gutter-size;
//..
$size-project-badges-spacing: $gutter-size / 3;
$size-project-header-large-spacing: 60px;
$size-project-header-logo-circle: 180px;
$size-project-header-logo-picture: 120px;
//..
$size-hero-arrow: 50px;
$padding-top-hero-slack: 15px;
//..
$height-slack-logo-mobile: 50px;
$height-slack-title-mobile: $height-slack-logo-mobile;
$margin-left-slack-title-mobile: 15px;
$padding-top-slack-desc-mobile: 8px;
$padding-bottom-slack-desc-mobile: 45px;
//..
$padding-section-vertical: 90px;
$padding-section-vertical-mobile: 45px;
//..
$padding-top-home-hero-mobile: 23px + $height-topbar-mobile;
//..
$padding-slack-form: 0;
$margin-bottom-slack-form-input: 15px;
$margin-bottom-slack-form-submit-button: 15px;
$margin-bottom-slack-form-message: 15px;
$margin-top-footer-slack: -($padding-section-vertical / 2);
$padding-top-slack-form-header: 15px;
$padding-lateral-slack-form: 2 * $padding-top-slack-form-header;
$padding-lateral-slack-form-header: 2 * $padding-top-slack-form-header;
$margin-bottom-slack-form-logo: 20px;
$margin-bottom-slack-form-title: 15px;
$padding-lateral-input: 15px;
$margin-right-slack-form-message-icon: 10px;
$padding-bottom-slack-form-description: 60px;
//..
$margin-hero-desc-vertical: 30px;
$padding-hero-vertical: 90px;
//..
$padding-pill-button-sides: 25px;
//..
$padding-terminal-header-vertical: $gutter-size / 3;
$padding-terminal-header-horizontal: $gutter-size / 2;
//..
$margin-examples-title-medium-top: $gutter-size / 4;
$padding-examples-desc-vertical: $gutter-size;
$padding-examples-project-bottom: $gutter-size;
$width-examples-project-button: 250px;
$padding-examples-project-button: $gutter-size;
//..
$padding-topbar-vertical: 15px;
$padding-topbar-menu-vertical-spacing: $gutter-size / 3;
$padding-topbar-menu-horizontal-spacing: $gutter-size / 2;
$padding-topbar-submenu-item: $gutter-size / 4;
$padding-secondary-nav-item: 10px;
//..
$padding-card: $gutter-size / 2;
//..
$padding-projects-title: 10px;
//..
$margin-topbar-submenu-arrow-right: $padding-topbar-menu-horizontal-spacing + 8px;
$margin-topbar-menu-spacing: $gutter-size / 4;
$padding-roadmap-vertical: $gutter-size;
$padding-roadmap-paragraph-mobile: 10px;
$padding-roadmap-paragraph-vertical: $gutter-size / 2;
$padding-roadmap-photo-top: $padding-roadmap-paragraph-vertical + $font-size-title-big + ($gutter-size / 2);
$padding-roadmap-signature: $gutter-size / 2;
$padding-roadmap-signature-name-bottom: $gutter-size / 2;
$width-roadmap-links-mobile: 210px;
$margin-top-roadmap-links-mobile: 22px;
//..
$padding-footer-contact-vertical: 45px;
$padding-footer-social-vertical: 45px;
//..
$size-circle-image: 200px;
$size-circles-between-groups: 60px;
$size-circles-below-group-name: 45px;
$size-circles-above-item-title: 15px;
$size-circles-below-item-title: 15px;
//..
$size-stack-between-groups: 120px;
$size-stack-below-group-name: 60px;
//..
$margin-top-careers-content: 45px;
$margin-bottom-careers-section: 90px;
$padding-left-careers-benefits-list-item: 20px;
//..
$padding-left-position-filter: $gutter-size;
$padding-right-position-filter: $gutter-size / 2;
$padding-position-job-footer: $gutter-size / 2;
$padding-position-job-feature-spacing: 8px;
//..
$padding-top-project-header: $height-topbar + $height-secondary-nav;
$padding-top-project-header-desc: 60px;
$padding-bottom-project-header-desc: 120px;
$size-project-content-headings-top-spacing: $gutter-size;
$size-project-content-headings-bottom-spacing: $gutter-size / 2;
$size-project-nav-logo: 30px;
$margin-left-project-nav-menu: $gutter-size;
$size-project-nav-github-icon: 30px;
$padding-vertical-project-code: 2px;
$padding-horizontal-project-code: 5px;
$padding-project-code-block: $gutter-size;
$margin-project-code-block: $gutter-size;
$padding-left-project-list: $gutter-size;
$size-left-spacing-project-list-dot: -19px;
$size-top-spacing-project-list-dot: 8px;
$size-project-list-dot: 8px;
$padding-vertical-project-table-cell: 10px;
$padding-horizontal-project-table-cell: 15px;
$padding-left-project-ordered-list: 20px;
//..
$height-blog-cards-mobile: 270px;
$height-blog-cards-figure-height-mobile: 80px;
//..
$width-slack-form-horizontal-input-mobile: 315px;
$width-slack-form-horizontal-button-mobile: 250px;
$margin-top-slack-form-horizontal-elements: 20px;
$size-slack-form-horizontal-message-spacing: -40px;
//..
$width-custom-page: 90%;
$max-width-custom-page: 768px;
$padding-top-custom-page-last-update: 5px;

// Radius
$border-radius-main: 5px;
$border-radius-pill-style: $height-pill-buttons / 2;
$border-radius-input: $height-slack-form-input / 2;

// Shadows
$shadow-main: 3px 3px 5px rgba(0, 0, 0, .1);
$shadow-main-hover: 3px 3px 5px 0 rgba(0, 0, 0, .2);
$shadow-color-pill-button-hover: 0 0 1px 5px rgba(201, 216, 225, 1);
$shadow-color-pill-button-white-hover: 0 0 1px 5px rgba(60, 118, 159, 1);

// Transitions
$transition-main-time: .3s;
$transition-main-effect: ease-in;

// Borders
$border-width-person-card: 5px;
$border-person-card: $border-width-person-card solid $color-lightest-grey;
