// Colors
$color-dark-blue: #33526c;
$color-light-blue: #1b78b7;
$color-pale-blue: #dae4e4;
$color-dark-grey: #adb6bf;
$color-medium-grey: #e6e9ec;
$color-pale-grey: #ecf0f1;

// Text sizes
$text-size-body: 20px;
$text-size-menu: 24px;
$text-size-submenu: 21px;
$text-size-card-titles: 21px;
$text-size-h1: 48px;
$text-size-h2: 30px;
$text-size-h3: 24px;
$text-size-footer-titles: 21px;
$text-size-footer-text: 16px;

// Font families
$font-roboto: 'Roboto', sans-serif;
$font-source-sans-pro: 'Source Sans Pro', sans-serif;
$font-source-code: 'Hack', 'monaco', monospace;