// Colors
$color-dark-blue: #33526c;
$color-light-blue: #1b78b7;
$color-pale-blue: #dae4e4;
$color-dark-grey: #adb6bf;
$color-medium-grey: #e6e9ec;
$color-pale-grey: #ecf0f1;
$color-white: white;

$color-text-default: black;

$color-links: $color-light-blue;
$color-links-hover: $color-dark-blue;
$color-links-darkbg: $color-white;
$color-links-darkbg-hover: $color-pale-grey;

$color-hero-bg: $color-dark-blue;
$color-hero-text: $color-white;

$color-title-big: $color-light-blue;
$color-title-big-pill: $color-light-blue;

$color-title-medium: $color-dark-blue;
$color-title-medium-pill: #ADB6BF;

$color-slack-form-bg: $color-white;

$color-pill-button-text: $color-light-blue;
$color-pill-button-border: $color-light-blue;
$color-pill-button-hover-text: $color-white;
$color-pill-button-hover-bg: $color-light-blue;
$color-pill-button-hover-shadow: rgba(201,216,225,1);
$color-pill-button-white-border: $color-white;
$color-pill-button-white-text: $color-white;
$color-pill-button-white-hover-text: $color-dark-blue;
$color-pill-button-white-hover-bg: $color-white;
$color-pill-button-white-hover-shadow: rgba(60,118,159,1);

$color-topbar-bg: $color-dark-blue;
$color-topbar-menu-item: $color-white;
$color-topbar-menu-item-active-bg: rgba(0, 0, 0, .2);
$color-topbar-submenu-bg: $color-white;
$color-topbar-submenu-icon-bg: $color-dark-grey;
$color-topbar-submenu-hover-bg: #e9eeef;
$color-topbar-submenu-hover-border: $color-dark-blue;
$color-topbar-submenu-hover: #5b92be;

$color-secondary-nav-bg: rgba(0, 0, 0, .3);

$color-roadmap-text: $color-white;

$color-terminal-text: #B7BFC7;
$color-terminal-keyword: #C3D31B;
$color-terminal-special: #e66cd7;
$color-terminal-literals: #3EB1D0;
$color-terminal-bg: #2D4861;
$color-terminal-header-bg: $color-medium-grey;
$color-terminal-header-btn-bg: $color-dark-grey;
$color-terminal-code-bg: #33526C;

$color-showcases-dot: $color-light-blue;
$color-showcases-dot-border: $color-light-blue;

// Text sizes
$font-size-body: 20px;
$font-size-menu: 24px;
$font-size-submenu: 21px;
$font-size-card-titles: 21px;
$font-size-title-big: 48px;
$font-size-title-medium: 30px;
$font-size-title-small: 24px;
$font-size-footer-titles: 21px;
$font-size-footer-text: 16px;
$font-size-pill-button: 21px;
$font-size-terminal-source-code: 14px;
$font-size-signature: 48px;
$font-size-secondary-nav-item: 21px;

// Font families
$font-roboto: 'Roboto', sans-serif;
$font-source-sans-pro: 'Source Sans Pro', sans-serif;
$font-source-code: 'Hack', 'monaco', monospace;
$font-caveat: 'Caveat', cursive;
$font-default: $font-source-sans-pro;
$font-titles: $font-roboto;
$font-menus: $font-roboto;
$font-handwritten: $font-caveat;

// Grid settings
$column-size: 90px;
$gutter-size: 30px;
$num-columns: 10;

// Paddings and margins
$padding-slack-form: 30px;

$margin-hero-desc-vertical: 30px;
$padding-hero-vertical: 90px;
$padding-section-vertical: $column-size;

$padding-pill-button-sides: 60px;

$padding-terminal-header-vertical: $gutter-size / 3;
$padding-terminal-header-horizontal: $gutter-size / 2;

$margin-showcases-title-medium-top: $gutter-size / 4;
$padding-showcases-desc-vertical: $gutter-size;
$padding-showcases-project-bottom: $gutter-size;

$padding-topbar-vertical: 15px;
$padding-topbar-menu-vertical-spacing: $gutter-size / 3;
$padding-topbar-menu-horizontal-spacing: $gutter-size / 2;
$padding-topbar-submenu-item: $gutter-size / 4;
$padding-secondary-nav-item: 10px;

$margin-topbar-submenu-arrow-right: $padding-topbar-menu-horizontal-spacing + 8px;
$margin-topbar-menu-spacing: $gutter-size / 4;
$padding-roadmap-vertical: $gutter-size;
$padding-roadmap-paragraph-vertical: $gutter-size / 2;
$padding-roadmap-photo-top: $padding-roadmap-paragraph-vertical + $font-size-title-big + ($gutter-size / 2);
$padding-roadmap-signature: $gutter-size * 1.4;
$padding-roadmap-signature-name-bottom: $gutter-size / 2;

// Heights and widths
$height-pill-buttons: 45px;

$height-title-big-pill: 15px;
$width-title-big-pill: 90px;
$size-title-big-pill-spacing: 15px;
$height-title-medium-pill: 15px;
$width-title-medium-pill: 30px;
$size-title-medium-pill-spacing: 15px;

$size-button-spacing: $gutter-size / 2;

$size-terminal-header-btn: $gutter-size / 2;
$size-terminal-header-btn-spacing: $gutter-size / 4;

$size-showcases-dot: 15px;
$size-showcases-dot-spacing: 10px;
$size-showcases-dot-border: 3px;

$height-topbar: 75px;
$height-topbar-logo: 45px;
$height-secondary-nav: 60px;

$size-button-spacing: $gutter-size / 2;

$width-topbar-submenu-border-size: 5px;

$size-roadmap-photo: 180px;

$size-secondary-nav-item-spacing: $gutter-size / 2;
