// Colors
$color-dark-blue: #33526c;
$color-light-blue: #1b78b7;
$color-pale-blue: #dae4e4;
$color-dark-grey: #adb6bf;
$color-medium-grey: #e6e9ec;
$color-pale-grey: #ecf0f1;
$color-light-greysh: #EBF0F1;
$color-light-grey: #737373;
$color-white: white;

$color-pill-button-main: $color-light-blue;
$color-pill-button-hover-main: $color-white;
$color-pill-button-hover-bg: $color-pill-button-main;

$color-pill-button-white-main: $color-white;
$color-pill-button-white-hover-main: $color-dark-blue;
$color-pill-button-white-hover-bg: $color-pill-button-white-main;


$color-text-default: black;

$color-links: $color-light-blue;
$color-links-hover: $color-dark-blue;
$color-links-darkbg: $color-white;
$color-links-darkbg-hover: $color-pale-grey;

$color-clear-bg: $color-white;
$color-main-bg: $color-light-greysh;

$color-hero-bg: $color-dark-blue;
$color-hero-text: $color-white;

$color-title-big: $color-light-blue;
$color-title-big-pill: $color-light-blue;

$color-title-medium: $color-dark-blue;
$color-title-medium-pill: #ADB6BF;

$color-slack-form-bg: $color-white;
$color-slack-form-description: $color-dark-blue;
$color-slack-form-input-placeholder: $color-dark-grey;
$color-slack-form-input-border: $color-dark-grey;
$color-slack-form-body-normal-bg: rgba(0,0,0,0.2);
$color-slack-form-body-success-bg: change-color(#64e200, $alpha: 0.55);
$color-slack-form-body-error-bg: change-color(#ff1500, $alpha: 0.55);
$color-slack-form-message-icon: $color-pill-button-white-hover-bg;

$color-topbar-bg: $color-dark-blue;
$color-topbar-menu-item: $color-white;
$color-topbar-menu-item-active-bg: rgba(0, 0, 0, .2);
$color-topbar-submenu-bg: $color-white;
$color-topbar-submenu-icon-bg: $color-dark-grey;
$color-topbar-submenu-hover-bg: #e9eeef;
$color-topbar-submenu-hover-border: $color-dark-blue;
$color-topbar-submenu-hover: #5b92be;

$color-secondary-nav-bg: rgba(0, 0, 0, .3);

$color-roadmap-text: $color-white;

$color-terminal-text: #B7BFC7;
$color-terminal-keyword: #C3D31B;
$color-terminal-special: #e66cd7;
$color-terminal-literals: #3EB1D0;
$color-terminal-bg: #2D4861;
$color-terminal-header-bg: $color-medium-grey;
$color-terminal-header-btn-bg: $color-dark-grey;
$color-terminal-code-bg: #33526C;

$color-examples-dot: $color-light-blue;
$color-examples-dot-border: $color-light-blue;

$color-footer-text: $color-pale-grey;
$color-footer-links-hover: $color-pale-blue;
$color-footer-titles: $color-white;
$color-footer-titles-pill: rgba(255, 255, 255, .1);
$color-footer-email: $color-white;
$color-footer-pgp-key-icon: rgba(255, 255, 255, .3);
$color-footer-social-icon-bg: rgba(255, 255, 255, .1);
$color-footer-slack-band-title: white;
$color-footer-slack-band-bg: rgba(0, 0, 0, .3);
$color-footer-slack-band-error-bg: #ed1c24;
$color-footer-slack-band-error-border: #9e0039;
$color-footer-slack-band-success-bg: #64b300;
$color-footer-slack-band-success-border: #197b30;

$color-projects-icon: $color-terminal-text;

$color-card-background: $color-clear-bg;
$color-card-project-title: $color-dark-blue;

// Text sizes
$font-size-body: 20px;
$font-size-menu: 24px;
$font-size-submenu: 21px;
$font-size-title-big: 48px;
$font-size-title-medium: 30px;
$font-size-title-small: 24px;
$font-size-pill-button: 21px;
$font-size-terminal-source-code: 14px;
$font-size-signature: 48px;
$font-size-footer-section: 16px;
$font-size-footer-slack-band-title: 24px;
$font-size-footer-email: 24px;
$font-size-title-xsmall: 21px;
$font-size-small: 18px;
$font-size-xsmall: 16px;
$font-size-xxsmall: 14px;
$font-size-micro: 12px;
$font-size-footer-titles: 21px;
$font-size-footer-text: $font-size-xsmall;
$font-size-secondary-nav-item: 21px;
$font-size-testimonial-usernames: 18px;
$font-size-slack-form-title: 36px;
$font-size-slack-band-message: 16px;

// Line Height
$line-height-condensed: 1em;
$line-height-small: 1.2em;
$line-height-tall: 1.2em;
$line-height-projects-title: 30px;

// Font families
$font-roboto: 'Roboto', sans-serif;
$font-source-sans-pro: 'Source Sans Pro', sans-serif;
$font-source-code: 'Hack', 'monaco', monospace;
$font-caveat: 'Caveat', cursive;
$font-icons: 'FontAwesome';
$font-default: $font-source-sans-pro;
$font-titles: $font-roboto;
$font-menus: $font-roboto;
$font-handwritten: $font-caveat;

// Grid settings
$column-size: 70px;
$gutter-size: 30px;
$num-columns: 12;

// Paddings and margins
$padding-slack-form: 0;
$margin-bottom-slack-form-input: 15px;
$margin-bottom-slack-form-submit-button: 15px;
$margin-bottom-slack-form-message: 15px;
$padding-top-slack-form-header: 15px;
$padding-lateral-slack-form: 2 * $padding-top-slack-form-header;
$padding-lateral-slack-form-header: 2 * $padding-top-slack-form-header;
$margin-bottom-slack-form-logo: 20px;
$margin-bottom-slack-form-title: 15px;
$padding-lateral-input: 15px;
$margin-right-slack-form-message-icon: 10px;
$padding-bottom-slack-form-description: 60px;

$margin-hero-desc-vertical: 30px;
$padding-hero-vertical: 90px;
$padding-section-vertical: $column-size;

$padding-pill-button-sides: 25px; //$height-pill-buttons / 2;

$padding-terminal-header-vertical: $gutter-size / 3;
$padding-terminal-header-horizontal: $gutter-size / 2;

$margin-examples-title-medium-top: $gutter-size / 4;
$padding-examples-desc-vertical: $gutter-size;
$padding-examples-project-bottom: $gutter-size;

$padding-topbar-vertical: 15px;
$padding-topbar-menu-vertical-spacing: $gutter-size / 3;
$padding-topbar-menu-horizontal-spacing: $gutter-size / 2;
$padding-topbar-submenu-item: $gutter-size / 4;
$padding-secondary-nav-item: 10px;

$padding-card: $gutter-size / 2;

$padding-projects-title: 10px;

$margin-topbar-submenu-arrow-right: $padding-topbar-menu-horizontal-spacing + 8px;
$margin-topbar-menu-spacing: $gutter-size / 4;
$padding-roadmap-vertical: $gutter-size;
$padding-roadmap-paragraph-vertical: $gutter-size / 2;
$padding-roadmap-photo-top: $padding-roadmap-paragraph-vertical + $font-size-title-big + ($gutter-size / 2);
$padding-roadmap-signature: $gutter-size / 2;
$padding-roadmap-signature-name-bottom: $gutter-size / 2;

$padding-footer-contact-vertical: 45px;
$padding-footer-social-vertical: 45px;

// Heights and widths
$height-pill-buttons: 45px;
$border-width-pills: 2px;
$width-footer-slack-band-message-icon-border: 2px;

$height-title-big-pill: 15px;
$width-title-big-pill: 90px;
$size-title-big-pill-spacing: 15px;
$height-title-medium-pill: 15px;
$width-title-medium-pill: 30px;
$size-title-medium-pill-spacing: 15px;

$height-title-footer-pill: 15px;
$width-title-footer-pill: 30px;
$size-title-footer-pill-spacing: 7px;
$size-title-footer-spacing: $gutter-size / 3 - 1px;

$height-slack-form-logo: 110px;
$height-slack-form-input: 45px;
$height-slack-form-message: 30px;
$height-slack-form-horizontal-message: 20px;
$width-slack-form-submit: 240px;

$size-button-spacing: $gutter-size / 2;

$size-terminal-header-btn: $gutter-size / 2;
$size-terminal-header-btn-spacing: $gutter-size / 4;

$size-examples-dot: 15px;
$size-examples-dot-spacing: 10px;
$size-examples-dot-border: 3px;
$width-examples-arrow: 20px;
$height-examples-arrow: 30px;
$size-examples-arrow-spacing: 10px;

$height-topbar: 75px;
$height-topbar-logo: 45px;
$height-secondary-nav: 60px;

$size-button-spacing: $gutter-size / 2;

$width-topbar-submenu-border-size: 5px;

$size-roadmap-photo: 90px;
$size-roadmap-photo-spacing: $gutter-size;

$size-secondary-nav-item-spacing: $gutter-size / 2;

$size-card-top-border: 7px;
$size-card-arrow: 30px;
$size-card-srcd-logo: 45px;
$size-card-proy-logo: 45px;
$size-card-author-image: 60px;
$size-card-image-height: 100px;

$size-project-card-height: 75px;
$size-project-card-icon: 30px;

$size-projects-title-icon: 45px;

$size-codepills-raw-height: 11px;
$size-codepills-raw-width: 15px;
$size-codepill-raw-vertical-correction: 4px / 2;
$size-codepills-project-height: 30px;
$size-codepills-project-width: $size-codepills-raw-width * $size-codepills-project-height / $size-codepills-raw-height;
$size-codepill-project-vertical-correction: $size-codepills-project-height * $size-codepill-raw-vertical-correction / $size-codepills-raw-height;

$size-footer-social-icon-spacing: 15px;
$size-footer-social-icon: 45px;
$size-footer-social-icon-image: 30px;
$size-footer-slack-band: 120px;
$size-footer-slack-logo: 90px;
$size-footer-slack-input: 45px;
$size-footer-slack-button: 45px;
$size-footer-slack-band-right-distance: 30px;
$size-footer-slack-band-bottom-distance: -10px;

// Radius
$border-radius-main: 5px;
$border-radius-pill-style: $height-pill-buttons / 2;
$border-radius-input: $height-slack-form-input / 2;

// Shadows
$shadow-main: 3px 3px 5px rgba(0, 0, 0, .1);
$shadow-main-hover: 3px 3px 5px 0 rgba(0, 0, 0, .2);
$shadow-color-pill-button-hover: 0 0 1px 5px rgba(201, 216, 225, 1);
$shadow-color-pill-button-white-hover: 0 0 1px 5px rgba(60, 118, 159, 1);

// Transitions
$transition-main-time: .3s;
$transition-main-effect: ease-in;
