.careers-page {
    .hero__picture img {
        margin-bottom: -25px;
    }

    article.band__container {
        @include row;
        @include container;
        margin-bottom: $margin-bottom-careers-section;
    }


    .offers {
        &__list {
            margin-top: $margin-top-careers-content;
        }
    }

    .text-section {
        @include columns(8);
        @include offset(2);
        margin: 0 auto !important;
        float: none;

        ul {
            margin-top: $gutter-size;
            columns: 2;

            @include media-breakpoint-down(md) {
                columns: 1;
            }

            li {
                padding-top: $gutter-size / 2;
                padding-left: $padding-left-careers-benefits-list-item;
                position: relative;

                &:before {
                    content: ' ';
                    display: block;
                    position: absolute;
                    left: 0;
                    top: $size-careers-benefits-list-item-dot-spacing-top;
                    background-color: $color-careers-benefits-dot;
                    height: $size-careers-benefits-list-item-dot;
                    width: $size-careers-benefits-list-item-dot;
                    border-radius: 50%;
                }
            }
        }
    }

    h1.striked + div {
        margin-top: $margin-top-careers-content !important;
    }

    .hq-gallery > ul {
        overflow: hidden;
        position: relative;

        .hq-gallery__item {
            @include width(6);
            float: left;
            font-size: 0;
            line-height: 0;
            position: relative;
            display: block;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }

            & + li {
                @include width(3);
                margin-left: $gutter-size;
            }

            &:first-child {
                position: absolute;
                top: 0;
                left: 0;
                bottom: 0;
            }

            &:nth-child(n+4) {
                margin-top: $gutter-size;
            }

            &:nth-child(2n) {
                margin-left: grid-offset-size-minus-one(6);
            }

            &__trigger {
                background: transparent;
                border: none;
                position: absolute;
                right: $gutter-size / 3;
                bottom: $gutter-size / 3;
            }
        }
    }

    .contact-us {
        margin-top: $gutter-size;
    }

    .positions {
        &__list {
            margin-top: $margin-top-careers-content;
        }

        &__job {
            &__header {
                @include corporate-gradient;
                display: flex;
                align-items: center;
                height: $height-positions-job-header;
                padding: 0 ($gutter-size / 2);

                h1 {
                    background: transparent;
                    color: white;
                    padding: 0;
                }

                figure {
                    height: $size-positions-job-header-icon;
                    min-width: $width-positions-job-header-icon-wrap;
                    display: block;
                    text-align: center;

                    img {
                        height: 100%;
                    }
                }
            }

            &__feature {
                display: flex;
                align-items: center;
                color: $color-position-job-feature;

                & + & {
                    margin-top: $padding-position-job-feature-spacing;
                }

                &:before {
                    content: ' ';
                    display: inline-block;
                    height: $size-positions-job-feature-icon;
                    width: $size-positions-job-feature-icon;
                    background-size: contain;
                    margin-right: $padding-position-job-feature-spacing;
                }

                &_team:before {
                    background-image: url(/img/icons/team.svg);
                }

                &_commitment:before {
                    background-image: url(/img/icons/commitment.svg);
                }

                &_location:before {
                    background-image: url(/img/icons/location.svg);
                }
            }

            &__actions {
                padding-top: $gutter-size / 2;
                text-align: right;
            }

            &__apply {
                @include pill-style(blue);
                width: $width-positions-btn;
                height: $height-positions-btn;
                font-size: $font-size-positions-btn;
                background: transparent;
            }

            &__footer {
                height: auto;
                margin: 0;
                display: block;
                padding: $padding-position-job-footer;
            }
        }

        &__teams {
            text-align: center;

            &__team {
                border: 1px solid $color-positions-filter-border;
                background: white;
                border-radius: $gutter-size;
                font-size: $font-size-positions-filter;
                height: $height-position-filter;
                padding-left: $padding-left-position-filter;
                padding-right: $padding-right-position-filter;
                margin-right: $size-position-filter-spacing;
                position: relative;

                &:before {
                    content: ' ';
                    display: block;
                    background: $color-positions-filter-dot;
                    height: $size-position-filter-dot;
                    width: $size-position-filter-dot;
                    border-radius: 50%;
                    position: absolute;
                    top: ($height-position-filter - $size-position-filter-dot) / 2 - 1;
                    left: ($padding-left-position-filter - $size-position-filter-dot) / 2 + 1;
                    transition: background 200ms ease-in-out;
                }

                &:last-child {
                    margin-right: 0;
                }

                &_active:before {
                    background: $color-positions-filter-dot-active;
                }
            }
        }
    }
}

@include media-breakpoint-down(sm) {
    .careers-page {
        .cards {
            overflow: visible;
            height: auto;

            &__wrap {
                position: static;
                flex-wrap: wrap;
            }

            &__element {
                width: 90%;
                max-width: 500px;
                margin: 0 auto !important;

                & + div {
                    margin-top: 30px !important;
                }
            }
        }

        .positions__job__apply {
            padding: 0;
            height: $height-positions-btn-mobile;
        }

        .hq-gallery > ul {
            .hq-gallery__item {
                width: 100% !important;
                float: none;
                position: relative !important;
                margin-left: 0 !important;

                & + li {
                    margin-top: $gutter-size;
                }
            }
        }
    }
}
