body.developer {
    @include setupHeader(385px, 115px);
}

#developerDetails {
    border-color: $lineColor;
    border-width: 1px 0;
    border-style: solid;
}

#timelineBeginning .mainContainer {
    padding-bottom: 0;

    .workflows {
        padding-bottom: 40px;
    }
} 

#timelineEnding .mainContainer {
    padding-top: 0;

    .workflows {
        padding-top: 40px;
    }
}

$pictoSize: 80px;
$bubbleMargin: 30px;
$timeLineWidth: 4px;
.workflows {
    position: relative;

    &:before {
        display: inline-block;
        content: ' ';
        border: $timeLineWidth / 2  solid $lineColor;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 50%;
        width: 0;
    }

    & > .workflow {
        position: relative;
        margin: 0px auto;

        &.picto {
            margin: 20px auto;
        }

        &.right {
            &.picto {
                .bubble {
                    margin-left: $pictoSize / 2 + $bubbleMargin + $timeLineWidth !important;
                }
            }

            .content {
                transform: translateX(+50%);

                .bubble {
                    @include bubble(right);
                    margin-left: $bubbleMargin + $timeLineWidth;
                }

                &:before {
                    left: -$pictoSize / 2;
                }
            }
        }

        &.left {
            &.picto {
                .bubble {
                    margin-right: $pictoSize / 2 + $bubbleMargin !important;
                }
            }

            .content {
                transform: translateX(-50%);

                .bubble {
                    @include bubble(left);
                    margin-right: $bubbleMargin;
                }

                &:before {
                    right: -$pictoSize / 2;
                }
            }
        }

        .content {

            display:inline-block;
            position: relative;

            &:before,
            &:after {
                @include translate(0, -50%);
                position: absolute;
                top: 50%;
            }

            .bubble.bubble.bubble {
                position: relative;
                display: inline-block;
                vertical-align: middle;
            }

            .bubble.bubble {
                @include textMedium(strong);
            }
        }

        &.step1 {
            .content {
                @include icon(80px, 80px, 0, '/img/icons/dev.svg');
            }
            .bubble{width: 215px !important;}
        }

        &.step2 {
            .content {
                @include icon(80px, 80px, 0, '/img/icons/git.svg');
            }
            .bubble{width: 285px !important;}
        }

        &.step3 {
            .bubble{width: 360px !important;}
        }

        &.step4 {
            .bubble{width: 355px !important;}
        }

        &.step5 {
            .content {
                @include icon(80px, 80px, 0, '/img/icons/email.svg');
            }
            .bubble{width: 320px !important;}
        }

        &.step6 {
            .bubble{width: 295px !important;}
        }

        &.step7 {
            .bubble{width: 290px !important;}
        }

        &.step8 {
            .content {
                @include icon(80px, 80px, 0, '/img/icons/hired.svg');
            }
            .bubble{width: 211px !important;}
        }
    }
}


.workflow.step2 {
    $extraSize: 60px;
    $extraLiWidth: 50px;
    $extraLiHeight: 40px;
    $dotSize: $extraLiHeight / 2;
    margin: $extraLiHeight + 40px auto !important;

    .bubble{left: $bubbleMargin;}

    &.right .extra {
        left: -$extraSize / 2;
    }

    &.left .extra {
        right: -$extraSize / 2;
    }

    .extra {
        display: inline-block;
        width: $extraSize;
        height: $extraSize;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);

        & > li {
            @include textXSmall;
            width: $extraLiWidth;
            height: $extraLiHeight;
            overflow: hidden;
            position: absolute;
            text-align: center;

            &:before {
                content: '';
                background: red;
                display: inline-block;
                width: $dotSize;
                height: $dotSize;
                border-radius: $dotSize;
                position: absolute;
                left: 50px / 2 - $dotSize / 2
            }

            &.top {
                top:-$extraLiHeight;
                padding-bottom: $dotSize;
                &:before {
                    top: 20px;
                }
            }

            &.bottom {
                bottom:-$extraLiHeight;
                padding-top: $dotSize;
                &:before {
                    bottom: 20px;
                }
            }

            &.left {
                left: -$extraLiWidth;
            }

            &.right {
                right: -$extraLiWidth;
            }

            &.top.left:before {
                background: #F06B72;
            }

            &.top.right:before {
                background: #4285F4;
            }

            &.bottom.left:before {
                background: #70C668;
            }

            &.bottom.right:before {
                background: #F4AF45;
            }
        }
    }
}

@media only screen and (max-width: 795px) {
    #developerDetails {
        .copyBtn {
            width: 100%;
        }
    }

    #timelineBeginning .mainContainer .workflows  {
        margin-top: 30px;
    } 

    #timelineEnding .mainContainer .workflows {
        margin-bottom: 30px;
    }

    .workflows {
        text-align: left;

        &:before {
            left: ($pictoSize - $timeLineWidth) / 2
        }

        & > .workflow {
            width: 100%;

            & + .workflow {
                margin: 40px auto 0 !important;
            }

            .content {
                transform: none !important;
                padding-left: $pictoSize + $bubbleMargin;
                width: 100%;
                text-align: center;

                .bubble.bubble {
                    @include bubble(right);
                    margin: 0 !important;
                    width: 100% !important;
                    left: 0;
                    font-weight: 400;
                }

                &:before {
                    left: 0 !important;
                    right: 0 !important;
                }
            }

            .extra {
                display: none;
            }
        }
    }
}