.home-hero {
  @include corporate-gradient;
  color: $color-hero-text;
  padding: ($padding-hero-vertical + $height-topbar) 0 $padding-hero-vertical 0;
  overflow: hidden;

  &__wrap {
    @include row;
    @include container;
    position: relative;

    .code-pills-left {
      position: absolute;
      right: 100%;
    }

    .code-pills-right {
      position: absolute;
      left: 100%;
    }
  }

  &__info {
    @include columns(6);

    h1 {
      @include title-big;
    }

    p {
      margin: $margin-hero-desc-vertical 0;
    }

    &__links {
      a + a {
        margin-left: $size-button-spacing;
      }
    }
  }

  &__slack {
    @include columns(5);
    @include offset(1);
    @include card-shadow;
    background-color: transparent;
    border-radius: 3px;
    padding: $padding-slack-form;
    position: relative;
  }
}

.examples {
  @include row;
  @include container;
  padding: $padding-section-vertical 0;

  &__info {
    @include columns(4);

    h1 {
      @include default-title-big;
    }

    h2 {
      @include default-title-medium;
    }

    p {
      padding: $padding-examples-desc-vertical 0;
    }

    .slick-slide,
    .slick-slide * {
      outline: none;

      // this is a hack so the shadow of the pills can be displayed inside slick
      // since slick needs an overflow: hidden and the pill shadow is cut
      .btn-pill {
        margin-bottom: 5px;
        margin-left: 5px;
      }
    }

    &__navigation {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;

      .slick-arrow {
        position: static;
        display: inline-block;
        height: $height-examples-arrow;
        width: $width-examples-arrow;
        transform: none;
        margin: 0 $size-examples-arrow-spacing;
      }

      .slick-prev {
        background: url(/img/icons/arrow-left.svg);

        &:before {
          content: "";
        }
      }

      .slick-next {
        background: url(/img/icons/arrow-right.svg);
        order: 3;

        &:before {
          content: "";
        }
      }

      .slick-dots {
        width: auto;
        position: static;
        display: inline-block;
        display: flex;
        align-items: center;
        justify-content: center;

        li {
          height: $size-examples-dot;
          width: $size-examples-dot;
          border: $size-examples-dot-border solid $color-examples-dot-border;
          border-radius: 50%;
          padding: 0;
          margin: 0;

          button:before {
            display: none;
          }

          &.slick-active {
            background-color: $color-examples-dot;
            border: none;
          }
        }

        li + li {
          margin-left: $size-examples-dot-spacing;
        }
      }
    }
  }

  &__terminal {
    @include columns(7);
    @include offset(1);
    border-radius: 5px;
    overflow: hidden;

    &__header {
      background-color: $color-terminal-header-bg;
      padding: $padding-terminal-header-vertical $padding-terminal-header-horizontal;

      div {
        height: $size-terminal-header-btn;
        width: $size-terminal-header-btn;
        background-color: $color-terminal-header-btn-bg;
        border-radius: 50%;
        display: inline-block;
      }

      div + div {
        margin-left: $size-terminal-header-btn-spacing;
      }
    }

    &__code {
      overflow: auto;

      pre {
        background: $color-terminal-code-bg;
        font-family: $font-source-code;
        font-size: $font-size-terminal-source-code;
        line-height: 1.25em;
        padding: 1em;
        color: $color-terminal-text;

        .hljs-keyword {
          color: $color-terminal-keyword;
        }

        .hljs-built_in, .hljs-params {
          color: $color-terminal-special;
        }

        .hljs-string, .hljs-number {
          color: $color-terminal-literals;
        }
      }
    }
  }
}

.roadmap {
  @include corporate-gradient;
  overflow: hidden;
  color: $color-roadmap-text;

  & > article {
    @include row;
    @include container;
    position: relative;
    padding: $padding-section-vertical 0;
  }

  .code-pills-left {
    position: absolute;
    right: 100.7%;
    top: 6.5%;
  }

  h1 {
    @include white-title-big;
    padding-bottom: $padding-roadmap-paragraph-vertical;
  }

  p {
    padding: $padding-roadmap-paragraph-vertical 0;
    font-size: $font-size-body;
  }

  &__footer {
    @include row;
    display: flex;
    align-items: center;
  }

  &__signature {
    @include columns(5);
    padding: $padding-roadmap-signature 0;
    display: flex;
    align-items: center;

    &__photo {
      width: $size-roadmap-photo;
      border-radius: 50%;
      margin-right: $size-roadmap-photo-spacing;
    }

    &__title {
      display: flex;
      flex-direction: column;
    }

    &__name {
      font-family: $font-handwritten;
      font-size: $font-size-signature;
      padding-bottom: $padding-roadmap-signature-name-bottom;
    }
  }

  &__links {
    @include columns(7);
    text-align: right;

    a + a {
      margin-left: $size-button-spacing;
    }
  }
}

.blog {
    display: none;

    .btn-pill {
        margin: $gutter-size auto 0;
    }

    &__category {
        h2 {
            @include default-title-medium();
        }

        & + & {
            margin-top: 75px;
        }

        &__wrapper {
            text-align: center;
        }
    }
}

.testimonials {
  @include row;
  @include container;
  padding: $padding-section-vertical 0;

  h1 {
    @include default-title-big;
  }

  .testimonial-list {
    @include columns(10);
    @include offset(1);
    margin-top: $gutter-size;

    .testimonial {
      @include row;
      display: none;

      &:first-child,
      &:nth-child(2) {
        display: block;
      }

      & + .testimonial {
        margin-top: $gutter-size;
      }

      &__avatar {
        @include columns(1);
        margin-top: $padding-roadmap-paragraph-vertical;

        img {
          max-width: 100%;
          border-radius: 50%;
          margin-left: -($gutter-size / 2);
        }
      }

      blockquote {
        @include columns(9);

        .svg-icon svg {
          display: inline;
          width: 15px;
          fill: lightgray;
        }

        a {
          @include link-light-bg;
        }

        cite {
          font-size: $font-size-testimonial-usernames;
          display: block;
          padding-top: $gutter-size / 2;
        }
      }
    }
  }
}
