.homePage {
    .mainHeader {
        .mainContainer {
            height: 500px;
        }
    }

    .mainHeader + .fullWidth {
        margin-top: 500px;
    }
}

#weAreWeWant {
    @include row();
    
    .mainContainer {
        text-align: left;
    }

    .article {
        @include col(4,1);

        &.right {
            @include col(4,2)
        }

        &.left li {
            @include icon(9px, 38px, 0, '/img/icons/right-arrow.png');

            &:before {
                position: absolute;
                right: calc(-50% - #{$gutter});
                top: 21px;
                width: 50%;
            }
        }
    }

    li {
        position: relative;
        text-align: left;
        height: 72px;
        margin-top: 10px;

        > span {
            @include valign;
        }

        & + li {
            margin-top: 16px;
        }
    }

    .link {
        @include smallLink(emphasis);
        width: 100%;
        text-align: center;
        margin-top: 26px;
        margin-bottom: 25px;
    }
}

#ourPosts {
    section {
        @include col(4,1);
        text-align: left;

        &+section {
            @include col(4,2)
        }

        a {
            @include textBig;
            position: relative;
        }

        .timeAgo {
            @include textSmall(emphasisLight condensed italic);
            display: block;
        }

        .posts > .post:first-child a {
            color: $textColorTitle;
        }

        .new > a {
            color: $textColorEmphasis !important;
            $tagWidth: 35px;
            $tagSeparation: 10px;
            &:before {
                @include smallLink(noUnderline alphaCover);
                content: 'new';
                background-color: $textColorEmphasis;
                border-radius: $borderRadius;
                vertical-align: middle;
                margin-left: -($tagWidth + $tagSeparation);
                width: $tagWidth;
                margin-right: $tagSeparation;
                display: inline-block;
                text-align: center;
                text-transform: uppercase;
                margin-top: -3px;
                font-size: 12px;
                line-height: 14px;
                padding-top: 1px;
                padding-bottom: 1px;
            }
        }

        .post {
            $separatorVerticalSpace: 9px;
            position: relative;
            margin-top: $separatorVerticalSpace;
            padding-top: $separatorVerticalSpace;

            $separatorWidth: 80px;
            & + .post:before {
                content: ' ';
                border-bottom: 1px solid $lineColorBlueLight;
                width: $separatorWidth;
                height: 1px;
                position: absolute;
                top: 0;
                left: 50%;
                margin-left: -$separatorWidth;
                display: inline-block;
            }
        }

        .error > p {
            @include textSmall;
        }
    }
}

@media only screen and (max-width: 1005px) {
    #weAreWeWant {
        .article.left, .article.right {
            margin: 0 auto !important;
            width: 100%;
            max-width: 500px;
            display: block;

            li {
                height: auto;
                margin: 0;
                margin-top: 2em;
                text-align: justify;

                &:before {
                    display: none;
                }

                span {
                    transform: none;
                    position: static;
                }
            }
        }
    }
}

@media only screen and (max-width: 768px) {
    #ourOpenSource .repo {
        margin: 0;
        margin-top: 1em;
    }

    #ourPosts section {
        width: 80% !important;
        margin: 1rem auto !important;
    }
}
