.home-hero {
  @include corporate-gradient;
  color: $color-hero-text;
  padding: ($padding-hero-vertical + $height-topbar) 0 $padding-hero-vertical 0;
  overflow: hidden;

  &__wrap {
    @include row;
    @include container;
    position: relative;

    .code-pills-left {
      position: absolute;
      right: 100%;
    }

    .code-pills-right {
      position: absolute;
      left: 100%;
    }
  }

  &__info {
    @include columns(5);

    h1 {
      @include title-big;
    }

    p {
      margin: $margin-hero-desc-vertical 0;
    }

    &__links {
      a + a {
        margin-left: $size-button-spacing;
      }
    }
  }

  &__slack {
    @include columns(4);
    @include offset(1);
    @include card-shadow;
    background-color: $color-slack-form-bg;
    padding: $padding-slack-form;
    border-radius: 3px;
  }
}

.showcases {
  @include row;
  @include container;
  padding: $padding-section-vertical 0;

  &__project {
    padding-bottom: $padding-showcases-project-bottom;
  }

  &__info {
    @include columns(4);

    h1 {
      @include default-title-big;
    }

    h2 {
      @include default-title-medium;
    }

    p {
      padding: $padding-showcases-desc-vertical 0;
    }

    .slick-arrow {
      display: none;
    }

    .slick-slide,
    .slick-slide * {
      outline: none;

      // this is a hack so the shadow of the pills can be displayed inside slick
      // since slick needs an overflow: hidden and the pill shadow is cut
      .btn-pill {
        margin-bottom: 5px;
        margin-left: 5px;
      }
    }

    .slick-dots {
      display: flex;
      align-items: center;
      justify-content: center;

      li {
        height: $size-showcases-dot;
        width: $size-showcases-dot;
        border: $size-showcases-dot-border solid $color-showcases-dot-border;
        border-radius: 50%;
        padding: 0;
        margin: 0;

        button:before {
          display: none;
        }

        &.slick-active {
          background-color: $color-showcases-dot;
          border: none;
        }
      }

      li + li {
        margin-left: $size-showcases-dot-spacing;
      }
    }
  }

  &__terminal {
    @include columns(6);
    border-radius: 5px;
    overflow: hidden;

    &__header {
      background-color: $color-terminal-header-bg;
      padding: $padding-terminal-header-vertical $padding-terminal-header-horizontal;

      div {
        height: $size-terminal-header-btn;
        width: $size-terminal-header-btn;
        background-color: $color-terminal-header-btn-bg;
        border-radius: 50%;
        display: inline-block;
      }

      div + div {
        margin-left: $size-terminal-header-btn-spacing;
      }
    }

    &__code {
      overflow: auto;

      pre {
        background: $color-terminal-code-bg;
        font-family: $font-source-code;
        font-size: $font-size-terminal-source-code;
        line-height: 1.25em;
        padding: 1em;
        color: $color-terminal-text;

        .hljs-keyword {
          color: $color-terminal-keyword;
        }

        .hljs-built_in, .hljs-params {
          color: $color-terminal-special;
        }

        .hljs-string, .hljs-number {
          color: $color-terminal-literals;
        }
      }
    }
  }
}

.roadmap {
  @include corporate-gradient;
  padding: $padding-roadmap-vertical 0;
  overflow: hidden;

  & article,
  & > div {
    @include row;
    @include container;
    position: relative;
  }

  .code-pills-left {
    position: absolute;
    right: 95%;
  }

  &__photo {
    @include columns(2);
    padding-top: $padding-roadmap-photo-top;
    text-align: right;

    img {
      width: $size-roadmap-photo;
      border-radius: 50%;
    }
  }

  &__content {
    @include columns(8);
    color: $color-roadmap-text;

    h1 {
      @include white-title-big;
    }

    & > p {
      padding: $padding-roadmap-paragraph-vertical 0;
    }
  }

  &__signature {
    text-align: center;
    padding: $padding-roadmap-signature 0;

    &__name {
      font-family: $font-handwritten;
      font-size: $font-size-signature;
      padding-bottom: $padding-roadmap-signature-name-bottom;
    }
  }

  &__links {
    a + a {
      margin-left: $size-button-spacing;
    }
  }
}

.blog {
    display: none;

    .btn-pill {
        margin: $gutter-size auto 0;
    }

    &__category {
        h2 {
            @include default-title-medium();
        }

        & + & {
            margin-top: 75px;
        }

        &__wrapper {
            text-align: center;
        }
    }
}

.testimonials {
  @include row;
  @include container;
  padding: $padding-section-vertical 0;

  h1 {
    @include default-title-big;
  }

  .testimonial-list {
    @include columns(8);
    @include offset(1);
    margin-top: $column-size;

    .testimonial {
      @include row;
      display: none;

      &:first-child,
      &:nth-child(2) {
        display: block;
      }

      & + .testimonial {
        margin-top: $gutter-size;
      }

      &__avatar {
        @include columns(1);

        img {
          max-width: 100%;
          border-radius: 50%;
          margin-left: -($gutter-size / 2);
        }
      }

      blockquote {
        @include columns(7);

        a {
          @include link-light-bg;
        }

        cite {
          font-size: $font-size-testimonial-usernames;
          display: block;
          padding-top: $gutter-size / 2;
        }
      }

      &:nth-child(even) {
        .testimonial__avatar {
          float: right;

          img {
            margin-left: $gutter-size / 2;
          }
        }

        blockquote {
          margin-left: 0;
          margin-right: $gutter-size;
          text-align: right;
        }
      }
    }
  }
}
