.blog {
    display: none;

    &__title {
        @include default-title-big;
    }
}

.projects-page {
    .hero__picture img {
        width: 85%;
    }

    .band_grey {
        padding-top: 0px;
    }
}

.projects.band_grey {
    padding-top: 0px;

    .band__container > h1 {
        margin-bottom: -10px;
        margin-top: 50px;
        position: relative;

        .svg-icon {
            svg {
                fill: $color-projects-icon;
                display: block;
                height: $size-projects-title-icon;
                width: $size-projects-title-icon;
                margin: 0 auto $size-projects-title-icon-spacing auto;
            }
        }
    }

    .cards_projects_no-data {
        max-width: 400px;
        margin: $gutter-size auto;
        text-align: center;
    }

    .slack-form__root {
        margin: 0 auto;
        .slackForm {
            &__title {
                display: none;
            }

            &__logo {
                width: auto;
                margin-top: 0;
            }

            &__input,
            &__submit {
                margin-top: ($size-footer-slack-logo - $height-pill-buttons) / 2;
            }

            &__submit {
               @include pill-style(blue);
            }

            &__message {
                right: 0;
                bottom: -$gutter-size;
                color: $color-text-default;
            }
        }
    }
}
