.blog {
    display: none;

    &__title {
        @include default-title-big;
    }
}

.projects-page {
    .hero__picture img {
        width: 85%;
    }

    .band__container {
        & > h1 {
            margin-top: $size-projects-section-title-spacing;
            margin-bottom: 28px;
            position: relative;

            svg {
                fill: $color-projects-icon;
                display: block;
                height: $size-projects-title-icon;
                width: $size-projects-title-icon;
                margin: 0 auto $size-projects-title-icon-spacing auto;
            }
        }

        .slack-form__root {
            width: 100%;

            .slackForm {
                margin: 0 auto;
                &__title {
                    display: none;
                }

                &__logo {
                    width: auto;
                    margin-top: 0;
                }

                &__input,
                &__submit {
                    margin-top: ($size-footer-slack-logo - $height-pill-buttons) / 2;
                }

                &__submit {
                    @include pill-style(blue);
                    display: block;
                }

                &__message {
                    right: 0;
                    bottom: -$gutter-size;
                    color: $color-text-default;
                }
            }
        }
    }

    .cards_projects_no-data {
        @include row;
        max-width: 400px;
        margin: $gutter-size auto;
        text-align: center;
    }
}



@include media-breakpoint-down(sm) {
    .projects-page .band .band__container:first-child h1.striked {
        margin-top: 0;
    }
}
