.project-page .page-text-content_no-hero {
    margin-top: $height-topbar + $height-secondary-nav + $gutter-size;
}

.project-header {
    @include corporate-gradient;
    padding-top: $padding-top-project-header;
    color: $color-project-header-text;

    & > div {
        @include row;
        @include container;
        text-align: center;
        position: relative;
        padding-top: $size-project-header-large-spacing;
    }

    .code-pills-left {
        position: absolute;
        right: 80%;
    }

    &__logo {
        text-align: center;

        & > div {
            margin: 0 auto;
            border-radius: 50%;
            background-color: $color-project-header-logo;
            width: $size-project-header-logo-circle;
            height: $size-project-header-logo-circle;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        span {
            & > svg {
                width: $size-project-header-logo-picture;
                height: $size-project-header-logo-picture;
            }

            &[class*="codepill"] > svg {
                margin-top: $margin-top-project-header-logo-picture;
            }
        }
    }

    &__desc {
        @include width(6);
        margin: 0 auto;
        padding: $padding-top-project-header-desc 0 $padding-bottom-project-header-desc 0;

        strong {
            font-weight: bold;
        }
    }
}

.project-badges {
    background-color: $color-project-badges-bg;

    & > ul {
        @include row;
        @include container;
        text-align: center;
        font-size: 0;
        line-height: 0;
        padding: $size-project-badges-spacing 0;

        li {
            display: inline-block;

            & + li {
                margin-left: $size-project-badges-spacing;
            }
        }

        a {
            text-decoration: none;
            display: inline-block;
        }
    }
}

.project-nav {
    width: 100%;
    display: flex;
    align-items: center;

    &__title {
        img,
        span {
            vertical-align: middle;
        }

        img {
            max-height: $size-project-nav-logo;
        }

        span {
            display: inline-block;
            font-size: $font-size-project-nav-title;
            text-transform: lowercase;
            color: white;
        }

        .project-nav__title__project-icon span {
            & > svg {
                height: 30px;
                width: 30px;
                display: inline-block;
                margin-top: 10px;
                margin-right: 5px;
            }

            &[class*="codepill"] > svg {
                margin-top: $margin-top-project-header-logo-small-picture;
            }
        }
    }

    &__menu {
        margin-left: $margin-left-project-nav-menu;

        li {
            text-transform: lowercase;
        }

        .menu-container__submenu {
            right: -5px !important;
            margin-top: 5px;
            width: auto !important;

            li {
                display: block;
                padding-right: 20px !important;
                padding-left: 10px !important;
            }
        }
    }

    &__icons {
        position: absolute;
        right: 0;
        display: flex;
    }

    &__icon-link {
        & + & {
            margin-left: $gutter-size;
        }

        svg {
            fill: white;
            height: $size-project-nav-github-icon;
            width: $size-project-nav-github-icon;
        }
    }
}

.project-page .page-text-content h1 a img {
    display: none;
}
