.project-intro {
    .project-header {
        @include corporate-gradient;
        padding-top: $padding-top-project-header;
        color: $color-project-header-text;

        & > div {
            @include row;
            @include container;
            text-align: center;
            position: relative;
            padding-top: $size-project-header-large-spacing;
        }

        .code-pills-left {
            position: absolute;
            right: 80%;
        }

        &__logo {
            text-align: center;

            & > div {
                margin: 0 auto;
                border-radius: 50%;
                background-color: $color-project-header-logo;
                width: $size-project-header-logo-circle;
                height: $size-project-header-logo-circle;
                display: flex;
                align-items: center;
                justify-content: center;
            }

            img {
                width: $size-project-header-logo-picture;
                height: $size-project-header-logo-picture;
            }
        }

        &__desc {
            @include width(6);
            margin: 0 auto;
            padding: $padding-top-project-header-desc 0 $padding-bottom-project-header-desc 0;

            strong {
                font-weight: bold;
            }
        }
    }
}

.project-badges {
    background-color: $color-project-badges-bg;    
    
    & > div {
        @include row;
        @include container;
        text-align: center;
        font-size: 0;
        line-height: 0;
        padding: $size-project-badges-spacing 0;

        a {
            text-decoration: none;
            display: inline-block;

            & + a {
                margin-left: $size-project-badges-spacing;
            }
        }
    }
}

.project-content {
    & > div {
        @include row;
        @include container;
        padding: $padding-section-vertical 0;
    }

    h1 {
        @include default-title-big;
        margin-bottom: $size-project-content-headings-bottom-spacing;
    }

    h2 {
        @include default-title-medium;
        margin-bottom: $size-project-content-headings-bottom-spacing;
    }

    * + h1,
    * + h2 {
        margin-top: $size-project-content-headings-top-spacing;
    }

    a {
        color: $color-links;

        &:visited {
            color: $color-links-visited;
        }
    }

    code {
        background-color: $color-project-code-bg;
        padding: $padding-vertical-project-code $padding-horizontal-project-code;
        font-family: $font-source-code;
        font-size: $font-size-small;
        color: $color-project-code;
    }

    pre {
        display: block;
        font-family: $font-source-code;
        font-size: $font-size-small;
        color: $color-terminal-text;
        background: $color-terminal-bg;
        padding: $padding-project-code-block;
        margin: $margin-project-code-block 0;
        border-radius: 5px;

        code {
            background-color: transparent;
            padding: 0;
            color: $color-terminal-text;
        }
    }

    ul {
        padding-left: $padding-left-project-list;

        li {
            position: relative;

            &:before {
                content: "";
                display: block;
                position: absolute;
                left: $size-left-spacing-project-list-dot;
                top: $size-top-spacing-project-list-dot;
                background: $color-project-list-dot;
                height: $size-project-list-dot;
                width: $size-project-list-dot;
                border-radius: 50%;
            }
        }

        ul li:before {
            background: transparent;
            border: 1px solid $color-project-list-dot;
        }
    }

    table {
        border: 1px solid $color-project-table-border;
        
        tr,
        thead {
            border-bottom: 1px solid $color-project-table-border;
            
            &:last-child {
                border-bottom: none;
            }
        }

        td,
        th {
            padding: $padding-vertical-project-table-cell $padding-horizontal-project-table-cell;
            border-right: 1px solid $color-project-table-border;

            &:last-child {
                border-right: none;
            }
        }

        th {
            background: $color-project-table-heading-bg;
            font-weight: bold;
            text-align: center;
        }

        tbody tr:nth-child(even) {
            td {
                background-color: $color-project-table-even-row-bg;
            }

            code {
                background-color: $color-project-table-even-row-code-bg;
            }
        }
    }

    ol {
        list-style: decimal;
        padding-left: $padding-left-project-ordered-list;
    }

    h3 {
        font-style: italic;
        color: $color-title-medium;
        font-size: $font-size-large;
        line-height: 3em;
    }

    h4,
    h5,
    h6 {
        font-style: italic;
        color: $color-title-medium;
        font-size: $font-size-body;
        line-height: 3em;
    }
}

.project-nav {
    width: 100%;
    display: flex;
    align-items: center;

    &__title {
        img,
        span {
            vertical-align: middle;
        }

        img {
            max-height: $size-project-nav-logo;
        }

        span {
            font-size: $font-size-project-nav-title;
            text-transform: lowercase;
            color: white;
        }
    }

    &__menu {
        margin-left: $margin-left-project-nav-menu;
        li {
            text-transform: lowercase;
        }
    }

    &__icons {
        position: absolute;
        right: 0;
        display: flex;
    }

    &__icon-link {
        margin-right: $gutter-size;

        svg {
            fill: white;
            height: $size-project-nav-github-icon;
            width: $size-project-nav-github-icon;
        }
    }
}