.recruitment {
  .mainHeader {
    height: 350px;
    display: flex;
    align-items: center;
    background: transparent url(/img/banner/recruitment.jpg) center top no-repeat;

    .mainContainer {
      height: auto;
      h1 { margin-top: .5em }

      button {
        background: $bgBtnBlue;
        box-shadow: 0px 4px 14px 1px rgba(47,70,87,0.60);
        border-radius: 3px;
        color: $textColorWhite;
        border: none;
        padding: .9em 4em;
        font-size: .9em;
        margin-top: 1.8em;
        transition: box-shadow 200ms ease-in;

        &:hover {
          box-shadow: 0px 5px 20px 1px rgba(47,70,87,1);
        }
      }
    }
  }

  section .mainContainer {
    width: $pageWidthSmallPages;
  }

  .mainHeader + section {
    margin-top: 350px;
  }


  .devData { margin-top: 2em }  

  section h2 {
    padding-top: 1em;
    margin-bottom: 0;
  }

  article {
    h3 {
      margin-bottom: .7em;
    }

    p {
      font-size: $textSizeSmall;
      color: $textColorGrey;
      line-height: 1.6em;
    }
  }

  & > section {
    & + section {
      border-top: 1px solid $lineColorBlueLight;
    }

    & > article {
      & + article {
        border-top: 1px solid $lineColorBlueLight;
      }
    }
  }
}

.matching {
  .searchbar {
    background: #FFFFFF;
    border: 1px solid rgba(169,187,217,0.43);
    box-shadow: 0px 4px 10px 0px rgba(169,187,217,0.43);
    border-radius: 3px;
    font-size: 28px;
    color: $textColorMain;
    line-height: 37px;
    padding: .3em .8em;
    font-weight: 300;
    display: inline-block;
    margin: 1.3em 0;

    strong {
      color: $textColorEmphasisDark;
      font-weight: normal;
    }
  }

  p.stats {
    clear: both;
    padding-top: 1.5em;
    padding-bottom: 1em;
    color: $textColorMain;
  }

  .results {
    .resultWrap {
      width: 23%;
      float: left;
    }

    .result {
      width: 100%;
      border: 1px solid $lineColorBlueLight2;
      border-radius: 3px;
      color: $textColorMain;
      background: transparent url(/img/icons/no-match.svg) right top no-repeat;

      &.match {
        background: transparent url(/img/icons/match.svg) right top no-repeat;
      }

      .header {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        border-bottom: 1px solid $lineColorBlueLight2;
        padding: .6em;

        p {
          font-size: 1em;
          color: $textColorMain;
          margin-left: .5em;
        }
      }

      .skills {
        display: flex;
        justify-content: flex-start;
        align-items: stretch;
        text-align: left;

        li {
          font-size: .75em;
          position: relative;

          .lang {
            display: inline-block;
            vertical-align: middle;
            height: 12px;
            width: 12px;
            border-radius: 50%;
          }

          span {
            vertical-align: middle;
          }

          &.match {
            font-weight: bold;
            color: $textColorGreen;

            &:after {
              position: absolute;
              top: 50%;
              margin-top: -4px;
              right: 0;
              content: " ";
              display: block;
              height: 8px;
              width: 10px;
              background: transparent url(/img/icons/checkmark.svg) center center no-repeat;
            }
          }
        }
      }

      .col {
        flex-grow: 1;
        padding: .3em .5em;
      }

      .col + .col {
        border-left: 1px solid $lineColorBlueLight2;
      }
    }

    .resultWrap + .resultWrap {
      margin-left: 2%;
    }
  }
}

.steps {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  padding-bottom: 1.5em;

  &:before {
    content: " ";
    display: block;
    position: absolute;
    background-color: $lineColorBlueLight2;
    height: 2px;
    width: 76%;
    left: 12%;
    top: 67px;
    z-index: 1;
  }

  .step {
    width: 25%;
    z-index: 6;

    img {
      padding: 2.5em 0 1.8em 0;
    }

    h5 {
      color: $textColorMain;
    }
  }
}

.bubble {
  border-radius: 3px;
  font-size: .75em;
  background: white;
  padding: 1em;
  line-height: 1.5em;
  color: $textColorGrey;
  border: 1px solid $lineColorBlueLight2;
  position: relative;

  &:after, &:before {
    content: " ";
    display: block;
    position: absolute;
    top: 50%;
    border: solid 6px transparent;
    border-right: 0;
    border-left-color: white;
    margin-top: -6px;
    right: -6px;
    z-index: 2;
  }

  &:after {
    z-index: 1;
    border-left-color: $lineColorBlueLight2;
    right: -7px;
  }
}

.benefits {
  margin-bottom: 1.5em;

  .row {
    display: flex;
    justify-content: center;
    align-items: stretch;
  }

  .row + .row {
    margin-top: 1.5em;
  }

  .benefit {
    display: flex;
    align-items: center;

    img {
      margin-left: 1em;
    }
  }

  .benefit + .benefit {
    margin-left: 2em;
  }
}

.numbers {
  display: flex;
  align-items: stretch;
  justify-content: center;

  p {
    flex-grow: 1;
    width: 50%;
    display: block;
    font-weight: 300;
    font-size: 1.4em !important;
    color: $textColorEmphasisDark !important;
    padding: 0em 3em 1.5em 3em;

    &.big {
      font-size: 2em !important;
      padding: 0em .5em 1.5em .5em;
    }
  }
}

.filters { display: none }

.actionCall {
  padding-top: 1em;
  padding-bottom: 1.5em;

  h5 {
    color: $textColorEmphasisDark;
  }
}

@media only screen and (max-width: 825px) {
  body.recruitment {
    max-width: 100%;
    overflow-x: hidden;
  }

  .matching {
    .results {
      .resultWrap {
        padding: 1em;
        width: 49%;
        margin: 0 !important;
      }
    }
  }

  .recruitment section .mainContainer {
    width: 90%;
  }

  .numbers {
    display: block;
    margin-bottom: 2em;

    p {
      width: 100%;
      line-height: 0;
      padding: 0;

      &.big {
        padding: 0;
      }
    }
  }

  .benefits {
    .row {
      display: block;
      max-width: 450px;
      margin: 0 auto;

      .benefit {
        width: 100%;
      }

      .benefit + .benefit {
        margin-top: 1em;
        margin-left: 0;
      }
    }
  }

  .recruitment {
    .bubble {
      &:after, &:before {
        border: solid 6px transparent;
        border-left: 0;
        border-right-color: white;
        left: -6px;
        right: auto;
      }

      &:after {
        border-right-color: $lineColorBlueLight2;
        left: -7px;
        right: auto;
      }
    }

    .benefit {
      flex-direction: row-reverse;

      img {
        margin-left: 0;
        margin-right: 1em;
      }
    }
  }
}

@media only screen and (max-width: 795px) {
  .recruitment {
    .searchbar { display: none }

    .filters {
      display: block;
      position: relative;

      &:after {
        content: " ";
        position: absolute;
        display: block;
        height: 1px;
        background-color: $lineColorBlueLight;
        bottom: 0;
        left: -5%;
        right: -5%;
      }

      .wrap {
        padding: 1.5em;
        margin-bottom: 1.5em;

        &:after, &:before {
          content: " ";
          display: block;
          position: absolute;
          border: solid 15px transparent;
          border-bottom: 0;
          border-top-color: white;
          left: 50%;
          margin-left: -15px;
          bottom: -13px;
          z-index: 2;
        }

        &:after {
          z-index: 1;
          border-top-color: $lineColorBlueLight;
          bottom: -14px;
        }
      }

      span:not(.filter) {
        display: block;
        font-weight: 300;
        font-size: 1.3em;
        padding-bottom: .7em;
      }

      span.filter {
        color: white;
        font-weight: bold;
        padding: 0 1.5em;
        border-radius: 3px;
        display: inline-block;
        text-transform: uppercase;
        font-size: .7em;

        & + span.filter {
          margin-left: .6em;
        }
      }
    }
  }
}

@media only screen and (max-width: 750px) {
  .steps {
    display: block;
    margin: 0 auto;
    max-width: 450px;

    .step {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;

      img {
        margin-right: 2em;
      }

      & > div {
        text-align: left;
      }
    }

    &:before {
      width: 2px;
      height: 76%;
      left: 23px;
      top: 60px;
      z-index: -1;
    }
  }
}

@media only screen and (max-width: 512px) {
  .matching {
    .results {
      .resultWrap {
        width: 80%;
        float: none;
        margin: 1em auto !important;
        padding: 0;
      }
    }
  }
}