.team-page {
    .hero__picture img {
        width: 90%;
    }

    .circle-list {
        &__section__group__item__picture-area {
            display: block;
            position: relative;
            width: $width-person-card-image;
            height: $height-person-card-image;
            margin: 0 auto;
            cursor: pointer;
        }

        address {
            position: absolute;
            bottom: $size-team-social-shift;
            right: $size-team-social-shift;
            width: $size-team-social;
            display: block;

            svg {
                display: block;
                fill: $color-pill-button-main;

                g {
                    fill: inherit !important;
                }
            }

            .sr {
                @include sr-only;
            }
        }

        h2 > a {
            text-decoration: none;
            cursor: pointer;
        }
    }
}

.person-circle {
    $image-width: $ratio-person-card-image * $width-person-card-image;
    width: $width-person-card-image;
    height: $height-person-card-image;

    image.person-circle__image {
        x: - ($image-width - $width-person-card-image) / 2;
        y: $margin-top-person-card-image;
        width: $image-width;
    }

    &__background {
        fill: $color-card-background;
    }

    &__border {
        stroke-width: $border-width-person-card;
        stroke: $color-lightest-grey;
        fill: transparent;
    }
}
