.team-page {
    .hero__picture img {
        width: 90%;
    }

    .circle-list {
        &__section__group__item__picture-area {
            display: block;
            position: relative;
            margin: 0 auto;
            width: $size-circle-image;
            cursor: pointer;
        }

        address {
            position: absolute;
            bottom: $bottom-team-social;
            right: $right-team-social;
            width: $size-team-social;
            display: block;

            svg {
                display: block;
                fill: $color-pill-button-main;

                g {
                    fill: inherit !important;
                }
            }

            .sr {
                @include sr-only;
            }
        }

        h2 > a {
            text-decoration: none;
            cursor: pointer;
        }
    }
}

.person-circle {
    &__background {
        fill: $color-card-background;
    }

    &__border {
        stroke-width: $border-width-person-card;
        stroke: $color-lightest-grey;
        fill: transparent;
    }
}

@include media-breakpoint-only(md) {
    .team-page .circle-list__section__group__item__picture-area,
    .person-circle {
        width: 150px;
        height: 170px;
    }
}

// IMPORTANT! Do not remove this under any circumstance or skies will fall and
// earth will shatter. Plus, a white stripe will appear in some breakpoints.
.person-mask {
    position: absolute;
}
