{{ partial "head.html" . }}
{{ $headerCtx := dict "ctx" . "secondary_nav" "projects/nav.html" }}
{{ $footerCtx := dict "ctx" . "include_slack" true "include_email" true }}
{{ $projects := $.Site.Data.projects }}

<body class="projects-page">
    {{ partial "header.html" $headerCtx }}
    <section class="projects-hero">
        <div>
            <div class="projects-hero__intro">
                <h1>{{ $projects.title }}</h1>
                <p>{{ $projects.desc }}</p>
            </div>

            <figure class="projects-hero__picture">
                <img src="{{ "img/header/alan-turing.png" | absURL }}" />
            </figure>

            <img class="code-pills-left" src="{{ "img/bgs/codepills-bg-1.png" | absURL }}" />
        </div>
    </section>

    {{ partial "footer.html" $footerCtx }}
</body>
</html>
