{{ partial "head.html" . }}

<body class="homePage">
    {{ partial "header.html" . }}

    <header
        style="background-image: url('{{ default .Site.Params.headerImageUrl .Params.headerImageUrl }}');"
    >
        <div class="mainContainer">
            <div class="description">
                <h1 class="title">Building the first <strong>AI</strong> that <strong>understands code</strong></h1>
            </div>
        </div>
    </header> 

    <section class="fullWidth opaque" id="ourOpenSource">
        <div class="mainContainer">
            <header>
                <h2>404 page error :(</h2>
            </header>
        </div>
    </section>

    {{ partial "footer/contact-us.html" . }}
    {{ partial "footer/sitemap.html" . }}
</body>

</html>
