{{ partial "head.html" . }}
{{ $home := $.Site.Data.home.home }}
{{ $showcases := $.Site.Data.home.showcases }}
{{ $headerCtx := dict "ctx" . }}

<body class="homePage">
    {{ partial "header.html" $headerCtx }}

    {{ partial "home/hero.html" $home }}

    {{ if $home.showcases.display }}
        {{ partial "home/showcases.html" $showcases }}
    {{ end }}

    {{ if $home.projects.display }}
        {{ partial "home/projects.html" $.Site.Data.categories }}
    {{ end }}

    {{ if $home.roadmap.display }}
        {{ partial "home/roadmap.html" $home }}
    {{ end }}

    {{ if $home.testimonials.display }}
        {{ partial "home/testimonials.html" . }}
    {{ end }}

    {{ if $home.blog.display }}
        {{ partial "home/blog.html" $.Site.Data.home.home.blog }}
    {{ end }}

    {{ partial "footer/slack.html" . }}
    {{ partial "footer/contact-us.html" . }}
    {{ partial "footer/sitemap.html" . }}
</body>

</html>
