{{ partial "head.html" . }}

<body class="homePage">
    {{ partial "header.html" . }}

    <header class="fullWidth mainHeader"
        style="background-image: url('{{ with .Params.headerImageUrl }}{{ . }}{{ else }}{{ .Site.Params.headerImageUrl }}{{ end }}');"
    >
        <div class="mainContainer">
            <div class="description">
                <h1 class="title">Building the first <strong>AI</strong> that <strong>understands code</strong></h1>
                <p>We apply neural networks to source code from over 17 million software repositories and 6.6 million developers worldwide</p>
                <p class="link">READ OUR <a href="/manifesto">MANIFESTO</a> AND <a href="http://blog.sourced.tech/post/our-roadmap/" target="_blank">ROADMAP</a></p>
            </div>
        </div>
    </header>

    <section class="fullWidth" id="weAreWeWant">
        <div class="mainContainer">
            <article class="article left">
                <header>
                    <h2>Where we are today</h2>
                </header>
                <ul>
                    <li><span>Fetched and analyzed every git repository on GitHub, BitBucket, self-hosted cgit.</span></li>
                    <li><span>Trained neural networks to extract relevant features from code.</span></li>
                    <li><span>Implemented most git features in our open source go-git.</span></li>
                    <li><span>Currently training neural networks on natural language use.</span></li>
                    <li><span>Built the world's fastest WeightedMinHash and k-means clustering implementations.</span></li>
                    <li><span>Shown that RNNs with memory can learn from projects and its limitations.</span></li>
                </ul>
            </article>
            <article class="article right">
                <header>
                    <h2>What is next?</h2>
                </header>
                <ul>
                    <li><span>Launch a platform where developers find the right teams and projects to join.</span></li>
                    <li><span>Fetching and processing any change to public git repos close to real-time.</span></span></li>
                    <li><span>Finalizing our first trained models on all 6.6 M developers.</span></li>
                    <li><span>Extend TensorFlow with new loss functions and apply to code style.</span></li>
                    <li><span>Moving infrastructure to bare metal servers with 1.4 PB storage running GPUs.</span></li>
                    <li><span>Reaching full feature parity on go-git with libgit2.</span></li>
                </ul>
            </article>
        </div>
    </section>


    <section id="ourOpenSourceContainer"></section>

    <aside id="ourPostsContainer"></aside>

    {{ partial "contact-us.html" . }}
    {{ partial "footer.html" . }}
</body>

</html>
