{{ partial "head.html" . }}
{{ $home := $.Site.Data.home.home }}
{{ $examples := $.Site.Data.home.examples }}
{{ $categories := $.Site.Data.categories }}
{{ $headerCtx := dict "ctx" . }}
{{ $footerCtx := dict "ctx" . "include_slack" true "include_email" true }}
{{ $heroCtx := dict "home" $home "slack" $.Site.Data.slack }}

<body class="home-page">
    {{ partial "header.html" $headerCtx }}

    {{ partial "home/hero.html" $heroCtx }}

    {{ if $home.examples.display }}
        {{ partial "home/examples.html" $examples }}
    {{ end }}

    {{ if $home.projects.display }}
        {{ partial "home/projects.html" $categories }}
    {{ end }}

    {{ if $home.roadmap.display }}
        {{ partial "home/roadmap.html" $home }}
    {{ end }}

    {{ if $home.testimonials.display }}
        {{ partial "home/testimonials.html" . }}
    {{ end }}

    {{ if $home.blog.display }}
        {{ $blog := $.Site.Data.blog.categories }}
        {{ $postsCtx := dict "categories" (slice $blog.culture $blog.technical) "show_subtitle" true "title" "Blog" }}
        {{ partial "posts.html" $postsCtx }}
    {{ end }}

    {{ partial "home/horizontal-slack-form.html" $home }}

    {{ partial "footer.html" $footerCtx }}
</body>

</html>
