{{ range $m := $.group.members }}
    {{ $alt := "%s profile at %s" }}
    {{ if $m.github }}
        {{ $.scratch.Set "href" $m.github }}
        {{ $.scratch.Set "alt" ( printf $alt $m.name "GitHub" ) }}
        {{ $.scratch.Set "icon" "github-filled" }}
    {{ else if $m.linkedin }}
        {{ $.scratch.Set "href" $m.linkedin }}
        {{ $.scratch.Set "alt" ( printf $alt $m.name "LinkedIn" ) }}
        {{ $.scratch.Set "icon" "social/linkedin" }}
    {{ end }}
    <article class="circle-list__section__group__item">
        <a href="{{ $.scratch.Get "href" }}"
           title="{{ $.scratch.Get "alt" }}"
           target="_blank"
           class="circle-list__section__group__item__picture-area"
           data-tracked
        >
            {{ partial "team/person-circle.svg" $m.picture }}
            <address>
                {{ partial "svg" ( $.scratch.Get "icon" ) }}
                <span class="sr">{{ $.scratch.Get "alt" }}</span>
            </address>
        </a>
        <div class="circle-list__section__group__item__info">
            <h2>
                <a href="{{ $.scratch.Get "href" }}"
                   title="{{ $.scratch.Get "alt" }}"
                   target="_blank"
                   data-tracked>
                    {{ $m.name }}
                </a>
            </h2>
            <span class="circle-list__section__group__item__info__subtitle">{{ $m.position }}</span>
            {{ if ne $.group.teamName "" }}
                <span class="circle-list__section__group__item__info__sub-subtitle">{{ $.group.teamName }}</span>
            {{ end }}
        </div>
    </article>
{{ end }}
