<div class="page-text-content__aside">
    <section>
        <header>
            <a href="/tutorials">Tutorials</a>
        </header>
        <ul>
            {{ range $item := $.project.tutorials }}
                <li><a href="/tutorials{{ $item.url }}">{{ $item.name }}</a></li>
            {{ end }}
        </ul>
    </section>
    <section>
        <header>
            <a href="/examples">Examples</a>
        </header>
        <ul>
            {{ range $item := $.project.examples }}
                <li><a href="/examples{{ $item.url }}">{{ $item.name }}</a></li>
            {{ end }}
        </ul>
    </section>
</div>
