{{ $categories := $.ctx.Site.Data.categories.categories.contents }}
{{ $category := default (dict) (index $categories .project.category)}}
{{ $colors := $category.colors }}

<header class="project-header" {{ partial "gradient" $colors | safeHTMLAttr }}>
    <div>
        <img class="code-pills-left" src="{{ "img/bgs/codepills-bg-1.png" }}" />
        <figure class="project-header__logo">
            <div>
                {{ if default false $.project.logo }}
                    {{ partial "svg" $.project.logo }}
                {{ else }}
                    {{ partial "svg" (dict "name" $.project.codePill "color" $colors.left ) }}
                {{ end }}
            </div>
        </figure>

        <p class="project-header__desc">
            {{ (default " " .project.description) | safeHTML }}
        </p>
    </div>
</header>

{{ if default false $.project.badges }}
    <div class="project-badges">
        <ul>
            {{ range $.project.badges }}
                <li>
                    <a href="{{ .url }}" target="_blank">
                        <img src="{{ .image }}"
                            alt="{{ $.project.name }} {{ .name }}"
                        />
                    </a>
                </li>
            {{ end }}
        </ul>
    </div>
{{ end }}
