{{ $slack := $.ctx.Site.Params.social.slack }}
{{ $currentUrl := ( printf "/%s" $.ctx.URL ) }}
{{ if $.project }}
    <div class="project-nav">
        <h2 class="project-nav__title">
            <a href="." class="project-nav__title__project-icon">
                {{ if default false $.project.logosmall }}
                    {{ partial "svg" $.project.logosmall }}
                {{ else }}
                    {{ partial "svg" (dict "name" $.project.codePill "color" "white" ) }}
                {{ end }}
                <span>{{ $.project.name }}</span>
            </a>
        </h2>

        <ul class="project-nav__menu">
            <li>
                <a href="readme" {{ if eq $currentUrl "//" }}class="active"{{end}}>
                    Intro
                </a>
            </li>

            {{ partial "project/raw_item.html" (dict "currentUrl" $currentUrl "fileName" "raw/documentation/tutorials/README.md" "linkUrl" "tutorials" "linkText" "Documentation") }}

            {{ $langs := dict "cpp" "c++" }}
            {{ range $lang := $.project.languages }}
                {{ $langName := default $lang (index $langs $lang) }}
                {{ if eq $lang "go" }}
                    {{ $.ctx.Scratch.Set "apiUrl" (printf "https://godoc.org/github.com/%s" $.project.repository) }}
                {{ else }}
                    {{ $.ctx.Scratch.Set "apiUrl" (printf "api/%s" $lang) }}
                {{ end }}
                <li>
                    <a href="{{ $.ctx.Scratch.Get "apiUrl" }}" target="_blank">
                        {{- if gt (len $.project.languages) 1}}
                            {{ humanize $langName }}
                        {{ end -}}
                        API
                    </a>
                </li>
            {{ end }}

            <li>
                <a href="{{ $.project.releasesUrl }}">
                    Releases
                </a>
            </li>

            <li>
                <a href="{{ $.project.supportUrl }}" target="_blank">
                    Issues
                </a>
            </li>

            {{ partial "project/raw_item.html" (dict "currentUrl" $currentUrl "fileName" "raw/LICENSE" "linkUrl" "license" "linkText" "License") }}
        </ul>

        <div class="project-nav__icons">
            {{ $categoryChannel := index $slack.channels $.project.category }}
            {{ $slackChannel := default $slack.channels.general $categoryChannel }}
            {{ $slackOrg := $slack.orgname}}
            {{ $slackUrl := printf "https://%s.slack.com/messages/%s" $slackOrg $slackChannel }}

            <a href="{{ $slackUrl }}" class="project-nav__icon-link"
                target="_blank" alt="Talk about {{$.project.name}} on Slack"
            >
                {{ partial "svg" "slack-filled" }}
            </a>

            <a href="{{ $.project.projectUrl }}" class="project-nav__icon-link"
                target="_blank" alt="View {{$.project.name}} project on GitHub"
            >
                {{ partial "svg" "github-filled" }}
            </a>
        </div>
    </div>
{{ end }}
