{{ $projects := $.Site.Data.projects }}

{{ $headCtx := dict "ctx" . }}
{{ partial "head.html" $headCtx }}

<body>
{{ partial "header.html" }}
<div class="text-left pb-5">
    <br><br>
    <h1 class="title text-left p-0 mt-5 mb-4">Delivering Engineering Observability over the entire Software Development Life Cycle in enterprises</h1>
</div>
</div>
</header>

<section id="solutions" class="solutions pb-5">
    <div class="container text-dark pt-5">
        <header class="text-center mb-5">
            <h2>source{d} Enterprise solutions and use cases</h2>
        </header>
        <div class="row mb-5">
            <div class="col-md-6 mb-5 order-2 order-md-1">
                <h3 class="title-line line-yellow">IT Modernization & Compliance</h3>
                <p class="mb-5">With source{d} you can easily measure the amount of technical debt you have across your entire codebase as well as progress made to get rid of it. From outdated programming languages to legacy systems and deprecated libraries, all enterprises are investing in IT modernization but not all of them succeed. Source{d} not only increases your chance of success but also helps you save a lot of time in the process. Give your engineers the insights they need to be freed from their maintenance burden that affects your customers' experience.</p>
                <div class="text-center mt-5 row">
                    <div class="col-xl-6">
                        <a href="products/enterprise-edition/#trial" class="btn btn-purple text-white mb-4 w-100">Request a Demo</a>
                    </div>
                    <div class="col-xl-6">
                        <a href="solutions/it-modernization-and-compliance" class="btn btn-highlight w-100">Learn More</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 mb-5 order-1 order-md-2">
                <img class="img-fluid" src="img/it-modernization.jpg" alt="IT Modernization & Compliance">
            </div>
        </div>
        <div class="row mb-5">
            <div class="col-md-6 mb-5">
                <img class="img-fluid" src="img/devops.jpg" alt="DevOps & Cloud Native Transformation">
            </div>
            <div class="col-md-6 mb-5">
                <h3 class="title-line line-yellow">DevOps & Cloud Native Transformation</h3>
                <p class="mb-5">By embracing Docker containers, Kubernetes and other modern technologies, most enterprises are in the process of going cloud-native and adopting DevOps best practices. Although rewarding when implemented correctly, adopting these new systems is an ongoing, expensive and risky journey. With source{d} you can effectively measure your progress, identify opportunities for improvement and define best practices and guidelines as part of your center of excellence. Get the data you need to speed up your companies’ journey to Cloud Native.
                </p>
                <div class="text-center mt-5 row">
                    <div class="col-xl-6">
                        <a href="products/enterprise-edition/#trial" class="btn btn-purple text-white mb-4 w-100">Request a Demo</a>
                    </div>
                    <div class="col-xl-6">
                        <a href="solutions/devops-cloud-native-transformation" class="btn btn-highlight w-100">Learn More</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mb-5">
            <div class="col-md-6 mb-5 order-2 order-md-1">
                <h3 class="title-line line-yellow">Engineering Effectiveness & Efficiency</h3>
                <p class="mb-5">As software engineering organization focus on becoming more agile and delivering business value to their customers quicker, IT managers are often left in the dark with no actionable data to make decisions and optimize for impact. With source{d}, IT managers can now get the visibility they need to level up their overall engineering effectiveness and collaboration process.</p>
                <div class="text-center mt-5 row">
                    <div class="col-xl-6">
                        <a href="products/enterprise-edition/#trial" class="btn btn-purple text-white mb-4 w-100">Request a Demo</a>
                    </div>
                    <div class="col-xl-6">
                        <a href="solutions/engineering-effectiveness-efficiency" class="btn btn-highlight w-100">Learn More</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 mb-5 order-1 order-md-2">
                <img class="img-fluid" src="img/engineering-effectiveness.jpg" alt="Engineering Effectiveness & Efficiency">
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 mb-5">
                <img class="img-fluid" src="img/talent-assessment.jpg" alt="Talent Assessment & Management">
            </div>
            <div class="col-md-6 mb-5">
                <h3 class="title-line line-yellow">Talent Assessment & Management</h3>
                <p class="mb-5">Hiring and retaining engineering talents is hard. With source{d}, you can get the data you need to become a better leader and support the professional growth and happiness of each engineer on your team. Identify new mentorship or resource allocation opportunities to align both your direct report and company goals.</p>
                <div class="text-center mt-5 row">
                    <div class="col-xl-6">
                        <a href="products/enterprise-edition/#trial" class="btn btn-purple text-white mb-4 w-100">Request a Demo</a>
                    </div>
                    <div class="col-xl-6">
                        <a href="solutions/talent-assesment-and-management" class="btn btn-highlight w-100">Learn More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="what-you-get" class="what-you-get text-white pb-5">
    <div class="container pt-5">
        <header class="text-center mb-5">
            <h2>What do you get with source{d} Enterprise?</h2>
        </header>
        <div class="row">
            <div class="col-md-4 mb-5">
                <div class="mb-5 text-center">
                    <img src="img/icons/what_you_get_1.svg" height="150" width="150" alt="">
                </div>
                <h3 class="title-line line-yellow">Security & Compliance</h3>
                <p>With robust role-based access control and advanced security and monitoring functionality, source{d} is designed for enterprise-wide adoption.</p>
            </div>
            <div class="col-md-4 mb-5">
                <div class="mb-5 text-center">
                    <img src="img/icons/what_you_get_2.svg" height="150" width="150" alt="">
                </div>
                <h3 class="title-line line-yellow">Scale & Performance</h3>
                <p>With Kubernetes and Spark as the building blocks of our platform architecture, source{d} can easily scale up so that it only takes seconds or minutes to query your entire codebase.</p>
            </div>
            <div class="col-md-4 mb-5">
                <div class="mb-5 text-center">
                    <img src="img/icons/what_you_get_3.svg" height="150" width="150" alt="">
                </div>
                <h3 class="title-line line-yellow">Support & SLAs</h3>
                <p>Get a highly responsive, technical and dedicated support team. Gain peace of mind with fast, reliable resolutions to your problems backed by an SLA.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 mb-5">
                <div class="mb-5 text-center">
                    <img src="img/icons/what_you_get_4.svg" height="150" width="150" alt="">
                </div>
                <h3 class="title-line line-yellow">Automated Retrieval & Technology Mapping</h3>
                <p>Automatically discover where your code is and map out your tech stacks both upstream and downstream so that you can asses, plan, execute and monitor your IT projects more effectively.</p>
            </div>
            <div class="col-md-4 mb-5">
                <div class="mb-5 text-center">
                    <img src="img/icons/what_you_get_5.svg" height="150" width="150" alt="">
                </div>
                <h3 class="title-line line-yellow">Flexible deployment options</h3>
                <p>The simplicity of one-click deployment or the flexibility of managed on-premise, choose who takes care of running the platform while keeping full control of your data.</p>
            </div>
            <div class="col-md-4 mb-5">
                <div class="mb-5 text-center">
                    <img src="img/icons/what_you_get_6.svg" height="150" width="150" alt="">
                </div>
                <h3 class="title-line line-yellow">Advanced queries and UDFs</h3>
                <p>The extensibility of the platform allows user to write custom user defined functions to extend their analysis beyond SQL queries.</p>
            </div>
        </div>
    </div>
</section>

<section id="trial" class="trial pt-5 pb-0">
    <div class="container">
        <div class="row">
            <div class="col-md-6 mb-5 text-dark">
                <header class="mb-5">
                    <h2 class="title-line line-yellow">Request a source{d} Enterprise Demo</h2>
                </header>
                <p>From CIO and CTO to managers, everyone in the IT organization can benefit from source{d} Enterprise built-in visualization, management capabilities, and advanced analytic functions.</p>
                <p>With support for distributed processing across multiple nodes and cross joining of external data sources, source{d} Enterprise is purposely built to handle very large and complex SDLC data and engineering teams. source{d} Enterprise also comes with a series of add-ons in the form of advanced queries and user-defined functions to help enterprises overcome specific challenges such as identity matching or code duplication analysis.</p>
                <p>Request a demo to learn more about source{d} Enterprise scalability, governance, and security features!</p>
            </div>
            <div class="col-md-6 mb-5">
                <div class="card text-white green h-100 p-5">
                    <iframe src="https://go.sourced.tech/l/578561/2019-04-24/5tqgk" width="100%" height="610" type="text/html" frameborder="0" allowTransparency="true" style="border: 0"></iframe>
                </div>
            </div>
        </div>
    </div>
</section>

{{ partial "footer.html" }}
</body>
</html>
</title>
</head>
<body>

</body>
</html>
