<header class="home-hero">
    <div class="home-hero__wrap">
        <div class="home-hero__info">
            <h1>{{ .home.title | safeHTML }}</h1>
            <p>{{ .home.desc | safeHTML }}</p>
        </div>

        <div class="home-hero__slack"
             id="slack-join"
             data-button="{{ .slack.msgs.button }}"
             data-desc="{{ .slack.desc }}"
             data-endpoint="{{ .slack.endpoint }}"
             data-fetch-error="{{ .slack.msgs.fetch_error }}"
             data-logo="{{ "/img/icons/slack-enter-color.svg" | relURL }}"
             data-placeholder="{{ .slack.placeholder }}"
             data-server-error="{{ .slack.msgs.server_error }}"
             data-success="{{ .slack.msgs.success }}"
             data-title="{{ .slack.title }}"
             data-wait="{{ .slack.msgs.wait }}"
        ></div>
        <img class="code-pills-left mobile-hidden" src="{{ "img/bgs/codepills-bg-1.png" | absURL }}" />
        <img class="code-pills-right mobile-hidden" src="{{ "img/bgs/codepills-bg-4.png" | absURL }}" />
    </div>
</header>
