<div class="roadmap"> 
    <h1>Our roadmap</h1>
    {{ range $r := .roadmap }}
        <p>{{ $r }}</p>
    {{ end }}
    <p class="roadmap__signature">Eiso Kant</p>
    <p>Co-Founder &amp; Ceo</p>

    <div class="roadmap__links">
        <a href="{{ .links.roadmap.url }}" class="btn-pill btn-pill--white-outline" title="{{ .links.roadmap.text }}">
            {{ .links.roadmap.text }}
        </a>
        <a href="{{ .links.manifesto.url }}" class="btn-pill btn-pill-white-outline" title="{{ .links.manifesto.text }}">
            {{ .links.manifesto.text }}
        </a>
    </div>
</div>
