<section class="roadmap">
    <div>
        <img class="code-pills-left" src="{{ "img/bgs/codepills-bg-3.png" | absURL }}" />

        <article>
            <div class="roadmap__photo">
                <img src="{{ .roadmap.ceo_picture | relURL }}" alt="Eiso Kant" />
            </div>

            <div class="roadmap__content">
                <h1>Our roadmap</h1>
                {{ range $r := .roadmap.content }}
                    <p>{{ $r }}</p>
                {{ end }}

                <div class="roadmap__signature">
                    <p class="roadmap__signature__name">Eiso Kant</p>
                    <p>Co-Founder &amp; Ceo</p>
                </div>

                <div class="roadmap__links">
                    {{ partial "home/our-links.html" . }}
                </div>
            </div>
        </article>
    </div>
</section>
