<section class="roadmap">
    <div>
        <img class="code-pills-left" src="{{ "img/bgs/codepills-bg-3.png" | absURL }}" />

        <h1>Our roadmap</h1>
        {{ range $r := .roadmap.content }}
            <p>{{ $r }}</p>
        {{ end }}

        <div class="roadmap__footer">
            <div class="roadmap__signature">
                <img class="roadmap__signature__photo" src="{{ .roadmap.ceo_picture | relURL }}" alt="Eiso Kant" />
                <div class="roadmap__signature__title">
                    <span class="roadmap__signature__name">Eiso Kant</span>
                    <span>Co-Founder &amp; Ceo</span>
                </div>
            </div>

            <div class="roadmap__links">
                {{ partial "home/our-links.html" . }}
            </div>
        </div>
    </div>
</section>
