<section class="testimonials">
    <h1>What developers say</h1>
    
    <div id="testimonials"></div>
    <script type="text/javascript">
        window.testimonials = [
            {{ range $.Site.Data.home.testimonials.testimonials }}
                {
                    text: "{{ .text }}",
                    avatar: "{{ .avatar }}",
                    url: "{{ .url }}",
                    name: "{{ .name }}",
                    nickname: "{{ .nickname }}",
                },
            {{ end }}
        ];
    </script>
</section>
