{{ partial "head.html" . }}
{{ $headerCtx := dict "ctx" . "opaque" true }}
{{ $footerCtx := dict "ctx" . }}

<body>
    {{ partial "header.html" $headerCtx }}

    <section class="custom-page band">
        <article class="band__container">
            <h1>{{ .Title }}</h1>

            {{ if ne (.Lastmod.Format "02/01/2006") (dateFormat "02/01/2006" "0001-01-01") }}
                <p class="last-update">
                    Last updated at {{ .Lastmod.Format "02/01/2006" }}
                </p>
            {{ end }}

            <div class="page-text-content">
                {{ .Content }}
            </div>
        </article>
    </section>

    {{ partial "footer.html" $footerCtx }}
</body>
</html>
