{{ partial "head.html" . }}
{{ $headerCtx := dict "ctx" . }}

<body>
    {{ partial "header.html" $headerCtx }}

    <section class="fullWidth customPage">
        <div class="mainContainer">
            <article>
                <h2>{{ .Title }}</h2>

                {{ if ne (.Lastmod.Format "02/01/2006") (dateFormat "02/01/2006" "0001-01-01") }}
                    <p class="lastUpdate">
                        Last updated at {{ .Lastmod.Format "02/01/2006" }}
                    </p>
                {{ end }}
                
                <div class="content">
                    {{ .Content }}
                </div>
            </article>
        </div>
    </section>

    {{ $footerCtx := dict "Params" (dict "footer" "white") "Site" $.Site }}
    {{ partial "footer/sitemap.html" . }}
</body>
</html>
