{{ partial "head.html" . }}

<body class="teamPage zoom">
    {{ partial "header.html" . }}

    <header
        style="background-image: url('{{ default .Site.Params.headerImageUrl .Params.headerImageUrl }}');"
    >
        <div class="mainContainer">
            <div class="description">
                <h1 class="title">Our team</h1>
                <p>At source{d} we are all engineers, developers and hackers ourselves. We go as far as to train and encourage all non-technical roles to also become developers.</p>
            </div>
        </div>
    </header>

    {{ range $t := $.Site.Data.team.teams }}
    <section class="fullWidth">
        <div class="mainContainer team">
            <h2>{{ $t.name }}</h2>
            <p>{{ $t.headline }}</p>

            <div class="members">
                {{ if default false $t.subteams }}
                    {{ range $subteam := $t.subteams }}
                        {{ partial "team-members.html" $subteam }}
                    {{ end }}
                {{ else }}
                    {{ partial "team-members.html" $t }}
                {{ end }}
            </div>
        </div>
    </section>
    {{ end }}

    {{ partial "footer/contact-us.html" . }}
    {{ partial "footer/sitemap.html" . }}
</body>

</html>
