{{ partial "head.html" . }}
{{ $team := $.Site.Data.team }}
{{ $headerCtx := dict "ctx" . }}
{{ $heroCtx := dict "ctx" . "data" $team }}
{{ $footerCtx := dict "ctx" . "include_slack" true "include_email" true }}

<body class="team-page">
    {{ partial "header.html" $headerCtx }}
    {{ partial "hero.html" $heroCtx }}

    <section class="band band_grey">
        <div class="band__container">
            {{ range $t := $team.teams }}
                <h1>
                    <span class="title">{{ $t.name }}</span>
                </h1>

                <p>{{ $t.headline }}</p>

                <div class="members">
                    {{ if default false $t.subteams }}
                        {{ range $subteam := $t.subteams }}
                            {{ partial "team-members.html" $subteam }}
                        {{ end }}
                    {{ else }}
                        {{ partial "team-members.html" $t }}
                    {{ end }}
                </div>
            {{ end }}
        </div>
    </section>

    {{ partial "footer.html" $footerCtx }}
</body>
</html>
