{{ $projects := $.Site.Data.projects }}

{{ $headCtx := dict "ctx" . }}
{{ partial "head.html" $headCtx }}

<body>
{{ partial "header.html" }}
<div class="text-left pb-5">
    <br><br>
    <h1 class="title text-left p-0 mt-5 mb-4">Quickly Identify IT Bottlenecks and Unlock Effective Collaboration </h1>
</div>
</div>
</header>

<section id="challenges" class="challenges pb-5">
    <div class="container text-dark">
        <div class="row pt-5">
            <div class="col-md-6">
                <h3 class="title-line line-yellow">Challenges</h3>
                <ul class="small-list">
                    <li>No data to identify bottlenecks slowing down overall software delivery</li>
                    <li>Inconsistent documentation, code reviews or test coverage</li>
                    <li>Slow cycle times from idea to production</li>
                    <li>Frustration coming from ineffective development processes and guidelines</li>
                </ul>
            </div>
            <div class="col-md-6">
                <h3 class="title-line line-yellow">Benefits</h3>
                <ul class="small-list">
                    <li>Software re-use and collaboration</li>
                    <li>Higher team morale</li>
                    <li>Improved code review and test coverage leading to quality improvements</li>
                    <li>Increased agility, velocity leading to higher customer satisfaction</li>
                </ul>
            </div>
        </div>
    </div>
</section>

<section id="overall" class="pb-5">
    <div class="container text-dark">
        <div class="row pt-5">
            <div class="col-md-6">
                <h2 class="title-line line-yellow">Overall Engineering Effectiveness</h2>
                <p class="mb-4">Measuring IT initiatives is hard and time-consuming. Some of the most common pitfalls include looking at the wrong metrics, looking at metrics that are not actionable or metrics that are too difficult to compute. With source{d}, everyone in the IT organization can access and customize engineering health reports,  identify IT productivity pain points and their root causes.</p>
            </div>
            <div class="col-md-6">
                <img class="img-fluid" src="../../img/engineering-1.jpg" alt="">
            </div>
        </div>
        <div class="row pt-4">
            <div class="col-md-6 mb-4">
                <p>Examples of questions you should have the answers to:</p>
                <ul class="small-list">
                    <li>Is this project likely to ship on time?</li>
                    <li>Where is our development process slowing down?</li>
                    <li>Who are the top performing developers on this project/team?</li>
                </ul>
            </div>
            <div class="col-md-6">
                <p>Examples of metrics you could be tracking:</p>
                <ul class="small-list">
                    <li>Codebase Growth</li>
                    <li>Cycle Time</li>
                    <li>Throughput</li>
                    <li>Backlog Burn Rate</li>
                </ul>
            </div>
        </div>
        <div class="text-center mt-5 row">
            <div class="col-xl-6 offset-xl-3">
                <div class="row">
                    <div class="col-lg-6">
                        <a href="https://go.sourced.tech/engine-download" class="btn btn-purple text-white mb-4 w-100">Download source{d}</a>
                    </div>
                    <div class="col-lg-6">
                        <a href="https://go.sourced.tech/engine" class="btn btn-highlight w-100">Request a Demo</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="review" class="pb-5">
    <div class="container text-dark">
        <div class="row pt-5">
            <div class="col-md-6 order-last order-md-first">
                <img class="img-fluid" src="../../img/engineering-2.jpg" alt="">
            </div>
            <div class="col-md-6 order-first order-md-last">
                <h2 class="title-line line-yellow">Code Review Activity</h2>
                <p class="mb-4">Code review is an essential part of every company quality assurance efforts. Although important, the volume of code reviews and comments can also be overwhelming for large teams. source{d] provides the reports and insights Engineering managers need to remove bottlenecks, encourage knowledge transfer while preserving their teams' agility and velocity. </p>
            </div>
        </div>
        <div class="row pt-4">
            <div class="col-md-6 mb-4">
                <p>Examples of questions you should have the answers to:</p>
                <ul class="small-list">
                    <li>How effectively are we doing code review?</li>
                    <li>Who are the top code reviewers?</li>
                    <li>Are discussions happening?</li>
                </ul>
            </div>
            <div class="col-md-6">
                <p>Examples of metrics you could be tracking:</p>
                <ul class="small-list">
                    <li>Code Review Engagement</li>
                    <li>Time to First Comment</li>
                    <li>Number of Comments / Reviewers</li>
                    <li>Documentation / Test Coverage</li>
                </ul>
            </div>
        </div>
        <div class="text-center mt-5 row">
            <div class="col-xl-6 offset-xl-3">
                <div class="row">
                    <div class="col-lg-6">
                        <a href="https://go.sourced.tech/engine-download" class="btn btn-purple text-white mb-4 w-100">Download source{d}</a>
                    </div>
                    <div class="col-lg-6">
                        <a href="https://go.sourced.tech/engine" class="btn btn-highlight w-100">Request a Demo</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="governance" class="pb-5">
    <div class="container text-dark">
        <div class="row pt-5">
            <div class="col-md-6">
                <h2 class="title-line line-yellow">Pull / Merge Request Activity</h2>
                <p class="mb-4">Engineering managers can learn a lot about individual contributions, development and collaboration patterns by looking at Pull / Merge request activity. With the right metrics at their fingertips, they can better manage team resources and positively impact both the software delivery cycles and quality.</p>
            </div>
            <div class="col-md-6">
                <img class="img-fluid" src="../../img/engineering-3.jpg" alt="">
            </div>
        </div>
        <div class="row pt-4">
            <div class="col-md-6 mb-4">
                <p>Examples of questions you should have the answers to:</p>
                <ul class="small-list">
                    <li>How often are we merging code without reviews?</li>
                    <li>How much time we have between developers joining the company until there are significant contributions from them?</li>
                    <li>Which projects are falling behind schedule?</li>
                </ul>
            </div>
            <div class="col-md-6">
                <p>Examples of metrics you could be tracking:</p>
                <ul class="small-list">
                    <li>Average time to merge</li>
                    <li>Time to merge based on code size</li>
                    <li>Most active repositories</li>
                    <li>Pull request breakdown by topic</li>
                </ul>
            </div>
        </div>
        <div class="text-center mt-5 row">
            <div class="col-xl-6 offset-xl-3">
                <div class="row">
                    <div class="col-lg-6">
                        <a href="https://go.sourced.tech/engine-download" class="btn btn-purple text-white mb-4 w-100">Download source{d}</a>
                    </div>
                    <div class="col-lg-6">
                        <a href="https://go.sourced.tech/engine" class="btn btn-highlight w-100">Request a Demo</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="services-box">
    {{ partial "how-works.html" }}
</div>
{{ partial "footer.html" }}
</body>
</html>
</title>
</head>
<body>

</body>
</html>
