{{$page := "about"}}
{{ partial "header.html" . }}
<div class="triangle tr-team">
    <div class="block-text">Tech recruitment by developers for developers</div>
    <p class="header-description">We have seen ourselves how hard it is to recruit technical
        talent and how much of a pain it is for developers to receive spammy emails from
        recruiters who have no clue what they're talking about. We are a team of 33 people from 11
        nationalities committed to fixing this on a global scale.</p>
</div>
<div class="shape"><img src="/image/trian.svg"></div>
<div class="content-wrapper">

    <div class="block-white">
        <h1 class="main-header">Team</h1>

        <div class="our-team">Developer Relations</div>
        <div class="team">
            <div class="team-item">
                <div class="team-item-photo"><img src="/image/tyba/anna.png" alt="Anna Tsolakou" title="Anna Tsolakou"></div>
                <div class="team-item-name1">Anna</div>
                <div class="team-item-name2">Tsolakou</div>
                <div class="team-item-position">Developer Relations</div>
                <div class="team-item-github"><a href="https://www.linkedin.com/in/tsolakouanna" target="_blank">LinkedIn Profile</a></div>
            </div>
            <div class="team-item">
                <div class="team-item-photo"><img src="/image/tyba/georgina.png" alt="Georgina Giannoukou" title="Georgina Giannoukou"></div>
                <div class="team-item-name1">Georgina</div>
                <div class="team-item-name2">Giannoukou</div>
                <div class="team-item-position">Developer Relations</div>
                <div class="team-item-github"><a href="https://es.linkedin.com/in/georginagiannoukou" target="_blank">LinkedIn Profile</a></div>
            </div>
            <div class="team-item">
                <div class="team-item-photo"><img src="/image/tyba/miguelangel.png"  alt="Miguel Ángel Díaz" title="Miguel Ángen Díaz"></div>
                <div class="team-item-name1">Miguel Ángel</div>
                <div class="team-item-name2">Díaz</div>
                <div class="team-item-position">Developer Relations</div>
                <div class="team-item-github"><a href="https://es.linkedin.com/in/miguel-ángel-díaz-bautista-91401685" target="_blank">LinkedIn Profile</a></div>
            </div>
            <div class="team-item">
                <div class="team-item-photo"><img src="/image/tyba/pablo.png" alt="Pablo de las Heras" title="Pablo de las Heras"></div>
                <div class="team-item-name1">Pablo</div>
                <div class="team-item-name2">de las Heras</div>
                <div class="team-item-position">Developer Relations</div>
                <div class="team-item-github"><a href="https://es.linkedin.com/in/pabloherascampa/en" target="_blank">LinkedIn Profile</a></div>
            </div>
            <div class="team-item">
                <div class="team-item-photo"><img src="/image/tyba/petros.png"></div>
                <div class="team-item-name1">Petros</div>
                <div class="team-item-name2">Koklas</div>
                <div class="team-item-position">Developer Relations</div>
                <div class="team-item-github"><a href="https://linkedin.com/in/petros-koklas-6445576b" target="_blank">LinkedIn Profile</a></div>
            </div>
            <div class="team-item">
                <div class="team-item-photo"><img src="/image/tyba/jesus.png" alt="Jesus Caño" title="Jesus Caño"></div>
                <div class="team-item-name1">Jesus</div>
                <div class="team-item-name2">Caño</div>
                <div class="team-item-position">Developer Relations</div>
                <div class="team-item-github"><a href="https://es.linkedin.com/in/jesuscano1" target="_blank">LinkedIn Profile</a></div>
            </div>
            <div class="team-item">
                <div class="team-item-photo"><img src="/image/tyba/tiago.png" alt="Tiago Carvalho" title="Tiago Carvalho"></div>
                <div class="team-item-name1">Tiago</div>
                <div class="team-item-name2">Carvalho</div>
                <div class="team-item-position">Developer Relations</div>
                <div class="team-item-github"><a href="https://pt.linkedin.com/in/tiagocarvalhorocha" target="_blank">LinkedIn Profile</a></div>
            </div>
            <div class="team-item">
                <div class="team-item-photo"><img src="/image/tyba/ruben.png" alt="Ruben Paz" title="Ruben Paz"></div>
                <div class="team-item-name1">Ruben</div>
                <div class="team-item-name2">Paz</div>
                <div class="team-item-position">Developer Relations</div>
                <div class="team-item-github"><a href="https://es.linkedin.com/in/rubenpaz" target="_blank">LinkedIn Profile</a></div>
            </div>
            <div class="team-item">
                <div class="team-item-photo"><img src="/image/tyba/francesco.png" alt="Francesco Rizzo" title="Francesco Rizzo"></div>
                <div class="team-item-name1">Francesco</div>
                <div class="team-item-name2">Rizzo</div>
                <div class="team-item-position">Developer Relations</div>
                <div class="team-item-github"><a href="https://www.linkedin.com/in/francesco-rizzo-58558932/" target="_blank">LinkedIn Profile</a></div>
            </div>
        </div>

        <div class="our-team">Engineering</div>
        <div class="team">
            <div class="team-item">
                <div class="team-item-photo"><img src="/image/tyba/guillermo.png" alt="Guillermo Soberon" title="Guillermo Soberon"></div>
                <div class="team-item-name1">Guillermo</div>
                <div class="team-item-name2">Soberón</div>
                <div class="team-item-position">Backend Developer</div>
                <div class="team-item-github"><a href="https://github.com/gsc" target="_blank">GitHub Profile</a></div>
            </div>
            <div class="team-item">
                <div class="team-item-photo"><img src="/image/tyba/daniel.png" alt="Daniel Rippoles" title="Daniel Ripolles"></div>
                <div class="team-item-name1">Daniel</div>
                <div class="team-item-name2">Ripollés</div>
                <div class="team-item-position">Backend Developer</div>
                <div class="team-item-github"><a href="https://github.com/dripolles" target="_blank">GitHub Profile</a></div>
            </div>
            <div class="team-item">
                <div class="team-item-photo"><img src="/image/tyba/alberto.png" alt="Alberto Cortes" title="Alberto Cortes"></div>
                <div class="team-item-name1">Alberto</div>
                <div class="team-item-name2">Cortés</div>
                <div class="team-item-position">Backend Developer</div>
                <div class="team-item-github"><a href="https://github.com/alcortesm" target="_blank">GitHub Profile</a></div>
            </div>

            <div class="team-item">
                <div class="team-item-photo"><img src="/image/tyba/miguel.png" alt="Jose Miguel Molina" title="Jose Miguel Molina"></div>
                <div class="team-item-name1">Jose Miguel</div>
                <div class="team-item-name2">Molina</div>
                <div class="team-item-position">Frontend Developer</div>
                <div class="team-item-github"><a href="https://github.com/mvader" target="_blank">GitHub Profile</a></div>
            </div>
            <div class="team-item">
                <div class="team-item-photo"><img src="/image/tyba/curro.png"  alt="Curro Rodriguez" title="Curro Rodriguez"></div>
                <div class="team-item-name1">Curro</div>
                <div class="team-item-name2">Rodríguez</div>
                <div class="team-item-position">DevOps</div>
                <div class="team-item-github"><a href="https://github.com/curratore" target="_blank">GitHub Profile</a></div>
            </div>
        </div>
        <div class="our-team">Customer Operations</div>
        <div class="team">
        	<div class="team-item">
                <div class="team-item-photo"><img src="/image/tyba/vasco.png" alt="Vasco Ramos" title="Vasco Ramos"></div>
                <div class="team-item-name1">Vasco</div>
                <div class="team-item-name2">Ramos</div>
                <div class="team-item-position">Customer Operations Manager, Southern Europe</div>
                <div class="team-item-github"><a href="https://www.linkedin.com/in/vasco2ramos" target="_blank">LinkedIn Profile</a></div>
            </div>
            <div class="team-item">
                <div class="team-item-photo"><img src="/image/tyba/elena.png" alt="Elena Grebe" title="Elena Grebe"></div>
                <div class="team-item-name1">Elena</div>
                <div class="team-item-name2">Grebe</div>
                <div class="team-item-position">Sales Operations
                    
                </div>
                <div class="team-item-github"><a href="https://es.linkedin.com/pub/elena-grebe/bb/812/616/en">LinkedIn Profile</a></div>
            </div>
        </div>

        <div class="our-team">Support</div>
        <div class="team">
            <div class="team-item">
                <div class="team-item-photo"><img src="/image/tyba/camille.png" alt="Camille David" title="Camille David"></div>
                <div class="team-item-name1">Camille</div>
                <div class="team-item-name2">David</div>
                <div class="team-item-position">Business Intelligence Intern
                </div>
                <div class="team-item-github"><a href="https://es.linkedin.com/in/camilledavid/en">LinkedIn Profile</a></div>
            </div>
        </div>

        <div class="our-team">Management</div>
        <div class="team">
            <div class="team-item">
                <div class="team-item-photo"><img src="/image/tyba/eiso.png" alt="Eiso Kant" title="Eiso Kant"></div>
                <div class="team-item-name1">Eiso</div>
                <div class="team-item-name2">Kant</div>
                <div class="team-item-position">Co-Founder & CEO</div>
                <div class="team-item-github"><a href="https://github.com/eiso" target="_blank">GitHub Profile</a></div>
            </div>
            <div class="team-item">
                <div class="team-item-photo"><img src="/image/tyba/jorge.png" alt="Jorge Schnura" title="Jorge Schnura"></div>
                <div class="team-item-name1">Jorge</div>
                <div class="team-item-name2">Schnura</div>
                <div class="team-item-position">Co-Founder & COO</div>
                <div class="team-item-github"><a href="https://es.linkedin.com/in/jorgeschnura">LinkedIn Profile</a></div>
            </div>
            <div class="team-item">
                <div class="team-item-photo"><img src="/image/tyba/maximo.png" alt="Máximo Cuadros" title="Máximo Cuadros"></div>
                <div class="team-item-name1">Máximo</div>
                <div class="team-item-name2">Cuadros</div>
                <div class="team-item-position">VP of Engineering</div>
                <div class="team-item-github"><a href="https://github.com/mcuadros" target="_blank">GitHub Profile</a></div>
            </div>
            <div class="team-item">
                <div class="team-item-photo"><img src="/image/tyba/phil.png" alt="Philip von Have" title="Philip von Have"></div>
                <div class="team-item-name1">Philip</div>
                <div class="team-item-name2">von Have</div>
                <div class="team-item-position">Co-Founder & VP of Customer Operations Germany</div>
                <div class="team-item-github"><a href="https://de.linkedin.com/pub/philip-von-have/20/46a/29b">LinkedIn Profile</a></div>
            </div>
            <div class="team-item">
                <div class="team-item-photo"><img src="/image/tyba/marge.png" alt="Margarida Garcia" title="Margarida Garcia"></div>
                <div class="team-item-name1">Margarida</div>
                <div class="team-item-name2">Garcia</div>
                <div class="team-item-position">VP of Developer Relations</div>
                <div class="team-item-github"><a href="https://es.linkedin.com/in/margaridagarcialopes">LinkedIn Profile</a></div>

            </div>
        </div>

        <h1 class="main-header">Company Stack</h1>

        <div class="stack-container">
            <div class="stack-item stack1">
                <div class="stack-item-content">
                    <a href="http://golang.org" target="_blank"><img src="/image/stack/go.png"></a>
                </div>
                <div class="stack-item-name">Backend Language</div>
            </div>
            <div class="stack-item stack2">
                <div class="stack-item-content">
                    <a href="https://www.docker.com/" target="_blank"><img src="/image/stack/docker.png"></a>
                </div>
                <div class="stack-item-content">
                    <a href="https://coreos.com/etcd" target="_blank"><img src="/image/stack/etcd.png"></a>
                </div>
                <div class="stack-item-name">OS Level Virtualization</div>
            </div>
            <div class="stack-item stack2">
                <div class="stack-item-content">
                    <a href="https://www.mongodb.org" target="_blank"><img src="/image/stack/mongodb.png"></a>
                </div>
                <div class="stack-item-content">
                    <a href="https://www.elastic.co" target="_blank"><img src="/image/stack/elastic.png"></a>
                </div>
                <div class="stack-item-name">Storage</div>
            </div>
            <div class="stack-item stack1">
                <div class="stack-item-content">
                    <a href="http://prometheus.io" target="_blank"><img src="/image/stack/prometheus.png"></a>
                </div>
                <div class="stack-item-name">Monitoring</div>
            </div>
            <div class="stack-item stack1">
                <div class="stack-item-content">
                    <a href="http://github.com" target="_blank"><img src="/image/stack/github.png"></a>
                </div>
                <div class="stack-item-name">Revision Control</div>
            </div>
            <div class="stack-item stack2">
                <div class="stack-item-content">
                    <a href="https://facebook.github.io/react/" target="_blank"><img src="/image/stack/react.png"></a>
                </div>
                <div class="stack-item-content">
                    <a href="http://redux.js.org/" target="_blank"><img src="/image/stack/redux.png"></a>
                </div>
                <div class="stack-item-name">Frontend Tools</div>
            </div>
            <div class="stack-item stack3">
                <div class="stack-item-content">
                    <a href="http://www.ansible.com/" target="_blank"><img src="/image/stack/ansible.png"></a>
                </div>
                <div class="stack-item-content">
                    <a href="https://travis-ci.org" target="_blank"><img src="/image/stack/travis.png"></a>
                </div>
                <div class="stack-item-content">
                    <a href="http://rancher.com/rancher-os/" target="_blank"><img src="/image/stack/rancher.png"></a>
                </div>
                <div class="stack-item-name">Deployment</div>
            </div>
            <div class="clear"></div>
        </div>


    </div>

    <div class="block-gray">
        <h1 class="main-header" style="padding-top: 40px;">Where we come from</h1>

        <div class="geodata">
            <div class="map"><img src="/image/map.png"></div>
            <div class="states">
                <table>
                    <tbody>
                    <tr>
                        <td class="state">Spain</td>
                        <td class="number">11</td>
                    </tr>
                    <tr>
                        <td class="state">Greece</td>
                        <td class="number">3</td>
                    </tr>
                    <tr>
                        <td class="state">Portugal</td>
                        <td class="number">3</td>
                    </tr>
                    <tr>
                        <td class="state">Germany</td>
                        <td class="number">2</td>
                    </tr>
                    <tr>
                        <td class="state">Italy</td>
                        <td class="number">1</td>
                    </tr>
                    <tr>
                        <td class="state">Netherlands</td>
                        <td class="number">1</td>
                    </tr>
                    <tr>
                        <td class="state">France</td>
                        <td class="number">1</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="clear"></div>
        </div>
        <div class="address">

            <div class="addresses">
                <h2>Our Offices</h2>

                <div class="address-item active-address map-change">
                    <div class="address-item-city">MADRID <span>Spain</span></div>
                    <div class="address-item-street">Calle de Claudio Coello, 16, 28001
                    </div>
                    <div class="address-item-link">Map</div>
                </div>
                <div class="address-item map-change">
                    <div class="address-item-city">LONDON <span>UK</span></div>
                    <div class="address-item-street">WeWork, 22 Upper Ground, SE1 9PD</div>
                    <div class="address-item-link">Map</div>
                </div>
                <div class="address-item map-change">
                    <div class="address-item-city">BERLIN <span>Germany</span></div>
                    <div class="address-item-street">Rheinsberger Str. 76/7, 10115</div>
                    <div class="address-item-link">Map</div>
                </div>
            </div>
        </div>
    </div>
    <div id="map-tyba"></div>
    <div class="block-white" style="margin-top:-5px;">
        <div class="contact-us">
            <div class="contact-us-item">
                <div class="contact-us-item-pic"><img src="/image/job.png"></div>
                <div class="contact-us-item-text">
                    <h3>Want to work with us?</h3>

                    <p>Send us your Github or your CV and we will get back to you as soon as
                        possible.</p>
                    <a href="mailto:talent@sourced.tech" class="green">WRITE US</a>
                </div>
                <div class="clear"></div>
            </div>
            <div class="contact-us-item">
                <div class="contact-us-item-pic"><img src="/image/press.png"></div>
                <div class="contact-us-item-text">
                    <h3>Do you want to write about us?</h3>

                    <p>Feel free to drop us a line and ask us about anything you need.</p>
                    <a href="mailto:hello@sourced.tech" class="blue">ASK US</a>
                </div>
                <div class="clear"></div>
            </div>
        </div>
    </div>

    <script src='https://maps.googleapis.com/maps/api/js?key=&sensor=false&extension=.js'></script>
    <script src='/js/about.js'></script>
{{ partial "footer.html" }}
