{{$page := "about"}}
{{ partial "header.html" . }}
<div class="triangle tr-team">
    <div class="block-text">TECH RECRUITMENT BY DEVELOPERS FOR DEVELOPERS</div>
    <p class="header-description">We've seen ourselves how hard it is to recruit technical
        talent and how much of a pain it is for developers to receive spammy emails from
        recruiters who have no clue what they're talking about. We're a team of 28 people from 11
        nationalities committed to fix this on a global scale.</p>
</div>
<div class="shape"><img src="/image/trian.svg"></div>
<div class="content-wrapper">

    <div class="block-white">
        <h1 class="main-header">Team</h1>

        <div class="our-team">Developer Relations</div>
        <div class="team">
            <div class="team-item">
                <div class="team-item-photo"><img src="/image/tyba/marge.png"></div>
                <div class="team-item-name1">Margarida</div>
                <div class="team-item-name2">Garcia</div>
                <div class="team-item-position">Head of Developer Relations</div>
                <div class="team-item-github"><a href="https://es.linkedin.com/in/margaridagarcialopes">Linkedin Profile</a></div>

            </div>
            <div class="team-item">
                <div class="team-item-photo"><img src="/image/tyba/vasco.png"></div>
                <div class="team-item-name1">Vasco</div>
                <div class="team-item-name2">Ramos</div>
                <div class="team-item-position">Junior Developer Relations</div>
                <div class="team-item-github"><a href="https://github.com/vasco2ramos" target="_blank">GitHub Profile</a></div>
            </div>
            <div class="team-item">
                <div class="team-item-photo"><img src="/image/tyba/anna.png"></div>
                <div class="team-item-name1">Anna</div>
                <div class="team-item-name2">Tsolakou</div>
                <div class="team-item-position">Junior Developer Relations</div>
                <div class="team-item-github"><a href="https://github.com/tsolakoua" target="_blank">GitHub Profile</a></div>
            </div>
            <div class="team-item">
                <div class="team-item-photo"><img src="/image/tyba/georgina.png"></div>
                <div class="team-item-name1">Georgina</div>
                <div class="team-item-name2">Giannoukou</div>
                <div class="team-item-position">Junior Developer Relations</div>
                <div class="team-item-github"><a href="https://github.com/lareina" target="_blank">GitHub Profile</a></div>
            </div>
        </div>

        <div class="our-team">Engineering</div>
        <div class="team">
            <div class="team-item">
                <div class="team-item-photo"><img src="/image/tyba/franky.png"></div>
                <div class="team-item-name1">Franky</div>
                <div class="team-item-name2">Rodríguez</div>
                <div class="team-item-position">Backend Developer</div>
                <div class="team-item-github"><a href="https://github.com/ikanor" target="_blank">GitHub Profile</a></div>
            </div>
            <div class="team-item">
                <div class="team-item-photo"><img src="/image/tyba/guillermo.png"></div>
                <div class="team-item-name1">Guillermo</div>
                <div class="team-item-name2">Soberón</div>
                <div class="team-item-position">Backend Developer</div>
                <div class="team-item-github"><a href="https://github.com/gsc" target="_blank">GitHub Profile</a></div>
            </div>
            <div class="team-item">
                <div class="team-item-photo"><img src="/image/tyba/daniel.png"></div>
                <div class="team-item-name1">Daniel</div>
                <div class="team-item-name2">Ripollés</div>
                <div class="team-item-position">Backend Developer</div>
                <div class="team-item-github"><a href="https://github.com/dripolles" target="_blank">GitHub Profile</a></div>
            </div>
            <div class="team-item">
                <div class="team-item-photo"><img src="/image/tyba/carlos.png"></div>
                <div class="team-item-name1">Carlos</div>
                <div class="team-item-name2">Cobo</div>
                <div class="team-item-position">Backend Developer</div>
                <div class="team-item-github"><a href="https://github.com/toqueteos" target="_blank">GitHub Profile</a></div>
            </div>
            <div class="team-item">
                <div class="team-item-photo"><img src="/image/tyba/alex.png"></div>
                <div class="team-item-name1">Alex</div>
                <div class="team-item-name2">Guerrieri</div>
                <div class="team-item-position">Backend Developer</div>
                <div class="team-item-github"><a href="https://github.com/klaidliadon" target="_blank">GitHub Profile</a></div>
            </div>
            <div class="team-item">
                <div class="team-item-photo"><img src="/image/tyba/philip.png"></div>
                <div class="team-item-name1">Philip</div>
                <div class="team-item-name2">Thomas</div>
                <div class="team-item-position">Frontend Developer</div>
                <div class="team-item-github"><a href="https://github.com/filiptc" target="_blank">GitHub Profile</a></div>
            </div>

            <div class="team-item">
                <div class="team-item-photo"><img src="/image/tyba/miguel.png"></div>
                <div class="team-item-name1">Jose Miguel</div>
                <div class="team-item-name2">Molina</div>
                <div class="team-item-position">Frontend Developer</div>
                <div class="team-item-github"><a href="https://github.com/mvader" target="_blank">GitHub Profile</a></div>
            </div>
            <div class="team-item">
                <div class="team-item-photo"><img src="/image/tyba/curro.png"></div>
                <div class="team-item-name1">Curro</div>
                <div class="team-item-name2">Rodríguez</div>
                <div class="team-item-position">DevOps</div>
                <div class="team-item-github"><a href="https://github.com/curratore" target="_blank">GitHub Profile</a></div>
            </div>
            <div class="team-item">
                <div class="team-item-photo"><img src="/image/tyba/sanchez.png"></div>
                <div class="team-item-name1">Iván</div>
                <div class="team-item-name2">Sánchez</div>
                <div class="team-item-position">Intern</div>
                <div class="team-item-github"><a href="https://github.com/ivanfoo" target="_blank">GitHub Profile</a></div>
            </div>
        </div>
        <div class="our-team">Customer Operations</div>
        <div class="team">
            <div class="team-item">
                <div class="team-item-photo"><img src="/image/tyba/chiara.png"></div>
                <div class="team-item-name1">Chiara</div>
                <div class="team-item-name2">Massironi</div>
                <div class="team-item-position">Client Relationship Manager</div>
                <div class="team-item-github"><a href="https://uk.linkedin.com/in/chiaramassironi/en">Linkedin Profile</a></div>
            </div>
            <div class="team-item">
                <div class="team-item-photo"><img src="/image/tyba/thea.png"></div>
                <div class="team-item-name1">Theodora</div>
                <div class="team-item-name2">Filip</div>
                <div class="team-item-position">Marketing</div>
                <div class="team-item-github"><a href="https://es.linkedin.com/pub/theodora-filip/65/380/12b">Linkedin Profile</a></div>
            </div>
            <div class="team-item">
                <div class="team-item-photo"><img src="/image/tyba/cris.png"></div>
                <div class="team-item-name1">Cristina</div>
                <div class="team-item-name2">Gutiérrez</div>
                <div class="team-item-position">Photographer &
                    Content Editor
                </div>
                <div class="team-item-github"><a href="https://es.linkedin.com/pub/cristina-gutiérrez/99/6ba/395/en">Linkedin Profile</a></div>
            </div>
            <div class="team-item">
                <div class="team-item-photo"><img src="/image/tyba/camille.png"></div>
                <div class="team-item-name1">Camille</div>
                <div class="team-item-name2">David</div>
                <div class="team-item-position">Customer Operations
                    Intern
                </div>
                <div class="team-item-github"><a href="https://es.linkedin.com/in/camilledavid/en">Linkedin Profile</a></div>
            </div>
            <div class="team-item">
                <div class="team-item-photo"><img src="/image/tyba/elena.png"></div>
                <div class="team-item-name1">Elena</div>
                <div class="team-item-name2">Grebe</div>
                <div class="team-item-position">Customer Operations
                    Intern
                </div>
                <div class="team-item-github"><a href="https://es.linkedin.com/pub/elena-grebe/bb/812/616/en">Linkedin Profile</a></div>
            </div>
        </div>

        <div class="our-team">Product</div>
        <div class="team">
            <div class="team-item">
                <div class="team-item-photo"><img src="/image/tyba/pavel.png"></div>
                <div class="team-item-name1">Pavel</div>
                <div class="team-item-name2">Karpov</div>
                <div class="team-item-position">Lead Designer</div>
                <div class="team-item-github"><a href="https://ru.linkedin.com/in/pkarpov/en">Linkedin Profile</a></div>
            </div>
        </div>

        <div class="our-team">Support</div>
        <div class="team">
            <div class="team-item">
                <div class="team-item-photo"><img src="/image/tyba/carol.png"></div>
                <div class="team-item-name1">Carolina</div>
                <div class="team-item-name2">Blanco</div>
                <div class="team-item-position">Human Resources</div>
                <div class="team-item-github"><a href="https://es.linkedin.com/pub/carolina-blanco-gómez/48/61b/82a/en">Linkedin Profile</a></div>
            </div>
            <div class="team-item">
                <div class="team-item-photo"><img src="/image/tyba/laura.png"></div>
                <div class="team-item-name1">Laura</div>
                <div class="team-item-name2">Sánchez</div>
                <div class="team-item-position">Recruiter</div>
                <div class="team-item-github"><a href="https://es.linkedin.com/pub/laura-sanchez-puente/58/120/694/en">Linkedin Profile</a></div>
            </div>
            <div class="team-item">
                <div class="team-item-photo"><img src="/image/tyba/zaida.png"></div>
                <div class="team-item-name1">Zaida</div>
                <div class="team-item-name2">Montes</div>
                <div class="team-item-position">Office Manager</div>
                <div class="team-item-github"><a href="https://es.linkedin.com/in/zaidamontes/en">Linkedin Profile</a></div>
            </div>
        </div>

        <div class="our-team">Management</div>
        <div class="team">
            <div class="team-item">
                <div class="team-item-photo"><img src="/image/tyba/eiso.png"></div>
                <div class="team-item-name1">Eiso</div>
                <div class="team-item-name2">Kant</div>
                <div class="team-item-position">Co-Founder & Managing
                    Director
                </div>
                <div class="team-item-github"><a href="https://github.com/eiso" target="_blank">GitHub Profile</a></div>
            </div>
            <div class="team-item">
                <div class="team-item-photo"><img src="/image/tyba/jorge.png"></div>
                <div class="team-item-name1">Jorge</div>
                <div class="team-item-name2">Schnura</div>
                <div class="team-item-position">Co-Founder & VP of Product</div>
                <div class="team-item-github"><a href="https://es.linkedin.com/in/jorgeschnura">Linkedin Profile</a></div>
            </div>
            <div class="team-item">
                <div class="team-item-photo"><img src="/image/tyba/phil.png"></div>
                <div class="team-item-name1">Philip</div>
                <div class="team-item-name2">von Have</div>
                <div class="team-item-position">Co-Founder & VP Customer Development</div>
                <div class="team-item-github"><a href="https://de.linkedin.com/pub/philip-von-have/20/46a/29b">Linkedin Profile</a></div>
            </div>
            <div class="team-item">
                <div class="team-item-photo"><img src="/image/tyba/maximo.png"></div>
                <div class="team-item-name1">Máximo</div>
                <div class="team-item-name2">Cuadros</div>
                <div class="team-item-position">VP of Engineering</div>
                <div class="team-item-github"><a href="https://github.com/mcuadros" target="_blank">GitHub Profile</a></div>
            </div>
            <div class="team-item">
                <div class="team-item-photo"><img src="/image/tyba/ivan.png"></div>
                <div class="team-item-name1">Ivan</div>
                <div class="team-item-name2">Lopez</div>
                <div class="team-item-position">VP of Customer Operations</div>
                <div class="team-item-github"><a href="https://es.linkedin.com/in/ivanlo">Linkedin Profile</a></div>
            </div>
        </div>

        <h1 class="main-header">Company Stack</h1>

        <div class="stack-container">
            <div class="stack-item stack1">
                <div class="stack-item-content">
                    <a href="http://golang.org" target="_blank"><img src="/image/stack/go.png"></a>
                </div>
                <div class="stack-item-name">Backend Language</div>
            </div>
            <div class="stack-item stack2">
                <div class="stack-item-content">
                    <a href="https://www.docker.com/" target="_blank"><img src="/image/stack/docker.png"></a>
                </div>
                <div class="stack-item-content">
                    <a href="https://coreos.com/etcd" target="_blank"><img src="/image/stack/etcd.png"></a>
                </div>
                <div class="stack-item-name">OS Level Virtualization</div>
            </div>
            <div class="stack-item stack2">
                <div class="stack-item-content">
                    <a href="https://www.mongodb.org" target="_blank"><img src="/image/stack/mongodb.png"></a>
                </div>
                <div class="stack-item-content">
                    <a href="https://www.elastic.co" target="_blank"><img src="/image/stack/elastic.png"></a>
                </div>
                <div class="stack-item-name">Storage</div>
            </div>
            <div class="stack-item stack1">
                <div class="stack-item-content">
                    <a href="http://prometheus.io" target="_blank"><img src="/image/stack/prometheus.png"></a>
                </div>
                <div class="stack-item-name">Monitoring</div>
            </div>
            <div class="stack-item stack1">
                <div class="stack-item-content">
                    <a href="http://github.com" target="_blank"><img src="/image/stack/github.png"></a>
                </div>
                <div class="stack-item-name">Revision Control</div>
            </div>
            <div class="stack-item stack2">
                <div class="stack-item-content">
                    <a href="https://facebook.github.io/react/" target="_blank"><img src="/image/stack/react.png"></a>
                </div>
                <div class="stack-item-content">
                    <a href="http://redux.js.org/" target="_blank"><img src="/image/stack/redux.png"></a>
                </div>
                <div class="stack-item-name">Frontend Tools</div>
            </div>
            <div class="stack-item stack3">
                <div class="stack-item-content">
                    <a href="http://www.ansible.com/" target="_blank"><img src="/image/stack/ansible.png"></a>
                </div>
                <div class="stack-item-content">
                    <a href="https://circleci.com/features" target="_blank"><img src="/image/stack/circleci.png"></a>
                </div>
                <div class="stack-item-content">
                    <a href="http://docker.sh/ip/" target="_blank"><img src="/image/stack/dockership.png"></a>
                </div>
                <div class="stack-item-name">Deployment</div>
            </div>
            <div class="clear"></div>
        </div>


    </div>

    <div class="block-gray">
        <h1 class="main-header" style="padding-top: 40px;">Where we come from</h1>

        <div class="geodata">
            <div class="map"><img src="/image/map.png"></div>
            <div class="states">
                <table>
                    <tbody>
                    <tr>
                        <td class="state">Spain</td>
                        <td class="number">13</td>
                    </tr>
                    <tr>
                        <td class="state">Germany</td>
                        <td class="number">3</td>
                    </tr>
                    <tr>
                        <td class="state">Portugal</td>
                        <td class="number">2</td>
                    </tr>
                    <tr>
                        <td class="state">Italy</td>
                        <td class="number">2</td>
                    </tr>
                    <tr>
                        <td class="state">Greece</td>
                        <td class="number">2</td>
                    </tr>
                    <tr>
                        <td class="state">Romania</td>
                        <td class="number">1</td>
                    </tr>
                    <tr>
                        <td class="state">USA</td>
                        <td class="number">1</td>
                    </tr>
                    <tr>
                        <td class="state">Netherlands</td>
                        <td class="number">1</td>
                    </tr>
                    <tr>
                        <td class="state">Russia</td>
                        <td class="number">1</td>
                    </tr>
                    <tr>
                        <td class="state">Australia</td>
                        <td class="number">1</td>
                    </tr>
                    <tr>
                        <td class="state">France</td>
                        <td class="number">1</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="clear"></div>
        </div>
        <div class="address">

            <div class="addresses">
                <h2>Our Offices</h2>

                <div class="address-item active-address map-change">
                    <div class="address-item-city">MADRID <span>Spain</span></div>
                    <div class="address-item-street">Raimundo Fernandez Villaverde 45, 28003
                    </div>
                    <div class="address-item-link">Map</div>
                </div>
                <div class="address-item map-change">
                    <div class="address-item-city">LONDON <span>UK</span></div>
                    <div class="address-item-street">WeWork, 22 Upper Ground, SE1 9PD</div>
                    <div class="address-item-link">Map</div>
                </div>
                <div class="address-item map-change">
                    <div class="address-item-city">BERLIN <span>Germany</span></div>
                    <div class="address-item-street">Rheinsberger Str. 76/7, 10115</div>
                    <div class="address-item-link">Map</div>
                </div>
            </div>
        </div>
    </div>
    <div id="map-tyba"></div>
    <div class="block-white" style="margin-top:-5px;">
        <div class="contact-us">
            <div class="contact-us-item">
                <div class="contact-us-item-pic"><img src="/image/job.png"></div>
                <div class="contact-us-item-text">
                    <h3>Want to work with us?</h3>

                    <p>Send us your Github or your CV and we will get back to you as soon as
                        possible.</p>
                    <a href="mailto:talent@sourced.tech" class="green">WRITE US</a>
                </div>
                <div class="clear"></div>
            </div>
            <div class="contact-us-item">
                <div class="contact-us-item-pic"><img src="/image/press.png"></div>
                <div class="contact-us-item-text">
                    <h3>Do you want to write about us?</h3>

                    <p>Fell free to drop us a line and ask us about anything you need.</p>
                    <a href="mailto:hello@sourced.tech" class="blue">ASK US</a>
                </div>
                <div class="clear"></div>
            </div>
        </div>
    </div>

    <script src='https://maps.googleapis.com/maps/api/js?key=&sensor=false&extension=.js'></script>
    <script src='/js/about.js'></script>
{{ partial "footer.html" }}
