<div class="popup-correct" id="matching-banner" style="display:none">
    <div class="cross"><a href="#" class="hide-elem" data-elem-hide="matching-banner"><img src="/image/cross.png"></a></div>
    <div class="popup-correct-link">
        <p>Did we match you correctly?</p>
        <div class="faq-buttons">
            <a href="#" class="green show-elem hide-elem" data-elem-show="matching-form-ok" data-elem-hide="matching-banner" title="Yes">Yes</a>
            <a href="#" class="red show-elem hide-elem" data-elem-show="matching-form-err" data-elem-hide="matching-banner" title="No">No</a>
        </div>
    </div>
</div>
