<div class="footer">
    <div class="footer-wrap">
        <div class="footer-flag">
          <img src="/image/eu_flag.png" alt="Zimin">
        </div>
        <div class="footer-links">
          <a href="mailto:hello@sourced.tech"><img src="/image/email.png" alt="email"></a>
          <a href="http://github.com/src-d"><img src="/image/github.png" alt="github"></a>
          <a href="http://twitter.com/tyba"><img src="/image/twitter.png" alt="twitter"></a>
          <a href="http://www.linkedin.com/company/tyba"><img src="/image/linkedin.png" alt="linkedin"></a>
          <a href="https://www.facebook.com/Tyba1"><img src="/image/facebook.png" alt="facebook"></a>
          <img src="/image/tyba_footer.png" alt="tyba">
        </div>
        <div class="footer-info">Product by Tyba &bull; Crafted with love</div>
        <div class="clear"></div>
    </div>
</div>
</div>
</div>

{{partial "banner.html"}}
{{partial "popup.html" "ok"}}
{{partial "popup.html" "err"}}

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
<script src="/js/jquery.scrollbox.min.js"></script>
<script type="text/javascript">
  jQuery(function (f) {
      var element = f('.header');
      function swapHeader() {
          element[(f(this).scrollTop() > 450 ? 'add' : 'remove') + 'Class']('header-opaque');
      }
      var $window = f(window);
      $window.scroll(swapHeader);
      swapHeader.call($window);

      $('#our-clients').scrollbox({
        direction: 'h',
        autoPlay: true,
        infiniteLoop: true,
        speed: 30,
        delay: 1
      });
  });
</script>
<script type="text/javascript" src="/js/common.js"></script>
<script type="text/javascript" src="/js/carousel.js"></script>
</body>
</html>
