<div class="footer">
    <div class="footer-wrap">
        <div class="footer-flag">
          <img src="/image/eu_flag.png" alt="Zimin">
        </div>
        <div class="footer-links">
          <a href="mailto:hello@sourced.tech"><img src="/image/email.png" alt="email"></a>
          <a href="http://github.com/src-d"><img src="/image/github.png" alt="github"></a>
          <a href="https://twitter.com/srcd_"><img src="/image/twitter.png" alt="twitter"></a>
          <a href="https://www.linkedin.com/company/10284920?trk=tyah&trkInfo=clickedVertical%3Acompany%2CentityType%3AentityHistoryName%2CclickedEntityId%3Acompany_10284920%2Cidx%3A0"><img src="/image/linkedin.png" alt="linkedin"></a>
          <a href="https://plus.google.com/104466903146755095939"><img src="/image/gplus.png" alt="Google Plus"></a>
        </div>
        <div class="footer-info">Crafted with love</div>
        <div class="clear"></div>
    </div>
</div>
</div>
</div>

{{partial "banner.html"}}
{{partial "popup.html" "ok"}}
{{partial "popup.html" "err"}}

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
<script src="/js/jquery.scrollbox.min.js"></script>
<script type="text/javascript">
  jQuery(function (f) {
      var element = f('.header');
      function swapHeader() {
          element[(f(this).scrollTop() > 450 ? 'add' : 'remove') + 'Class']('header-opaque');
      }
      var $window = f(window);
      $window.scroll(swapHeader);
      swapHeader.call($window);

      $('#our-clients').scrollbox({
        direction: 'h',
        autoPlay: true,
        infiniteLoop: true,
        speed: 30,
        delay: 1
      });
  });
</script>
<script type="text/javascript" src="/js/common.js"></script>
<script type="text/javascript" src="/js/carousel.js"></script>
<script type="text/javascript">
    adroll_adv_id = "IYZYMSZIZZGURCHNYRRKTA";
    adroll_pix_id = "MXWTIGH3ZNCXDAD4UGQIW5";
    (function () {
        var _onload = function(){
            if (document.readyState && !/loaded|complete/.test(document.readyState)){setTimeout(_onload, 10);return}
            if (!window.__adroll_loaded){__adroll_loaded=true;setTimeout(_onload, 50);return}
            var scr = document.createElement("script");
            var host = (("https:" == document.location.protocol) ? "https://s.adroll.com" : "http://a.adroll.com");
            scr.setAttribute('async', 'true');
            scr.type = "text/javascript";
            scr.src = host + "/j/roundtrip.js";
            ((document.getElementsByTagName('head') || [null])[0] ||
                document.getElementsByTagName('script')[0].parentNode).appendChild(scr);
        };
        if (window.addEventListener) {window.addEventListener('load', _onload, false);}
        else {window.attachEvent('onload', _onload)}
    }());
</script>
<script> window.intercomSettings = { app_id: "a6j4od9m" }; </script> <script>(function(){var w=window;var ic=w.Intercom;if(typeof ic==="function"){ic('reattach_activator');ic('update',intercomSettings);}else{var d=document;var i=function(){i.c(arguments)};i.q=[];i.c=function(args){i.q.push(args)};w.Intercom=i;function l(){var s=d.createElement('script');s.type='text/javascript';s.async=true;s.src='https://widget.intercom.io/widget/a6j4od9m';var x=d.getElementsByTagName('script')[0];x.parentNode.insertBefore(s,x);}if(w.attachEvent){w.attachEvent('onload',l);}else{w.addEventListener('load',l,false);}}})()</script>
<script> (function(h,o,t,j,a,r){ h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)}; h._hjSettings={hjid:184958,hjsv:5}; a=o.getElementsByTagName('head')[0]; r=o.createElement('script');r.async=1; r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv; a.appendChild(r); })(window,document,'//static.hotjar.com/c/hotjar-','.js?sv='); </script>
<script>
!function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?
n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;
n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;
t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,
document,'script','https://connect.facebook.net/en_US/fbevents.js');

fbq('init', '253427778372588');
fbq('track', "PageView");</script>
<noscript><img height="1" width="1" style="display:none"
src="https://www.facebook.com/tr?id=253427778372588&ev=PageView&noscript=1"
/></noscript>
</body>
</html>
