<div class="footer">
    <div class="footer-wrap">
        <div class="footer-flag">
          <img src="/image/eu_flag.png" alt="Zimin">
        </div>
        <div class="footer-links">
          <a href="#"><img src="/image/email.png" alt="email"></a>
          <a href="#"><img src="/image/github.png" alt="github"></a>
          <a href="#"><img src="/image/twitter.png" alt="twitter"></a>
          <a href="#"><img src="/image/linkedin.png" alt="linkedin"></a>
          <a href="#"><img src="/image/facebook.png" alt="facebook"></a>
          <img src="/image/tyba_footer.png" alt="tyba">
        </div>
        <div class="footer-info">Product by Tyba &bull; Crafted with love</div>
        <div class="clear"></div>
    </div>
</div>
</div>
</div>

{{partial "banner.html"}}
{{partial "popup.html" "ok"}}
{{partial "popup.html" "err"}}

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
<script type="text/javascript">
  jQuery(function (f) {
      var element = f('.header');
      f(window).scroll(function () {
          element[(f(this).scrollTop() > 450 ? 'add' : 'remove') + 'Class']('header-opaque');
      });
  });
</script>
<script type="text/javascript" src="/js/common.js"></script>
</body>
</html>
