<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ .Title }} | source{d}</title>
    <meta name="description" content="{{ if eq .Description nil }}{{.Description}}{{else}}source{d} is a tech recruiting product build by our technical team for software engineers. Analyzing code contributions in the open source community, we aim for tech recruitment done right.{{end}}">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@srcd_" />
    <meta name="twitter:title" content="source{d} | {{ .Title }}">
    <meta name="twitter:description" content="{{ if eq .Description nil }}{{.Description}}{{else}}source{d} is a tech recruiting product build by our technical team for software engineers. Analyzing code contributions in the open source community, we aim for tech recruitment done right.{{end}}">
    <meta name="twitter:image" content='http://sourced.tech/image/sourced.png'>
    <meta name="og:site_name" content="source{d}">
    <meta name="og:title" content="{{ .Title }} | source{d}">
    <meta name="og:description" content="{{ if eq .Description nil }}{{.Description}}{{else}}source{d} is a tech recruiting product build by our technical team for software engineers. Analyzing code contributions in the open source community, we aim for tech recruitment done right.{{end}}">
    <meta property="og:image" content="http://sourced.tech/image/sourced.png">
    <link href="/css/style.css?v=041002016T1049" rel="stylesheet">
    <link href="/css/mobile.css" rel="stylesheet">
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">
    <link rel="icon" type="image/png" href="/image/favicon96.png" />
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,400italic,600,700,800&subset=latin,cyrillic-ext,cyrillic,latin-ext'
          rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet'
          type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=PT+Serif:400italic' rel='stylesheet'
          type='text/css'>
    <script>
	 (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	 (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	 m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	 })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
	
	 ga('create', 'UA-69608223-1', 'auto');
	 ga('send', 'pageview');
	
	</script>
</head>
<body>
<div class="wrapper">
    <div class="{{if eq .Params.sectionname "faq"}}headerm-faq{{else}}header{{end}}">
        <div class="top-msg">
            <span>Looking for frontend developers in France? Check out our new product
                <a href="http://alpha.sourced.tech" alt="source{d} alpha">source{d} alpha </a>
            </span>
        </div>
        <div class="header-wrap">
            <div class="sourced-logo">
              <a href="/">
                <img src="/image/logo.png" alt="logo">
              </a>
            </div>
            <div class="main-menu">
                <nav>
                    <a href="/" {{if eq .Params.sectionname nil}}class="active"{{end}} title="For Developers">For Developers</a>
                    <a href="/company" {{if eq .Params.sectionname "company"}}class="active"{{end}} title="For Companies">For Companies</a>
                    <a href="/about" {{if eq .Params.sectionname "about"}}class="active"{{end}} title="About">About</a>
                    <a href="/faq" {{if eq .Params.sectionname "faq"}}class="active"{{end}} title="FAQ">FAQ</a>
                </nav>
            </div>
            <div class="clear"></div>
        </div>
    </div>
