<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ .Title }} | source{d}</title>
    <meta name="description" content="{{ .Description }}">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@sourced_tyba" />
    <meta name="twitter:title" content="{{ .Title }}">
    <meta name="twitter:description" content="{{ .Description }}">
    <meta name="twitter:image" content='http://sourced.tech/image/sourced.png'>
    <meta name="og:site_name" content="source{d}">
    <meta name="og:title" content="{{ .Title }} | source{d}">
    <meta name="og:description" content="{{ .Description }}">
    <meta property="og:image" content='http://sourced.tech/image/sourced.png'>
    <link href="/css/style.css" rel="stylesheet">
    <link href="/css/mobile.css" rel="stylesheet">
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">
    <link rel="icon" type="image/png" href="/image/favicon.png" />
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,400italic,600,700,800&subset=latin,cyrillic-ext,cyrillic,latin-ext'
          rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet'
          type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=PT+Serif:400italic' rel='stylesheet'
          type='text/css'>
</head>
<body>
<div class="wrapper">
    <div class="{{if eq .Params.sectionname "faq"}}headerm-faq{{else}}header{{end}}">
        <div class="header-wrap">
            <div class="sourced-logo">
              <a href="/">
                <img src="/image/logo.png" alt="logo">
              </a>
            </div>
            <div class="main-menu">
                <nav>
                    <a href="/" {{if eq .Params.sectionname nil}}class="active"{{end}} title="For Developers">For Developers</a>
                    <a href="/company" {{if eq .Params.sectionname "company"}}class="active"{{end}} title="For Companies">For Companies</a>
                    <a href="/about" {{if eq .Params.sectionname "about"}}class="active"{{end}} title="About">About</a>
                    <a href="/faq" {{if eq .Params.sectionname "faq"}}class="active"{{end}} title="FAQ">FAQ</a>
                </nav>
            </div>
            <div class="clear"></div>
        </div>
    </div>
