<div id="matching-form-{{.}}" class="matching-form">
  <div class="popup-black"></div>

  <div class="popup-correct gray-bg">
      <div class="cross"><a href="#" class="hide-elem" data-elem-hide="matching-form-{{.}}"><img src="/image/cross.png"></a></div>
      <div class="block-gray">
          <p class="faq-form-text">Oh, we're sorry for that. Please let us know how we could have
              gotten it right.</p>

          <div class="faq-form">
              <form>
                  <div class="form-match-name">
                      <input type="text" placeholder="Github Handle">
                  </div>
                  <div class="form-match-handle">
                      <input type="text" placeholder="Email (optional)">
                  </div>
                  <div class="clear"></div>
                  <div class="form-question">
                      <textarea placeholder="Leave your comments here"></textarea>

                  </div>
                  <div class="form-question-button">
                      <a href="index.html" class="blue">SEND</a>
                  </div>
              </form>
          </div>
      </div>
  </div>
</div>
