{{$page := "devs"}}
{{partial "header.html" $page }}
    <div class="triangle tr-index">
        <div class="block-text">TECH RECRUITMENT DONE RIGHT</div>
        <p class="header-description">source{d} is a recruitment product built by developers for
            developers. We analyse over 600 million code contributions in the open source community
            to match you with the best jobs and contact you only with relevant offers.</p>
    </div>
    <div class="shape"><img src="/image/trian.svg"></div>
    <div class="content-wrapper">
        <div class="block-white">
            <h1 class="main-header">How did we find you?</h1>

            <div class="icon-descr-3">

                <div class="icon-descr-item">
                    <div class="icon-descr-item-pic"><img src="/image/mac.png" alt="Analysis"></div>
                    <div class="icon-descr-item-header">Code Analysis</div>
                    <div class="icon-descr-item-text">We first analyse all your public open-source
                        contributions
                    </div>
                    <div class="icon-descr-item-more"><a href="#">How We Analyse</a></div>
                </div>

                <div class="icon-descr-item">
                    <div class="icon-descr-item-pic"><img src="/image/macbook.png" alt="Matching">
                    </div>
                    <div class="icon-descr-item-header">Matching with jobs</div>
                    <div class="icon-descr-item-text">Then we analyse your profile and match it with
                        our clients' job openings
                    </div>
                    <div class="icon-descr-item-more"><a href="#">About Assessment</a></div>
                </div>

                <div class="icon-descr-item">
                    <div class="icon-descr-item-pic"><img src="/image/contact-dev.png" alt="Contact">
                    </div>
                    <div class="icon-descr-item-header">Contact you</div>
                    <div class="icon-descr-item-text">Once our algorithm has identified you as a
                        match we send you an email to schedule an interview
                    </div>
                    <div class="icon-descr-item-more"><a href="#">Two Words ABout Hire</a></div>
                </div>

                <div class="paths">
                    <img src="/image/path1.png" class="path1">
                    <img src="/image/path2.png" class="path2">
                </div>
            </div>
            <div class="question-link" style="padding-top:30px;">
                <h1 class="main-header">Still have the questions?</h1>

                <div class="question-link-buttons">
                    <a href="#" class="orange">Read Our Blog</a>
                    <a href="faq.html" class="blue">See Our FAQ</a>
                </div>
            </div>
        </div>
        <div class="testimonial">
            <div class="arrows">
                <div class="arrow-left"><img src="/image/arrow_left_test.png" alt="Left"></div>
                <div class="arrow-right"><img src="/image/arrow_right_test.png" alt="Right"></div>
                <div class="clear"></div>
            </div>
            <div class="testimonial-item t-item-1">
                <div class="testimonial-content">
                    <div class="testimonial-content-text">"I enjoyed the communication process,
                        everything was clear and comfortable to deal with. I was pleasently
                        surprised to have been found through GitHub, it's a very hard thing to do."
                    </div>
                    <div class="testimonial-content-info">Alex Zimin, backend developer at
                        UberCord
                    </div>
                </div>
            </div>
        </div>

{{partial "footer.html" }}
