{{$page := "devs"}}
{{partial "header.html" $page }}
<div class="triangle tr-index">
    <div class="block-text">TECH RECRUITMENT DONE RIGHT</div>
    <p class="header-description">source{d} is a recruitment product built by developers for
        developers. We analyse over 600 million code contributions in the open source community
        to match you with the best jobs and contact you only with relevant offers.</p>
</div>
<div class="shape"><img src="/image/trian.svg"></div>
<div class="content-wrapper">
    <div class="block-white">
        <h1 class="main-header">How did we find you?</h1>

        <div class="icon-descr-3">

            <div class="icon-descr-item" id="section-analyse">
                <div class="icon-descr-item-pic"><img src="/image/mac.png" alt="Analysis"></div>
                <div class="icon-descr-item-header">Code Analysis</div>
                <div class="icon-descr-item-text">We first analyse all your public open-source
                    contributions
                </div>
                <div class="icon-descr-item-more">
                  <a href="#" class="expand-section open-section" data-expand-section="section-analyse">How We Analyse</a>
                  <a href="#" class="expand-section close-section" data-expand-section="section-analyse" style="display:none">Close</a>
                </div>
            </div>

            <div class="icon-descr-item" id="section-assessment">
                <div class="icon-descr-item-pic"><img src="/image/macbook.png" alt="Matching">
                </div>
                <div class="icon-descr-item-header">Matching with jobs</div>
                <div class="icon-descr-item-text">Then we analyse your profile and match it with
                    our clients' job openings
                </div>
                <div class="icon-descr-item-more">
                  <a href="#" class="expand-section open-section" data-expand-section="section-assessment">About Assessment</a>
                  <a href="#" class="expand-section close-section" data-expand-section="section-assessment" style="display:none">Close</a>
                </div>
            </div>

            <div class="icon-descr-item" id="section-contact">
                <div class="icon-descr-item-pic"><img src="/image/contact-dev.png" alt="Contact">
                </div>
                <div class="icon-descr-item-header">Contact you</div>
                <div class="icon-descr-item-text">Once our algorithm has identified you as a
                    match we send you an email to schedule an interview
                </div>
                <div class="icon-descr-item-more">
                  <a href="#" class="expand-section open-section" data-expand-section="section-contact">Two Words About Hire</a>
                  <a href="#" class="expand-section close-section" data-expand-section="section-contact" style="display:none">Close</a>
                </div>
            </div>

            <div class="paths">
                <img src="/image/path1.png" class="path1">
                <img src="/image/path2.png" class="path2">
            </div>

            <div class="extra-descr" id="section-analyse-info" style="display:none">
                <div class="extra-info-pic"><img src="/image/mac_big.png" alt="Pic"></div>
                <div class="extra-info-text">
                    <p>What are you working on? Dribbble is a community of designers answering
                        that question each day. Web designers, graphic designers, illustrators,
                        icon artists, typographers, logo designers, and other creative types
                        share small screenshots (shots) that show their work, process, and
                        current projects.</p>

                    <p>Headquartered in Salem, Massachusetts, Dribbble began as a side project
                        and is now a tiny, bootstrapped and profitable company helping the
                        world's design talent share their creations and get hired. Dribbble has
                        become a go-to resource for discovering and connecting with designers
                        around the globe.</p>
                </div>
                <div class="clear"></div>
            </div>

            <div class="extra-descr" id="section-assessment-info" style="display:none">
                <div class="extra-info-pic"><img src="/image/mac_big.png" alt="Pic"></div>
                <div class="extra-info-text">
                    <p>What are you working on? Dribbble is a community of designers answering
                        that question each day. Web designers, graphic designers, illustrators,
                        icon artists, typographers, logo designers, and other creative types
                        share small screenshots (shots) that show their work, process, and
                        current projects.</p>

                    <p>Headquartered in Salem, Massachusetts, Dribbble began as a side project
                        and is now a tiny, bootstrapped and profitable company helping the
                        world's design talent share their creations and get hired. Dribbble has
                        become a go-to resource for discovering and connecting with designers
                        around the globe.</p>
                </div>
                <div class="clear"></div>
            </div>

            <div class="extra-descr" id="section-contact-info" style="display:none">
                <div class="extra-info-pic"><img src="/image/mac_big.png" alt="Pic"></div>
                <div class="extra-info-text">
                    <p>What are you working on? Dribbble is a community of designers answering
                        that question each day. Web designers, graphic designers, illustrators,
                        icon artists, typographers, logo designers, and other creative types
                        share small screenshots (shots) that show their work, process, and
                        current projects.</p>

                    <p>Headquartered in Salem, Massachusetts, Dribbble began as a side project
                        and is now a tiny, bootstrapped and profitable company helping the
                        world's design talent share their creations and get hired. Dribbble has
                        become a go-to resource for discovering and connecting with designers
                        around the globe.</p>
                </div>
                <div class="clear"></div>
            </div>
        </div>
        <div class="question-link" style="padding-top:30px;">
            <h1 class="main-header">Still have the questions?</h1>

            <div class="question-link-buttons">
                <a href="http://blog.sourced.tech" class="orange">Read Our Blog</a>
                <a href="/faq/" class="blue">See Our FAQ</a>
            </div>
        </div>
    </div>
    <div class="testimonial">
        <div class="arrows">
            <div class="arrow-left"><img src="/image/arrow_left_test.png" alt="Left"></div>
            <div class="arrow-right"><img src="/image/arrow_right_test.png" alt="Right"></div>
            <div class="clear"></div>
        </div>
        <div class="testimonial-item t-item-1 active">
            <div class="testimonial-content">
                <div class="testimonial-content-text">"I enjoyed the communication process,
                    everything was clear and comfortable to deal with. I was pleasantly
                    surprised to have been found through GitHub, it's a very hard thing to do."
                </div>
                <div class="testimonial-content-info">Alex Zimin, backend developer at
                    UberCord
                </div>
            </div>
        </div>

        <div class="testimonial-item t-item-2">
            <div class="testimonial-content">
                <div class="testimonial-content-text">"My experience with Tyba/source{d} has
                    been very pleasant. I've been contacted in the right time, for the right
                    job, at the right company. The hiring process has been rather fast and I've
                    been provided with good and reliable information about the job."
                </div>
                <div class="testimonial-content-info">Tobias Hornberger</div>
            </div>
        </div>
        <div class="testimonial-item t-item-3">
            <div class="testimonial-content">
                <div class="testimonial-content-text">"Working with Tyba was great experience.
                    With their unique approach to candidates matching they helped me to find a
                    job that absolutely suited my expectations. I'm thankful they opened a new
                    opportunity for my professional career."
                </div>
                <div class="testimonial-content-info">Dmitriy Taychenachev</div>
            </div>
        </div>
    </div>

{{partial "footer.html" }}
