{{ $projects := $.Site.Data.projects }}

{{ $headCtx := dict "ctx" . }}
{{ partial "head.html" $headCtx }}

<body>
    {{ partial "header.html" }}
    <div class="text-left pb-5">
            <br><br>
            <h1 class="title text-left p-0 mt-5 mb-4">Gain visibility into your software portfolio, engineering team, and processes</h1>
        </div>
    </div>
</header>

<section id="entering" class="entering text-center pt-5 pb-0">
    <div class="container">
        <header>
            <h2 class="text-dark">Entering the Engineering Observability Era</h2>
        </header>
        <div class="row mt-5">
            <div class="col-sm-3 mb-5">
                <div class="circle purple-text small-text mb-5">1990s</div>
                <h3 class="text-dark">Linux</h3>
                <p class="text-dark">Apps are monolithics and the work split across silos: Development, Testing and Operations</p>
            </div>
            <div class="col-sm-3 mb-5">
                <div class="circle purple-text small-text mb-5">2000s</div>
                <h3 class="text-dark">Git</h3>
                <p class="text-dark">Version Control allowed developers to collaborate effectively</p>
            </div>
            <div class="col-sm-3 mb-5">
                <div class="circle purple-text small-text mb-5">2010s</div>
                <h3 class="text-dark">DevOps</h3>
                <p class="text-dark">CI / CD and container systems allowed Developers and Ops to collaborate effectively</p>
            </div>
            <div class="col-sm-3 mb-5">
                <div class="circle purple-text small-text mb-5">2020</div>
                <h3 class="text-dark">Observability</h3>
                <p class="text-dark">Shared data, common processes and end to end visibility allowing business and IT leaders to collaborate effectively</p>
            </div>
        </div>
    </div>
</section>

<section id="effective" class="effective py-5">
    <div class="container text-dark">
        <header class="text-center mb-5">
            <h2>With no data, enterprises can not level up their Engineering Effectiveness</h2>
        </header>
        <div class="row">
            <div class="col-sm-6">
                <p>Lack of visibility comes from:</p>
                <ul class="small-list">
                    <li>Volume, variety, intricacy and versioning of source code</li>
                    <li>No easy way to retrieve, parse and query source code history at scale</li>
                    <li>Lack of proper documentation and/or expertise with legacy systems</li>
                    <li>Source code, software development and business data are spread across many silos</li>
                    <li>Shadow IT due to developer frustration with legacy systems & slow processes</li>
                </ul>
            </div>
            <div class="col-sm-6">
                <img class="img-fluid" src="img/visibility.jpg" alt="">
            </div>
        </div>
    </div>
</section>

<section id="success">
    <div class="container">
        <header class="text-center text-dark my-5">
            <h2>source{d} increases the success rates and the benefits  of your IT modernization projects</h2>
        </header>
        <div class="row">
            <div class="col-sm-6 mb-5">
                <div class="card text-white green">
                    <div class="card-body p-4 p-lg-5">
                        <p class="card-intro">Very rewarding</p>
                        <h3 class="card-title">$1.4 billion<br> <span class="h4">anual incremental revenues</span></h3>
                        <p class="card-text">Potential impact of the right transformation team over 9 months</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <ul class="small-list">
                    <li>Reduces infraestructure and/or development costs</li>
                    <li>Faster time to market & issue resolution</li>
                    <li>Higher developer productivity & morale</li>
                    <li>Shifting IT budget from maintenance to innovation, from CapEx to OpEx</li>
                    <li>Tech stack is more appealing to engineering talents</li>
                </ul>
            </div>
            <div class="col-sm-12 text-center py-5">
                <a href="#" class="btn btn-purple text-white col-sm-5 mr-4 mb-4 mb-sm-0">Download source{d}</a>
                <a href="#" class="btn btn-highlight col-sm-5">Request a Demo</a>
            </div>
        </div>
    </div>
</section>

<section id="journey" class="journey text-white pb-5">
    <div class="container text-center pt-5">
        <header class="mb-5">
            <h2>source{d} helps you at every step of your Digital Transformation journey</h2>
        </header>
        <div class="row">
            <div class="col-sm-4 mb-5">
                <div class="circle white-text large-text mb-5">1</div>
                <h3>Set Targets</h3>
                <p>What do we want and<br>  what do we get out of it?</p>
            </div>
            <div class="col-sm-4 mb-5">
                <div class="circle white-text large-text mb-5">2</div>
                <h3>Assess & Plan</h3>
                <p>Where are we now and<br> what should change?</p>
            </div>
            <div class="col-sm-4 mb-5">
                <div class="circle white-text large-text mb-5">3</div>
                <h3>Execute & Monitor</h3>
                <p>Who to involve and<br> How do we measure progress?</p>
            </div>
        </div>
    </div>
</section>

<section id="visibility" class="visibility pt-5">
    <div class="container text-dark pt-5">
        <header class="text-center mb-5">
            <h2>source{d} gives you visibility over your software portfolio, engineering teams and processes</h2>
        </header>
        <div class="row mt-5">
            <div class="col-sm-4 mb-5">
                <h3 class="title-line line-yellow">People</h3>
                <p class="mb-4">Understand your existing talent & where you need to upskill</p>
                <ul class="small-list">
                    <li>Talent analysis</li>
                    <li>Skill gap analysis</li>
                    <li>Collaboration assessment</li>
                    <li>Project/Talent fit</li>
                    <li>Identifying knowledge leaders</li>
                </ul>
            </div>
            <div class="col-sm-4 mb-5">
                <h3 class="title-line line-yellow">Processes</h3>
                <p class="mb-4">Analyze and drive behavior in your organization</p>
                <ul class="small-list">
                    <li>Codify your guidelines & best practices</li>
                    <li>Measure impact of actions</li>
                    <li>Adopt new practices (InnerSource)</li>
                    <li>Map/avoid compliance issues</li>
                </ul>
            </div>
            <div class="col-sm-4 mb-5">
                <h3 class="title-line line-yellow">Technology</h3>
                <p class="mb-4">Understand the technology in your organization</p>
                <ul class="small-list">
                    <li>Measure your technology transformation</li>
                    <li>Languages, frameworks, libs</li>
                    <li>Collaboration assessment</li>
                    <li>Map architecture & issues</li>
                    <li>Map dependency & impact</li>
                </ul>
            </div>
        </div>
    </div>
</section>

{{ partial "how-works.html" }}
{{ partial "footer.html" }}
</body>
</html>
