{{ $footer := $.Site.Data.footer }}

<section class="footer__sitemap">
    <div class="footer__sitemap__addresses">
        <div class="logo"><img src="{{ "/img/logos/source-logo-white.svg" | absURL }}" alt="source{d}" /></div>
        <p>{{ $footer.contact.company_name }}</p>
        {{ range $addr := $footer.contact.address }}
            <p>{{ $addr }}</p>
        {{ end }}

        <ul class="footer__sitemap__addresses__emails">
            {{ range $m := $footer.contact.mails }}
                <li>
                    <a href="mailto:{{ $m }}" title="Contact {{ $m }}">
                        {{ $m }}
                    </a>
                </li>
            {{ end }}
        </ul>
    </div>

    {{ partial "footer/sitemap-links.html" (dict "title" "Company" "items" $footer.company) }}

    {{ partial "footer/sitemap-links.html" (dict "title" "Projects" "items" $footer.projects) }}

    {{ partial "footer/sitemap-links.html" (dict "title" "Community" "items" $footer.community) }}
</section>

<script src="/js/bundle.js"></script>
