.footer {
  @include corporate-gradient;

  &__slack {
    @include row;
    width: initial;
    margin-top: $margin-top-footer-slack;
    background-color: $color-footer-slack-band-bg;
    height: $size-footer-slack-band;

    .slack-form__wrap {
      @include container;
      margin-left: auto !important;
      margin-right: auto !important;
      height: 100%;
    }

    .slack-form__root {
      height: 100%;
    }
  }

  .contact-us {
      padding: $padding-footer-contact-vertical 0;
  }

  &__sitemap {
    @include row;
    @include container;
    font-size: $font-size-footer-section;
    color: $color-footer-text;

    .contact-us {
        display: none;
    }

    a {
      @include link-dark-bg;
      color: $color-footer-text;
      text-decoration: none;

      &:hover {
        color: $color-footer-links-hover;
      }
    }

    &__addresses {
      @include columns(3);

      p {
        font-style: italic;
      }

      &__emails {
        margin-top: $gutter-size;
      }
    }

    &__links {
      @include columns(3);

      h5 {
        @include title-pill($color-footer-titles-pill, $width-title-footer-pill, $height-title-footer-pill, $size-title-footer-pill-spacing);
        font-size: $font-size-footer-titles;
        color: $color-footer-titles;
        text-transform: lowercase;
      }

      ul {
        margin-top: $size-title-footer-spacing;
      }
    }
  }

  &__social {
    padding: $padding-footer-social-vertical 0;
    text-align: center;

    ul {
      list-style: none;

      li {
        display: inline-block;

        & + li {
          margin-left: $size-footer-social-icon-spacing;
        }

        a {
          display: inline-block;
          width: $size-footer-social-icon;
          height: $size-footer-social-icon;
          border-radius: 50%;
          background-color: $color-footer-social-icon-bg;

          img {
            height: $size-footer-social-icon-image;
            margin-top: ($size-footer-social-icon - $size-footer-social-icon-image) / 2;
          }
        }
      }
    }
  }
}

@include media-breakpoint-down(sm) {
    .footer {
        .contact-us {
            display: none;
            padding-bottom: 0;
        }

        &__slack {
            margin: 0;
            height: auto;
            margin-bottom: $padding-section-vertical-mobile;
            padding: $padding-section-vertical-mobile 0;
        }

        &__sitemap {
            max-width: $max-wdith-footer-sitemap-mobile;
            margin: 0 auto !important;

            .contact-us {
                display: block;
                padding-bottom: 0;

                a {
                    border-radius: 5px;
                    background: $color-footer-mobile-buttons;
                    text-align: center;
                    line-height: $height-footer-mobile-buttons;
                    padding: 0 $padding-horizontal-footer-mobile-buttons;
                }

                a + a {
                    margin-top: $size-footer-mobile-buttons-spacing;
                }
            }

            &__addresses {
                margin: 0;
                width: 100%;
                float: none;
                text-align: right;
                float: none;

                .logo {
                    float: left;
                    margin-top: $size-footer-mobile-buttons-spacing;
                }

                &__emails {
                    display: none;
                }
            }

            &__links {
                margin: 0;
                width: 100%;
                float: none;
                margin-top: $padding-section-vertical-mobile;

                h5 {
                    text-align: center;
                    font-size: $font-size-footer-links-title;
                    margin-bottom: $size-footer-mobile-buttons-title-spacing;

                    &:before {
                        display: none;
                    }
                }

                li a {
                    display: block;
                    border-radius: 5px;
                    background: $color-footer-mobile-buttons;
                    text-align: center;
                    line-height: $height-footer-mobile-buttons;
                    padding: 0 $padding-horizontal-footer-mobile-buttons;
                }

                li + li {
                    margin-top: $size-footer-mobile-buttons-spacing;
                }
            }
        }
    }
}
