.footer {
  @include corporate-gradient;

  &__slack {
    @include row;
    margin-top: $margin-top-footer-slack;
    background-color: $color-footer-slack-band-bg;
    height: $size-footer-slack-band;

    .slack-form__wrap {
      @include container;
      margin-left: auto !important;
      margin-right: auto !important;
      height: 100%;
    }

    .slack-form__root {
      height: 100%;
    }
  }

  &__contact {
    text-align: center;
    padding: $padding-footer-contact-vertical 0;

    a {
      display: block;
      text-decoration: none;

      &.contact-email {
        font-size: $font-size-footer-email;
        color: $color-footer-email;
      }

      &.pgp-key {
        @include svg-color("key", $color-footer-pgp-key-icon);
        font-size: $font-size-footer-text;
        color: $color-footer-text;

        & > * {
          vertical-align: middle;
          display: inline-block;
        }

        span + span {
          padding-left: $gutter-size / 5;
          // svg icon has a weird size, so aligning the two items in the middle
          // does not make a very pleasant centering
          margin-top: -5px;
        }
      }
    }
  }

  &__sitemap {
    @include row;
    @include container;
    font-size: $font-size-footer-section;
    color: $color-footer-text;

    a {
      @include link-dark-bg;
      color: $color-footer-text;
      text-decoration: none;

      &:hover {
        color: $color-footer-links-hover;
      }
    }

    &__addresses {
      @include columns(3);

      p {
        font-style: italic;
      }

      &__emails {
        margin-top: $gutter-size;
      }
    }

    &__links {
      @include columns(3);

      h5 {
        @include title-pill($color-footer-titles-pill, $width-title-footer-pill, $height-title-footer-pill, $size-title-footer-pill-spacing);
        font-size: $font-size-footer-titles;
        color: $color-footer-titles;
        text-transform: lowercase;
      }

      ul {
        margin-top: $size-title-footer-spacing;
      }
    }
  }

  &__social {
    padding: $padding-footer-social-vertical 0;
    text-align: center;

    ul {
      list-style: none;

      li {
        display: inline-block;

        & + li {
          margin-left: $size-footer-social-icon-spacing;
        }

        a {
          display: inline-block;
          width: $size-footer-social-icon;
          height: $size-footer-social-icon;
          border-radius: 50%;
          background-color: $color-footer-social-icon-bg;

          img {
            height: $size-footer-social-icon-image;
            margin-top: ($size-footer-social-icon - $size-footer-social-icon-image) / 2;
          }
        }
      }
    }
  }
}
