.nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

.topbar {
  height: $height-topbar;

  &.opaque {
    background-color: $color-topbar-bg;
  }

  & > div {
    @include container;
    display: flex;
    align-items: center;
    height: 100%;
    position: relative;
  }

  .logo img {
    height: 45px;
  }

  &__menu {
    margin-left: auto;

    ul {
      li {
        position: relative;
        display: inline-block;
        margin: $margin-topbar-menu-spacing;
        padding: $padding-topbar-menu-vertical-spacing $padding-topbar-menu-horizontal-spacing;
        border-radius: 5px;

        &.active {
          background-color: $color-topbar-menu-item-active-bg;
        }

        a {
          font-family: $font-menus;
          text-transform: lowercase;
          color: $color-topbar-menu-item;
          font-size: $font-size-menu;
          display: flex;
          align-items: center;
          text-decoration: none;
        }
      }
    }

    &--projects {
      @include svg-color('go-arrow-nocircle', $color-topbar-menu-item);

      span.svg-icon--go-arrow-nocircle {
        transform: rotate(90deg);
      }
    }
  }

  ul.topbar__submenu {
    @include card-shadow;
    width: 300px;
    position: absolute;
    background-color: $color-topbar-submenu-bg;
    border-radius: 5px;
    right: 0;
    top: 100%;
    display: none;
    z-index: 9999;

    &:before {
      content: " ";
      display: block;
      position: absolute;
      top: -5px;
      right: $margin-topbar-submenu-arrow-right;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 5px 5px 5px;
      border-color: transparent transparent $color-topbar-submenu-bg transparent;
    }

    li {
      display: block;
      margin: 0;
      padding: $padding-topbar-submenu-item;
      border-radius: 0;
      border-left: $width-topbar-submenu-border-size solid transparent;

      a {
        color: $color-text-default;
        font-size: $font-size-submenu;
        display: flex;
        align-items: center;

        span {
          padding-left: $padding-topbar-submenu-item - $width-topbar-submenu-border-size;

          svg {
            fill: $color-topbar-submenu-icon-bg;
          }
        }

        span + span {
          padding-left: $padding-topbar-submenu-item * 2;
        }
      }

      &:hover,
      &.active {
        border-left-color: $color-topbar-submenu-hover-border;
        background-color: $color-topbar-submenu-hover-bg;

        a {
          color: $color-topbar-submenu-hover;

          span svg {
            fill: $color-topbar-submenu-hover;
          }
        }
      }

      &:first-child {
        border-radius: 5px 5px 0 0;
      }

      &:last-child {
        border-radius: 0 0 5px 5px;
      }
    }
  }

  &__menu ul li:hover ul.topbar__submenu {
    display: block;
  }
}

.secondary-topbar {
  background: $color-secondary-nav-bg;
  height: $height-secondary-nav;

  & > div {
    @include row;
    @include container;
    height: 100%;
    display: flex;
    align-items: center;
    position: relative;
  }

  a {
    @include link-dark-bg;
    text-decoration: none;
  }

  ul {
    li {
      display: inline-block;
      padding: $padding-secondary-nav-item;
      font-size: $font-size-secondary-nav-item;
      font-family: $font-menus;
    }

    li + li {
      margin-left: $size-secondary-nav-item-spacing;
    }
  }
}

@include media-breakpoint-down(sm) {
    .topbar {
        height: $height-topbar-mobile;
    }

    .topbar__menu-toggle {
        height: $size-topbar-menu-toggle;
        width: $size-topbar-menu-toggle;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        cursor: pointer;
        position: fixed;
        right: $padding-right-topbar-menu-toggle;

        span {
            display: block;
            position: absolute;
            height: $height-topbar-menu-toggle-strip;
            width: $width-topbar-menu-toggle-strip;
            background: $color-topbar-menu-toggle;
            transition: all 300ms ease-in-out;

            &:first-child {
                top: ($size-topbar-menu-toggle - 5 * $height-topbar-menu-toggle-strip) / 2;
            }

            &:nth-child(2) {
                top: ($size-topbar-menu-toggle - 5 * $height-topbar-menu-toggle-strip) / 2 + ($height-topbar-menu-toggle-strip * 2);
            }

            &:nth-child(3) {
                top: ($size-topbar-menu-toggle - 5 * $height-topbar-menu-toggle-strip) / 2 + (4 * $height-topbar-menu-toggle-strip);
            }
        }

        &_open span {
            margin: 0 !important;
            &:first-child {
                transform: rotate(45deg);
                top: auto;
            }

            &:nth-child(2) {
                width: 0;
            }

            &:last-child {
                transform: rotate(-45deg);
                top: auto;
            }
        }
    }

    .topbar__menu {
        visibility: hidden;
        left: 120%;
        transition: all 300ms ease-in-out;
        display: block;
        position: fixed;
        visibility: visible;
        top: 0;
        right: 0;
        bottom: 0;
        background: $color-topbar-menu-mobile-bg;
        overflow-y: auto;
        box-shadow: -2px 0 6px 0 $color-topbar-menu-mobile-shadow;
        max-width: $size-max-topbar-menu-mobile;

        &_open {
            visiblity: visible;
            left: 10%;
        }

        ul {
            display: none;

            &.visible {
                display: block;
            }

            li {
                margin: 0;
                border-radius: 0;

                .svg-icon:not(.svg-icon--go-arrow-nocircle) {
                    padding-right: 15px;
                }

                .svg-icon--go-arrow-nocircle {
                    position: absolute;
                    right: 0;

                    svg {
                        fill: $color-links;
                        height: $height-topbar-menu-mobile-item;
                        width: $height-topbar-menu-mobile-item;
                    }
                }
            }

            li:not(.topbar__menu__back) {
                padding: 0 0 0 $padding-left-topbar-menu-mobile-item;
                display: block;
                height: $height-topbar-menu-mobile-item;
                display: flex;
                align-items: center;

                a {
                    color: $color-links;
                    font-size: $font-size-topbar-menu-mobile;
                }

                &.active {
                    background-color: $color-topbar-menu-mobile-item-active;
                }
            }

            li.topbar__menu__back {
                background: $color-topbar-menu-mobile-close-bg;
                display: block;
                display: flex;
                align-items: center;
                height: $height-topbar-menu-mobile-back;

                h4 {
                    font-size: $font-size-topbar-menu-mobile;
                    color: $color-topbar-menu-mobile-close-text;
                    display: flex;
                    align-items: center;

                    span.svg-icon {
                        transform: rotate(180deg);
                        position: static;
                        margin-left: -10px;

                        svg {
                            fill: $color-topbar-menu-mobile-close-text;
                        }
                    }
                }
            }
        }
    }
}
