.btn-pill {
  @include pillStyle(blue);
  line-height: $height-pill-buttons;
  font-size: $font-size-pill-button;
  padding: 0 $padding-pill-button-sides;

  &--white {
    @include pillStyle(white);
  }
}
