.btn-pill {
  display: inline-block;
  text-decoration: none;
  line-height: $height-pill-buttons;
  font-size: $font-size-pill-button;
  border: 2px solid $color-pill-button-border;
  color: $color-pill-button-text;
  border-radius: 45px;
  padding: 0 $padding-pill-button-sides;

  &--white {
    border-color: $color-pill-button-white-border;
    color: $color-pill-button-white-text;
  }

  &--white-filled {
    color: $color-pill-button-white-filled-text;
    background-color: $color-pill-button-white-filled-bg;
    border-color: $color-pill-button-white-filled-bg;
    box-shadow: 0 0 1px 5px $color-pill-button-white-filled-shadow;
    color: $color-pill-button-white-filled-text;
  }
}
