.cards {
    &__wrap {
        display: flex;
        flex-wrap: wrap;
    }

    &__element {
        @include transition(box-shadow);
        @include card-shadow(true);
        @include columns(4);
        position: relative;
        float: left;
        background: $color-card-background;
        border-radius: 0 0 $border-radius-main $border-radius-main;
        margin-left: $gutter-size;
        margin-top: $gutter-size;

        &_blog {
            header {
                .cards__element__band {
                    @include corporate-gradient(#36536c, #2377b6);
                    position: absolute;
                    height: $size-card-top-border;
                    width: 100%;
                }

                h1,
                figure {
                    margin-top: 0;
                }
            }
        }

        &:nth-child(3n-2) {
            margin-left: 0;
        }

        section {
            width: 100%;
        }

        a {
            text-decoration: none;
            display: flex;
            flex-wrap: wrap;
            width: 100%;
            height: 100%;
        }

        header {
            align-self: flex-start;
            width: 100%;

            figure {
                display: flex;
                align-items: center;
                position: relative;
                height: $size-card-image-height;

                .svg-icon {
                    margin: 0 auto;
                }

                svg {
                    width: $size-card-proy-logo;
                    height: $size-card-proy-logo;
                    fill: $color-white;
                }

                .cards__element__img {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 100%;
                    height: $size-card-image-height - $size-card-top-border;
                    background-color: $color-card-background;
                    position: absolute;
                    top: $size-card-top-border;
                    background-size: cover;
                    background-position: center;
                }

                .cards__element__img_default {
                    background-color: #b8c9d3;

                    & > img {
                        height: $size-card-srcd-logo;
                        opacity: .6;
                    }
                }
            }
        }

        h1 {
            @include title-small;
            padding: $padding-card;
            background: $color-card-background;
            line-height: initial;
        }

        p {
            @include text-normal;
            line-height: $line-height-small;
            padding: 0 $padding-card $size-card-arrow + 2 * $padding-card;
        }

        &_with-footer {
            p {
                padding-bottom: $padding-card;
            }
        }

        footer {
            display: flex;
            align-items: center;
            bottom: $padding-card;
            height: $size-card-author-image;
            min-height: $size-card-arrow;
            width: 100%;
            margin: 0 $size-card-arrow + 2 * $padding-card $padding-card $padding-card;
            align-self: flex-end;

            img {
                flex-grow: 0;
                width: $size-card-author-image;
                border-radius: 50%;
            }

            address {
                @include text-small;
                flex-grow: 1;
                margin-left: 10px;

                & >  {
                    div {
                        line-height: $line-height-condensed;
                    }

                    time {
                        @include text-x-small;
                    }
                }
            }
        }

        .link-icon {
            position: absolute;
            bottom: 0;
            right: 0;
        }

        .link-icon .svg-icon {
            @include pill-style(blue);
            stroke: $color-pill-button-main;
            stroke-width: 0;
            fill: $color-pill-button-main;
            border: none;
            width: $size-card-arrow;
            height: $size-card-arrow;
            position: absolute;
            bottom: $padding-card;
            right: $padding-card;

            svg {
                overflow: visible;
            }
        }

        &:hover {
            .link-icon .svg-icon {
                @include pill-style-hover(blue);
                fill: $color-pill-button-hover-main;
            }

            &_external-link .link-icon .svg-icon {
                fill: $color-pill-button-hover-main;
            }
        }

        &_external-link .link-icon .svg-icon {
            stroke-width: 1.1px;
            fill: $color-pill-button-white-main;
        }
    }

    @include media-breakpoint-down(sm) {
        overflow-x: auto;
        overflow-y: hidden;
        margin-left: -($gutter-size / 2);
        margin-right: -($gutter-size / 2);
        position: relative;
        height: $height-cards-wrap-mobile;
        margin-top: $margin-top-cards-mobile;

        &__wrap {
            flex-wrap: nowrap;
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
        }

        &__element {
            width: $width-card-mobile;
            margin: 0 $size-card-mobile-spacing !important;

            header figure {
                height: $height-card-figure-mobile;

                svg {
                    height: $size-card-figure-icon-mobile;
                    width: $size-card-figure-icon-mobile;
                }
            }

            p {
                font-size: $font-size-body-mobile;
            }
        }

        &__img {
            height: $height-card-figure-mobile;
        }
    }

    &_projects {
        header {
            display: flex;
            height: $size-project-card-height;
            padding-top: $size-card-top-border;

            & > div {
                width: 100%;
                display: flex;
                background: $color-card-background;
                margin-bottom: -1px;
            }

            figure {
                padding: 0 10px 0 15px;
                height: auto;
                flex-grow: 0;

                .svg-icon {
                    &.svg-icon_inherited-fill svg {
                        position: relative;
                        top: $size-codepill-project-vertical-correction;
                        height: $size-codepills-project-height;
                        width: $size-codepills-project-width;
                    }

                    svg {
                        z-index: 2;
                        max-height: $size-codepills-project-height;
                        width: auto;
                    }
                }
            }

            h1 {
                display: flex;
                align-items: center;
                flex-grow: 1;
                padding-left: 0;
            }
        }

        footer {
            @include text-x-small;
            justify-content: space-between;
            height: auto;

            div {
                color: $color-card-project-title;
                line-height: $size-project-card-icon;

                .size {
                    font-weight: bold;
                    line-height: $size-project-card-icon;

                    &:before {
                        margin-top: -4px;
                        margin-right: 3px;
                    }

                    &_zip {
                        @include svg-icon('size-download', $size-project-card-icon, $size-project-card-icon);
                    }

                    &_raw {
                        @include svg-icon('size-uncompressed', $size-project-card-icon, $size-project-card-icon);
                    }
                }
            }

            time {
                @include text-micro;
                align-self: flex-end;
                font-style: italic;
                text-transform: uppercase;
                margin-top: -5px;
            }
        }
    }
}

@include media-breakpoint-only(md) {
    .cards__element {
        @include columns(6);

        &:nth-child(3n-2) {
            margin-left: $gutter-size !important;
        }

        &:first-child,
        &:nth-child(2n+1) {
            margin-left: 0 !important;
        }
    }
}

@include media-breakpoint-down(sm) {
    .blog .cards {
        height: $height-blog-cards-mobile;
    }

    .blog .cards__element {
        header figure {
            height: $height-blog-cards-figure-height-mobile;

            .cards__element__img {
                height: $height-blog-cards-figure-height-mobile;
            }
        }
    }
}
