.cards {
    display: flex;
    flex-wrap: wrap;

    &__element {
        @include transition(box-shadow);
        @include card-shadow(true);
        display: flex;
        flex-grow: 1;
        flex-basis: calc(100% / 3 - #{$gutter-size});
        position: relative;
        float: left;
        background: $color-card-background;
        border-radius: 0 0 $border-radius-main $border-radius-main;
        margin-left: $gutter-size;
        margin-top: $gutter-size;
        max-width: calc((100% - 2 * #{$gutter-size}) / 3);

        &_blog {
            header {
                @include corporate-gradient(#36536C, #2377B6);
            }
        }

        &:nth-child(3n-2) {
            margin-left: 0;
        }

        section {
            width: 100%;
        }

        a {
            text-decoration: none;
            display: flex;
            flex-wrap: wrap;
            width: 100%;
        }

        header {
            align-self: flex-start;
            width: 100%;

            figure {
                @include valign-flex-center(true);
                position: relative;
                height: $size-card-image-height;

                svg {
                    width: $size-card-proy-logo;
                    height: $size-card-proy-logo;
                    fill: $color-white;
                }

                .cards__element__img {
                    @include valign-flex-center(true);
                    width: 100%;
                    height: $size-card-image-height - $size-card-top-border;
                    background-color: $color-card-background;
                    position: absolute;
                    top: $size-card-top-border;
                    background-size: cover;
                    background-position: center;
                }

                .cards__element__img_default {
                    background-color: #b8c9d3;

                    & > img {
                        height: $size-card-srcd-logo;
                        opacity: .6;
                    }
                }
            }
        }

        h1 {
            @include title-small;
            padding: $padding-card;
            text-transform: capitalize;
            background: $color-card-background;
        }

        p {
            @include text-normal;
            line-height: $line-height-small;
            padding: 0 $padding-card $size-card-arrow + 2 * $padding-card;
        }

        &_with-footer {
            p {
                padding-bottom: $padding-card;
            }
        }

        footer {
            @include valign-flex-center;
            bottom: $padding-card;
            height: $size-card-author-image;
            min-height: $size-card-arrow;
            width: 100%;
            margin: 0 $size-card-arrow + 2 * $padding-card $padding-card $padding-card;
            align-self: flex-end;

            img {
                flex-grow: 0;
                width: $size-card-author-image;
                border-radius: 50%;
            }

            address {
                @include text-small();
                flex-grow: 1;
                margin-left: 10px;

                & > {
                    div {
                        line-height: $line-height-condensed;
                    }

                    time {
                        @include text-x-small();
                    }
                }
            }
        }

        &:after {
            @include pill-style(blue);
            content: "\f105";
            width: $size-card-arrow;
            height: $size-card-arrow;
            position: absolute;
            bottom: $padding-card;
            right: $padding-card;
            font-family: $font-icons;
            line-height: $size-card-arrow - 4px;
            padding-left: 2px;
        }

        &:hover:after {
            @include pill-style-hover(blue);
        }

        &_external-link {
            @include svg-icon(github-outlined, $size-card-arrow, $size-card-arrow, after);

            &:after {
                content: '';
                border: none;
            }
        }
    }

    &_projects {
        header {
            display: flex;
            height: $size-project-card-height;

            figure {
                background: $color-card-background;
                padding: 0 10px 0 15px;
                margin-top: 7px;
                height: auto;
                flex-grow: 0;

                .svg-icon {
                    &.svg-icon_inherited-fill svg {
                        position: relative;
                        top: $size-dodepill-project-vertical-correction;
                        height: $size-codepills-project-height;
                        width: $size-codepills-project-width;
                    }

                    svg {
                        z-index: 2;
                        max-height: $size-codepills-project-height;
                        width: auto;
                    }
                }
            }

            h1 {
                @include valign-flex-center;
                margin-top: 7px;
                flex-grow: 1;
                padding-left: 0;
                color: $color-card-project-title;
            }
        }

        footer {
            @include text-x-small();
            justify-content: space-between;
            height: auto;

            div {
                color: $color-card-project-title;
                line-height: $size-project-card-icon;

                .size {
                    font-weight: $font-weight-card-em;
                    line-height: $size-project-card-icon;

                    &:before {
                        margin-top: -4px;
                        margin-right: 3px;
                    }

                    &_zip {
                        @include svg-icon('size-download', $size-project-card-icon, $size-project-card-icon);
                    }

                    &_raw {
                        @include svg-icon('size-uncompressed', $size-project-card-icon, $size-project-card-icon);
                    }
                }
            }

            time {
                @include text-micro();
                align-self: flex-end;
                font-style: italic;
                text-transform: uppercase;
                margin-top: -5px;
            }
        }
    }
}
