#detailsContainer {
    text-align: left;

    nav {
        text-align: center;

        li {
            font-size: .8em;
            display: inline-block;
            border: none;
            border-radius: $borderRadius;
            padding: .4em 2em;
            cursor: pointer;
        }
    }

    .columnsContainer {
        width: 720px;
        margin: 2em auto;
        position: relative;
        display: flex;
        align-items: stretch;
        justify-content: center;
        align-items: stretch;
        height: 380px;

        .item {
            display: none;
        }

        .code {
            position: absolute;
            left: 0;
            border-radius: $borderRadius;
            width: 47%;
            height: 100%;
            margin-right: 1em;
            overflow-x: hidden;
            overflow-y: auto;
            background: $codeColorBackground;

            .JSON {
                @include code;
                background: $codeColorBackground;
                padding: 10px;
                display: block;
                
                .hljs-attr {
                    @include code(attribute);
                }
                
                .hljs-string {
                    @include code(string);
                }
                
                .hljs-number {
                    @include code(number);
                }
                
                .hljs-literal {
                    @include code(literal);
                }
            }
        }

        .details {
            position: absolute;
            right: 0;
            top: 0;
            border-radius: $borderRadius;
            width: 367px;
            height: 100%;
            padding: 1em;
            box-shadow: 0px 4px 15px 0px rgba(87,114,157,0.25);
            background: white;
            overflow: hidden;

            .author {
                @include textMedium(strong);
                vertical-align: middle;
                margin-bottom: 1em;

                img {
                    width: 50px;
                    height: 50px;
                    vertical-align: middle;
                    margin-right: 18px;
                }
            }
        }

        .languages {
            .graph {
                margin: .5em -9px;
            }

            ul {
                margin-top: .4em;

                .lang {
                    @include label(inherit, strong);
                    font-size: .6em;
                    font-weight: bold;
                    padding: .2em .7em;

                    &.langGo {
                        background-color: #4285F4 !important;
                    }

                    &.langPHP {
                        background-color: #F06B72 !important;
                    }

                    &.langJavaScript {
                        background-color: #F4AF45 !important;
                    }
                }
            }
        }

        .contributions  {
            .footer {
                @include textXSmall;
                position: absolute;
                bottom: 7px;
                text-align: center;
                width: 100%;
                left: 0;
            }

            .repo {
                @include textSmall;
                overflow: hidden;
                border: 1px solid $lineColor;
                border-radius: $borderRadius;
                padding: 4px 10px;

                & + .repo {
                    margin-top: 10px;
                }

                .data {
                    @include textXSmall;

                    .commits {
                        float: left;
                    }

                    .languages {
                        float: right;

                        & > li {
                            display: inline-block;
                            padding-left: 6px;
                        }

                        .circle {
                            $size: 10px;
                            border-radius: $size;
                            height: $size;
                            width: $size;
                            display: inline-block;
                            position: relative;
                            top: 1px;
                            margin-right: 1px;
                        }
                    }
                }
            }
        }

        .locations  .map {
            width: 367px;
            position: absolute;
            bottom: 0;
            left: 0;
        }
    }

    &.item0 section.item0,
    &.item1 section.item1,
    &.item2 section.item2 {
        display: block;
    }

    &.item0 li.item0,
    &.item1 li.item1,
    &.item2 li.item2 {
        border: 1px solid $lineColor;
        background-color: $bgLightBlue;
        font-weight: bold;
    }
}

@media only screen and (max-width: 795px) {
    #detailsContainer {
        .code {
            display: none;
        }

        nav {
            li {
                padding: 0;
                padding-bottom: .3em;
            }

            li + li {
                margin-left: 1em;
            }
        }

        &.item0 li.item0,
        &.item1 li.item1,
        &.item2 li.item2 {
            border: none;
            border-bottom: 2px solid $codeColorLiteral;
            border-radius: 0;
            background: none;
        }

        .columnsContainer {
            width: 100%;
            height: auto;

            .details {
                width: 90%;
                max-width: 400px;
                background: none;
                border: none;
                box-shadow: none;
                padding: 0;
                position: relative;
                margin: 0 auto;
            }

            .languages {
                .graph {
                display: block;
                width: 100%;
                margin: 1em auto;
                }
            }

            .locations .map {
                position: relative;
                margin-top: 1em;
                width: 100%;
            }

            .contributions  {
                .footer {
                    position: relative;
                    margin-top: 1.5em;
                }
            }
        }
    }
}
