#detailsContainer {
    text-align: left;

    nav {
        text-align: center;
        li {
            font-size: .8em;
            display: inline-block;
            border: none;
            border-radius: 3px;
            padding: .4em 2em;
            cursor: pointer;

            &.active {
                border: 1px solid $lineColor;
                background-color: $bgLightBlue;
                font-weight: bold;
            }
        }
    }

    .columnsContainer {
        width: 720px;
        max-height: 380px;        
        margin: 2em auto;
        position: relative;
        display: flex;
        align-items: stretch;
        justify-content: center;
        height: 100%;

        .code {
            width: 47%;
            margin-right: 1em;
            overflow-y: auto;
            background: $codeColorBackground;
            border-radius: 3px;

            pre, code {
                height: 100%;
            }

            .JSON {
                @include code;
                padding: 10px;
                display: block;
                
                .hljs-attr {
                    @include code(attribute);
                }
                
                .hljs-string {
                    @include code(string);
                }
                
                .hljs-number {
                    @include code(number);
                }
                
                .hljs-literal {
                    @include code(literal);
                }
            }
        }

        .details {
            width: 53%;
            padding: 1em;
            background: white;
            box-shadow: 0px 4px 15px 0px rgba(87,114,157,0.25);
            border-radius: 3px;
            overflow: hidden;

            .author {
                vertical-align: middle;

                img {
                    vertical-align: middle;
                    height: 50px;
                }
            }
        }

        h5 {
            padding-top: 1em;
        }

        article {
            visibility: hidden;
            display: none;

            &.active {
                visibility: visible;
                display: block;
            }
        }

        .languages {
            @include textMedium;
            
            .graph {
                padding-top: .5em;
            }

            ul {
                margin-top: .4em;

                .lang {
                    @include label(inherit, strong);
                    font-size: .6em;
                    font-weight: bold;
                    padding: .2em .7em;

                    &.langGo {
                        background-color: #4285F4 !important;
                    }

                    &.langPHP {
                        background-color: #F06B72 !important;
                    }

                    &.langJavaScript {
                        background-color: #F4AF45 !important;
                    }
                }
            }
        }

        .map {
            margin-left: -1em;
            width: 120%;
            margin-top: 1em;
        }

        .contributions  {
        }
    }
}