$footeHPadding: 96px;
.footer {
    z-index: 3;
}
.footer > .mainContainer {
    overflow: hidden;
    border-top: 1px solid $lineColorBlueLight;

    .logoContainer {
        display: inline-block;
        float: left;
    }

    .logo {
        @include iconOnly(120px, 29px, '/img/logos/logo-footer.svg');
        margin-left: $footeHPadding;
    }

    .links {
        float: right;
        margin-right: $footeHPadding;
        color: $textColorCorporative;

        & > li {
            display: inline-block;
        }

        .sitemap {
            @include smallLink(noUnderline emphasisDark);
        }

        .github > a {
            @include fontIcon('github', 20px, 20px, 20px);
            margin-left: 25px;
            margin-right: 18px;
        }

        .twitter > a {
            @include fontIcon('twitter', 20px, 20px, 20px);
            margin-right: 18px;
        }

        .linkedin > a {
            @include fontIcon('linkedin', 20px, 20px, 20px);
        }
    }
}

.fullWidth.contact > .mainContainer{
    padding-bottom: 45px;

    .pgpKey {
        @include textSmall(emphasisDark);
        @include icon(16px, 24px, 7px, '/img/icons/key.svg');
        margin-bottom: 45px;
    }
}

@media only screen and (max-width: 780px) {
    .footer > .mainContainer {
        .logoContainer {
            .logo {
                margin: 0;
                width: 90px;
                height: 24px;
                background-size: contain;
            }
        }

        ul.links {
            margin: 0;
        }
    }

    .fullWidth.contact > .mainContainer .copyBtn {
        font-size: 1.1em;
    }
}@media only screen and (max-width: 780px) {
    .footer > .mainContainer {
        .logoContainer {
            .logo {
                margin: 0;
                width: 90px;
                height: 24px;
                background-size: contain;
            }
        }

        ul.links {
            margin: 0;
        }
    }
}