.mainHeader {
    background-size: cover;
    background-position: center center;
    background-color: $textColorCorporative;
    position: relative;
    top: 0;

    &:before {
        content:' ';
        display: block;
        background-color: transparentize($bgMainHeader, .2);
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 1;
    }

    h1.title {
        @include mainTitle(alphaCover);
    }

    p, .footer {
        @include textMedium(alphaCover);
        text-align: center;
        display: block;
        margin: 0 auto;
        max-width: 500px;
    }

    .link {
        @include smallLink(alphaCover bigSize);
        margin-top: 37px;
        color: $textColorWhite;
    }

    .footer {
        color: white;
        position: absolute;
        bottom: 20px;
        left: 0;
        width: 100%;
        right: 0;

        a {
          font-weight: bold;
          border-bottom: 1px solid transparent;
          transition: all 200ms ease-in;

          &:hover {
            border-bottom: 1px solid $lineColorUnderline;
          }
        }
    }
}
