$codePanelHeight: 550px;
$codePanelHeightMobile: 330px;

.projects {
  text-align: left;

  @media only screen and (max-width: $mobileBreakpoint) {
    margin-top: 60px;
  }

  .hljs {
    background-color: #203242;
  }

  .project {
    margin: 0 1em 50px;

    .projectCode {
      width: 48%;
      float: left;

      code {
        padding: 1em;
        font-size: .8em;
        line-height: 1.4em;
        font-family: 'Hack', monospace;
        border-radius: 3px;
        height: $codePanelHeight;
      }
    }

    .projectInfo {
      font-size: .9em;
      width: 48%;
      float: right;

      ul {
        margin-left: 1em;
        list-style: disc;
        line-height: 1.8em;
        padding-top: 1em;
      }

      .projectLinks {
        margin-top: 1em;
        text-align: center;
        a {
          font-weight: bold;
        }

        a + a {
          margin-left: 2em;
        }
      }
    }

    &:after {
      content: " ";
      clear: both;
      display: block;
    }
  }

  .slick-dots {
    bottom: 20px;
  }

  .slick-dots li button:before {
    font-size: 10px;
  }

  .slick-prev,
  .slick-next {
    top: $codePanelHeight / 2 + 25px;
    height: 60px;
  }

  .slick-prev:before,
  .slick-next:before {
    color: rgba(0,0,0,.5);
    font-size: 60px;
    font-family: FontAwesome;
  }

  .slick-prev:before{
    content: '\f104';
  }

  .slick-next:before {
    content: '\f105';
  }
}

@media only screen and (max-width: $mobileBreakpoint) {
  .projects .project {
    .projectInfo,
    .projectCode {
      float: none;
      width: 100%;

      h2 {
        margin-bottom: 30px;
      }

      code {
        height: $codePanelHeightMobile;
      }
    }
  }
}
