$cardPadding: 17px;
$iconSize: 12px;

#ourOpenSource {

    h3 {
        line-height: 1.6em;
    }

    .subTitle {
        margin-bottom: -10px;
    }

    .other .subTitle {
        margin-top: 27px;
    }

    p {
        @include textSmall;
        @include halign(700px);
        width: auto;
        max-width: 700px;
        margin-bottom: 27px;
    }

    .link {
        @include smallLink;
        margin-top: 27px;
        text-align: center;

        .clickable {
            border: none !important;
        }
    }

    .repo {
        @include col(4);
        @include glow();

        background-color: white;
        border: 1px solid transparent;
        border-color: $lineColorBorderAlt;
        border-radius: 3px;
        margin-top: $gutter;
        overflow: hidden;
        display: inline-block;
        padding: .4em 1em;
        height: 114px;
        position: relative;
        
        .fullName {
            color: $textColorTitle;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            display: block;
            text-align: left;

            .name {
                font-weight: 600;
            }
        }

        .description {
            @include textSmall(condensed);
            color: $textColorCardSmall;
            width: 100%;
            margin: 6px 0 0;
            text-align: left;
            max-height: 36px;
            overflow: hidden;
        }

        .data {
            @include textSmall(condensed);
            position: absolute;
            bottom: .8em;
            left: $cardPadding;
            display: flex;
            align-items: center;

            .stars,
            .lang {
                display: flex;
                align-items: center;

                span {
                    margin-left: .3em;
                }

                img, span {
                    line-height: 0;
                }

                img, .circle {
                    margin-bottom: 2px;
                }
            }

            .lang .circle {
                display: inline-block;
                height: $iconSize;
                width: $iconSize;
                border-radius: $iconSize;
                margin-top: .1em;
                position: relative;
                margin-left: 1em;
            }
        }
    }

}