.slackForm {
    background-color: transparent;

    &__header {
        padding: $padding-top-slack-form-header $padding-lateral-slack-form-header 0;
        background-color: $color-slack-form-bg;
        border-radius: $border-radius-main $border-radius-main 0 0;
        color: $color-slack-form-description;
        text-align: center;
        text-transform: lowercase;
        margin-bottom: 0;
    }

    &__logo {
        margin: auto;
        margin-top: $margin-top-slack-form-logo;
        height: $height-slack-form-logo;
    }

    &__title {
        color: $color-light-blue;
        font-family: $font-titles;
        font-size: $font-size-slack-form-title;
        line-height: $line-height-tall;
    }

    &__description {
        color: $color-dark-blue;
        font-family: $font-titles;
        font-size: $font-size-title-small;
        padding-bottom: $padding-bottom-slack-form-description;
    }

    &__body {
        position: relative;
        bottom: 0;
        left: 0;
        width: 100%;
        background-color: $color-slack-form-body-normal-bg;
        border-radius: 0 0 $border-radius-main $border-radius-main;

        &_success {
            background-color: $color-slack-form-body-success-bg;
        }

        &_error {
            background-color: $color-slack-form-body-error-bg;
        }
    }

    &__label {
        @include sr-only();
    }

    &__input {
        @include input(white);
        display: block;
        margin: 0;
        width: calc(100% - #{2 * $padding-lateral-slack-form});
    }

    &__submit {
        display: block;
        margin: 0 auto;
        width: $width-slack-form-submit;
    }

    &__message {
        font-size: $font-size-slack-band-message;

        &_hidden {
            visibility: hidden;
        }

        &_success p {
            @include svg-icon('message-icon-success', $size-slack-form-message-icon, $size-slack-form-message-icon) {
                border-radius: 50%;
                border-style: solid;
                border-color: $color-pill-button-white-main;
                border-width: $border-width-pills;
                margin-right: $margin-right-slack-form-message-icon;
            }
        }
    }

    &--vertical {
        .slackForm {
            &__body {
                padding-top: calc( #{$height-slack-form-input} / 2 + #{$padding-top-hero-slack} );
                padding-bottom: $padding-top-hero-slack;
            }

            &__logo {
                margin-bottom: $margin-bottom-slack-form-logo;
            }

            &__title {
                margin-bottom: $margin-bottom-slack-form-title;
            }

            &__input {
                position: absolute;
                margin: 0 auto;
                top: calc( -#{$height-slack-form-input} / 2 );
                left: 50%;
                transform: translateX(-50%);
            }

            &__message {
                margin: 0 $padding-top-hero-slack;
                text-align: center;

                & > p {
                    padding-top: $padding-top-hero-slack;
                }
            }
        }
    }

    &--horizontal {
        height: 100%;
        position: relative;

        .slackForm {
            &__header {
                background-color: transparent;
                position: static;
                display: inline;
            }

            &__header {
                width: 0;
                height: 0;
                padding: 0;
            }

            &__logo {
                @include columns(2);
                margin-top: $size-slack-form-horizontal-message-spacing;
                margin-left: 0;
                display: inline;
                height: $size-footer-slack-logo;
                margin-top: ($size-footer-slack-band - $size-footer-slack-logo) / 2;
            }

            &__title {
                @include columns(3);
                margin-top: $size-slack-form-horizontal-message-spacing;
                line-height: $height-slack-form-input;
                font-size: $font-size-footer-slack-band-title;
                color: $color-footer-slack-band-title;
                text-align: left;
            }

            &__description {
                display: none;
            }

            &__body {
                display: inline;
                background: transparent;
            }

            &__input {
                @include columns(4);
                display: inline;
                margin-top: ($size-footer-slack-band - $size-footer-slack-input) / 2;
            }

            &__submit {
                @include columns(3);
                display: inline;
                margin-top: ($size-footer-slack-band - $size-footer-slack-input) / 2;
            }

            &__message {
                @include columns(7);
                @include offset(5);
                text-align: left;
                color: white;
                transform: translateX(-$gutter-size);

                & > p {
                    padding-top: $padding-top-slack-form-horizontal-message;
                }

                &_hidden {
                    visibility: hidden;
                }

                &_success p {
                    @include svg-icon('message-icon-success', $size-slack-form-message-icon, $size-slack-form-message-icon) {
                        border-radius: 50%;
                        border-style: solid;
                        border-color: $color-footer-slack-band-success-border;
                        border-width: $width-footer-slack-band-message-icon-border;
                        background-color: $color-footer-slack-band-success-bg;
                        margin-right: $margin-right-slack-form-message-icon;
                    }
                }
            }
        }
    }
}

@include media-breakpoint-down(md) {
    .slackForm {
        position: relative;

        &__header {
            display: flex;
            flex-align: center;
            justify-content: center;
            flex-wrap: wrap;
        }

        &__logo {
            float: none;
            height: $height-slack-logo-mobile;
            width: $height-slack-logo-mobile;
            margin: 0;
        }

        &__title {
            float: none;
            margin-bottom: 0;
            margin-left: $margin-left-slack-title-mobile;
            font-size: $font-size-slack-title-mobile;
            line-height: $height-slack-title-mobile;
        }

        &__description {
            width: 100%;
            padding-top: $padding-top-slack-desc-mobile;
            padding-bottom: $padding-bottom-slack-desc-mobile;
            font-size: $font-size-body-mobile;
        }

        &__body {
            top: 100%;
            bottom: auto;
        }
    }

    .slackForm--horizontal {
        .slackForm {
            &__input {
                float: none;
                display: block;
                width: 100%;
                max-width: $width-slack-form-horizontal-input-mobile;
                margin: $margin-top-slack-form-horizontal-elements auto 0 auto;
            }

            &__submit {
                float: none;
                width: $width-slack-form-horizontal-button-mobile;
                margin: $margin-top-slack-form-horizontal-elements auto 0 auto;
                display: block;
            }

            &__header {
                display: flex;
                align-items: center;
                width: auto;
                height: auto;
                margin: 0;
                justify-content: center;
            }

            &__message {
                width: 100%;
                max-width: $width-slack-form-horizontal-input-mobile;
                margin: 0 auto;
                right: 0;
                float: none;
                text-align: center;
                transform: none;
            }

            &__logo {
                float: none;
                width: $height-slack-logo-mobile;
                height: $height-slack-logo-mobile;
                margin: 0;
            }

            &__title {
                float: none;
                display: block;
                width: auto;
                margin: 0 0 0 $margin-left-slack-title-mobile;
                line-height: $height-slack-title-mobile;
            }
        }
    }
}
