{{ $careers := $.Site.Data.careers }}
{{ $headerCtx := dict "ctx" . }}
{{ $heroCtx := dict "ctx" . "data" $careers }}
{{ $footerCtx := dict "ctx" . "include_slack" true "include_email" true }}

{{ $headCtx := dict "ctx" . }}
{{ partial "head.html" $headCtx }}

<body class="careers-page">
    {{ partial "header.html" $headerCtx }}
    {{ partial "hero.html" $heroCtx }}

    <section class="band band_grey band_condensed">
        <article class="band__container offers">
            <h1 class="striked">
                <span class="title">{{ $careers.positions.title }}</span>
            </h1>

            <div id="offers" class="offers__list"></div>
        </article>

        <article class="band__container">
            <h1 class="striked">
                <span class="title">{{ $careers.notice.title }}</span>
            </h1>

            <div class="text-section">
                <p>{{ $careers.notice.desc }}</p>

                <div class="contact-us_dark">
                    {{ partial "contact-us.html" $ }}
                </div>
            </div>
        </article>

        <article class="band__container">
            <h1 class="striked">
                <span class="title">{{ $careers.gallery.title }}</span>
            </h1>

            <div class="hq-gallery">
                <ul>
                    {{ range $src := $careers.gallery.images }}
                        <li class="hq-gallery__item">
                            <img src="{{ $src | absURL }}" alt="">

                            <a href="{{ $src | absURL }}"class="hq-gallery__item__trigger" data-lightbox="hq" data-title="source{d} headquarters, Madrid">
                                {{ partial "svg" "zoom-open" }}
                            </a>
                        </li>
                    {{ end }}
                </ul>
            </div>
        </article>

        <article class="band__container">
            <h1 class="striked">
                <span class="title">{{ $careers.benefits.title }}</span>
            </h1>
            <div class="text-section">
                <p>{{ $careers.benefits.desc }}:</p>
                <ul>
                    {{ range $item := $careers.benefits.items }}
                        <li>{{ $item | safeHTML }}</li></li>
                    {{ end }}
                </ul>
            </div>
        </article>
    </section>

    {{ partial "footer.html" $footerCtx }}
</body>
</html>
