{{ partial "head.html" . }}
{{ $careers := $.Site.Data.careers }}
{{ $headerCtx := dict "ctx" . }}
{{ $heroCtx := dict "ctx" . "data" $careers }}
{{ $footerCtx := dict "ctx" . "include_slack" true "include_email" true }}

<body class="stack-page">
    {{ partial "header.html" $headerCtx }}
    {{ partial "hero.html" $heroCtx }}

    <header
        style="background-image: url('{{ default .Site.Params.headerImageUrl .Params.headerImageUrl }}');"
    >
        <div class="mainContainer">
            <div class="description">
                <h1 class="title">Our Job Opportunities</h1>
                <p>Exceptional missions require exceptional people</p>
            </div>
        </div>
    </header>

    <div class="fullWidth">
        <div id="offersPanel"></div>
    </div>

    {{ partial "footer.html" $footerCtx }}
</body>

</html>
