{{ $projects := $.Site.Data.projects }}
{{ $headerCtx := dict "ctx" . "secondary_nav" "projects/nav.html" }}
{{ $heroCtx := dict "ctx" . "data" $projects }}
{{ $footerCtx := dict "ctx" . "include_slack" true "include_email" true }}
{{ $blog := $.Site.Data.blog }}
{{ $slack := $.Site.Data.slack }}
{{ $categories := $.Site.Data.categories }}
{{ $projectsCtx := dict "slack" $slack "categories" $categories }}

{{ $headCtx := dict "ctx" . }}
{{ partial "head.html" $headCtx }}

<body>
    {{ partial "header.html" $headerCtx }}
    <div class="text-left pb-5">
            <br><br>
            <h1 class="title text-left p-0 mt-5 mb-4">A complete suite of Open Source projects for Code as Data and Machine Learning on Code</h1>
            <a href="open-source#contribute" class="btn btn-purple-light mr-4 mb-3 mb-sm-5">How to Contribute</a>
            <a href="open-source#projects" class="btn btn-highlight-light mb-3 mb-sm-5">OSS Projects</a>
        </div>
    </div>
</header>

<section id="philosophy" class="philosophy pt-5 pb-0">
    <div class="container">
        <div class="row text-dark mb-5">
            <div class="col-md-6">
                <h2 class="title-line line-yellow">Philosophy & Governance</h2>
                <p class="text-large">At source{d} we are creating a suite of Open Source tools enabling “Code as Data” and “Machine Learning on Code”.</p>
                <p>We are also great believers in Open Source and its philosophy. Not only is our source code developed out in the open and made available to all, but also our <a href="https://github.com/src-d/guide/blob/master/general/culture.md">culture</a>, <a href="https://github.com/src-d/guide">guides</a>, and even <a href="https://github.com/src-d/okrs">OKRs</a> are openly accessible on <a href="https://github.com/src-d">GitHub</a>.</p>
                <p>Upon request from the community, we plan to hold an election for a Technical Steering Committee (TSC) which will act as an escalation point for potential conflicts within projects, encourage cross-project communication/coordination and help with project governance.</p>
            </div>
            <div class="col-md-6">
                <img class="w-100 mt-3 mt-md-0" src="assets/icons/philosophy-and-governance.svg" alt="">
            </div>
        </div>
    </div>
</section>

<section id="licensing" class="licensing text-white pb-5">
    <div class="container pt-5">
        <div class="row mb-5">
            <div class="col-md-6 text-center">
                <img class="mb-3 mb-md-0" src="assets/icons/licensing.svg" height="350" width="350" alt="">
            </div>
            <div class="col-md-6">
                <h3 class="title-line line-yellow">Licensing</h3>
                <p>Our current approach has our technology stack fully open-source under permissive licenses such as <a class="text-yellow" href="https://www.apache.org/licenses/LICENSE-2.0">Apache 2.0</a> and <a class="text-yellow" href="https://www.gnu.org/licenses/gpl-3.0.en.html">GPL 3.0</a>. We have released the source{d} Engine product for single node deployments; multi-node deployments of the source{d} Engine which allow distributed computing over a vast amount of repositories with a large number of concurrent users consist in a proprietary product.</p>
                <p>This allows us to charge enterprises who are in need for a large number of nodes but not disadvantage individual developers or smaller organizations to take advantage of our technology.</p>
            </div>
        </div>
        <div class="row" id="contribute">
            <div class="col-md-10 offset-md-1">
                <h3 class="title-line line-yellow">How to contribute</h3>
                <p>No need to be an expert in Machine Learning to start contributing to the source{d} tech stack. As Open Source enthusiasts, we think everyone has a unique perspective and ideas that deserve to be heard either online on GitHub or in person at Meetups or conferences. From simple documentation improvements to more advanced pull requests for new features and help organizing #MLonCode meetups, we welcome all kind of contributions from the broader community.</p>
                <p>Start contributing today by:</p>
                <ul class="small-list">
                    <li>Creating issues and submitting pull requests on GitHub</li>
                    <li>Discussing design & change proposals with the source{d} team on Slack</li>
                    <li>Sending an email to <a href="mailto:devrel@sourced.tech">devrel@sourced.tech</a> about organizing events & meetups</li>
                </ul>
            </div>
        </div>
    </div>
</section>

<section id="projects" class="projects pt-5 pb-5">
    <div class="container">
        <header class="text-center mb-5">
            <p class="subtitle text-orange">Projects</p>
            <h2 class="text-dark col-md-10 offset-md-1">Open-source components that make machine learning on source code a reality</h2>
            <p class="text-large">The source{d} stack is built on top of open-source components that make machine learning on source code a reality: from datasets to models as well as data retrieval, language analysis and machine learning tools, all is freely available</p>
        </header>
        <div class="row">
            <div class="col-sm-12">
                <h3 class="title-line text-dark line-yellow mt-1 mb-3">OSS Projects Highlights</h3>
            </div>
        </div>
		
        <div class="row highlight-cards mb-4">
		  <div class="col-lg-4 mb-4 mb-lg-0">
			<a href="https://doc.bblf.sh/">
			  <div class="card text-white orange h-100">
				<div class="card-body p-5">
				  <i class="ic icon-git text-white"></i>
				  <p class="card-intro mb-0">Code Analysis</p>
				  <h3 class="title-line line-yellow">Babelfish</h3>
				  <p>Babelfish is a self-hosted server for source code parsing. It can parse any file, in any supported language, extracting an Abstract Syntax Tree (AST) from it and converting it into a Universal Abstract Syntax Tree (UAST).</p>
				</div>
			  </div>
			</a>
		  </div>
		  <div class="col-lg-4 mb-4 mb-lg-0">
			<a href="https://github.com/src-d/go-git">
			  <div class="card text-white orange h-100">
				<div class="card-body p-5">
				  <i class="ic icon-git text-white"></i>
				  <p class="card-intro mb-0">Code Retrieval</p>
				  <h3 class="title-line line-yellow">go-git</h3>
				  <p>go-git is a highly extensible Git implementation in pure Go language</p>
				</div>
			  </div>
			</a>
		  </div>
		  <div class="col-lg-4">
			<a href="https://github.com/src-d/gemini">
			  <div class="card text-white orange h-100">
				<div class="card-body p-5">
				  <i class="ic icon-git text-white"></i>
				  <p class="card-intro mb-0">Code Analysis</p>
				  <h3 class="title-line line-yellow">Gemini</h3>
				  <p>Gemini is a tool for searching for similar ‘items’ in source code repositories. Supported granularity level or items are: repositories, files and functions.</p>
				</div>
			  </div>
			</a>
		  </div>
		</div>

        <!--
        <div class="row text-center mt-5 mb-3">
            <div class="col">
                <p class="line line-magenta">Datasets</p>
            </div>
            <div class="col">
                <p class="line line-orange">Models</p>
            </div>
            <div class="col">
                <p class="line line-green">Code Retrieval</p>
            </div>
            <div class="col">
                <p class="line line-yellow">Code Analysis</p>
            </div>
            <div class="col">
                <p class="line line-purple">Machine Learning</p>
            </div>
            <div class="col">
                <p class="line line-blue">Applications</p>
            </div>
        </div>
        -->
        <div class="row">
            <div class="col-md-12">
                <h3 class="title-line text-dark line-yellow mt-5">Datasets</h3>
            </div>
            <div class="col-md-6 col-lg-4 mb-4">
                <div class="card text-white green">
                    <div class="card-body p-4">
                        <a href="https://github.com/src-d/datasets/tree/master/PublicGitArchive" class="ic icon-git text-white"></a>
                        <p class="card-intro mb-0">Dataset</p>
                        <h4 class="m-0">Public Git Archive</h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h3 class="title-line text-dark line-yellow mt-5">Models</h3>
            </div>
            <div class="col-md-6 col-lg-4 mb-4">
                <div class="card text-white green">
                    <div class="card-body">
                        <a href="https://github.com/src-d/models#topics" class="ic icon-git text-white"></a>
                        <p class="card-intro mb-0">Model</p>
                        <h4 class="m-0">Topic Modeling</h4>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 mb-4">
                <div class="card text-white green">
                    <div class="card-body">
                        <a href="https://github.com/src-d/models#id2vec" class="ic icon-git text-white"></a>
                        <p class="card-intro mb-0">Model</p>
                        <h4 class="m-0">Identifier Embeddings</h4>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 mb-4">
                <div class="card text-white green">
                    <div class="card-body">
                        <a href="https://github.com/src-d/models#bow" class="ic icon-git text-white"></a>
                        <p class="card-intro mb-0">Model</p>
                        <h4 class="m-0">TF/IDF BoW</h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h3 class="title-line text-dark line-yellow mt-5">Code Retrieval Tools</h3>
            </div>
            <div class="col-md-6 col-lg-4 mb-4">
                <div class="card text-white green">
                    <div class="card-body">
                        <a href="https://github.com/src-d/go-git" class="ic icon-git text-white"></a>
                        <p class="card-intro mb-0">Code Retrieval</p>
                        <h4 class="m-0">go-git</h4>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 mb-4">
                <div class="card text-white green">
                    <div class="card-body">
                        <a href="https://github.com/src-d/rovers" class="ic icon-git text-white"></a>
                        <p class="card-intro mb-0">Code Retrieval</p>
                        <h4 class="m-0">Rovers</h4>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 mb-4">
                <div class="card text-white green">
                    <div class="card-body">
                        <a href="https://github.com/src-d/borges" class="ic icon-git text-white"></a>
                        <p class="card-intro mb-0">Code Retrieval</p>
                        <h4 class="m-0">Borges</h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h3 class="title-line text-dark line-yellow mt-5">Code Analysis Tools</h3>
            </div>
            <div class="col-md-6 col-lg-4 mb-4">
                <div class="card text-white green">
                    <div class="card-body">
                        <a href="https://doc.bblf.sh/" class="ic icon-git text-white"></a>
                        <p class="card-intro mb-0">Code Analysis</p>
                        <h4 class="m-0">Babelfish</h4>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 mb-4">
                <div class="card text-white green">
                    <div class="card-body">
                        <a href="https://github.com/src-d/gitbase" class="ic icon-git text-white"></a>
                        <p class="card-intro mb-0">Code Analysis</p>
                        <h4 class="m-0">Gitbase</h4>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 mb-4">
                <div class="card text-white green">
                    <div class="card-body">
                        <a href="https://github.com/src-d/engine" class="ic icon-git text-white"></a>
                        <p class="card-intro mb-0">Code Analysis</p>
                        <h4 class="m-0">Engine</h4>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 mb-4">
                <div class="card text-white green">
                    <div class="card-body">
                        <a href="https://github.com/src-d/lookout" class="ic icon-git text-white"></a>
                        <p class="card-intro mb-0">Code Analysis</p>
                        <h4 class="m-0">Lookout</h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h3 class="title-line text-dark line-yellow mt-5">Machine Learning</h3>
            </div>
            <div class="col-md-6 col-lg-4 mb-4">
                <div class="card text-white green">
                    <div class="card-body">
                        <a href="https://github.com/src-d/ml" class="ic icon-git text-white"></a>
                        <p class="card-intro mb-0">Machine Learning</p>
                        <h4 class="m-0">sourced.ml</h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h3 class="title-line text-dark line-yellow mt-5">Applications</h3>
            </div>
            <div class="col-md-6 col-lg-4 mb-4">
                <div class="card text-white green">
                    <div class="card-body">
                        <a href="https://github.com/src-d/gemini" class="ic icon-git text-white"></a>
                        <p class="card-intro mb-0">Applications</p>
                        <h4 class="m-0">Gemini</h4>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 mb-4">
                <div class="card text-white green">
                    <div class="card-body">
                        <a href="https://github.com/src-d/hercules" class="ic icon-git text-white"></a>
                        <p class="card-intro mb-0">Applications</p>
                        <h4 class="m-0">Hercules</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{{ partial "try-sourced.html" }}

{{ partial "footer.html" $footerCtx }}
</body>
</html>
