.intro {
  position: relative;
  z-index: 10;
  display: block;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.introleft {
  z-index: 0;
  height: 100%;
  padding-right: 0px;
  padding-left: 0px;
}

.introright {
  z-index: 10000;
  padding-right: 30px;
  padding-left: 50px;
  text-decoration: none;
}

.body {
  background-color: #fff;
  font-family: 'Open Sans', sans-serif;
  color: #51738b;
  font-size: 20px;
  line-height: 36px;
  font-weight: 400;
}

.logo {
  position: relative;
  z-index: 1;
  display: block;
  width: 318px;
  margin-top: 52px;
}

.introh1 {
  margin-top: 28px;
  margin-bottom: 0px;
  color: #314b5d;
  font-size: 44px;
  line-height: 77px;
  font-weight: 300;
}

.introh2 {
  margin-top: 26px;
  margin-bottom: 48px;
  font-size: 17px;
  font-weight: 100;
  text-transform: uppercase;
}

.introh1span {
  color: #568fcb;
  font-weight: 600;
}

.buttonslack {
  display: block;
  width: 228px;
  height: 72px;
  margin-right: 25px;
  margin-bottom: 25px;
  padding: 0px 0px 0px 41px;
  float: left;
  border-radius: 94px;
  background-image: url('../images/slackBig.png'), -webkit-linear-gradient(270deg, #f5a623, #f5a623);
  background-image: url('../images/slackBig.png'), linear-gradient(180deg, #f5a623, #f5a623);
  background-position: 40px 50%, 0px 0px;
  background-size: 31px 31px, auto;
  background-repeat: no-repeat, repeat;
  color: #fff;
  font-size: 17px;
  line-height: 70px;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
}

.buttonslack:hover {
  background-image: url('../images/slackBig.png'), -webkit-linear-gradient(270deg, #f7ae35, #f7ae35);
  background-image: url('../images/slackBig.png'), linear-gradient(180deg, #f7ae35, #f7ae35);
  background-position: 40px 50%, 0px 0px;
  background-size: 31px 31px, auto;
  background-repeat: no-repeat, repeat;
  box-shadow: inset 0 0 10px 1px #f5a623;
  -webkit-perspective: 840px;
  perspective: 840px;
  -webkit-transform: perspective(1652px);
  transform: perspective(1652px);
  -webkit-transform-origin: 58% 50% 0px;
  -ms-transform-origin: 58% 50% 0px;
  transform-origin: 58% 50% 0px;
}

.buttonslack.buttonslacksmall {
  width: 200px;
  height: 59px;
  margin-right: 35px;
  padding-left: 37px;
  background-image: url('../images/slackBig.png'), -webkit-linear-gradient(270deg, null, null);
  background-image: url('../images/slackBig.png'), linear-gradient(180deg, null, null);
  background-position: 15% 50%, 0px 0px;
  background-size: 26px 26px, auto;
  font-size: 16px;
  line-height: 57px;
}

.buttonslack.buttonslackbig {
  margin-top: 60px;
  float: none;
}

.buttonslack.buttonslackbig.buttonslackbigcentered {
  display: block;
  margin-right: auto;
  margin-bottom: 0px;
  margin-left: auto;
}

.buttonpricing {
  display: block;
  width: 210px;
  height: 71px;
  margin-left: 0px;
  float: left;
  border: 3px solid #2477b4;
  border-radius: 94px;
  color: #2477b4;
  font-size: 17px;
  line-height: 64px;
  font-weight: 600;
  text-align: center;
  text-decoration: none;
}

.buttonpricing:hover {
  border-color: #568fcb;
  color: #568fcb;
}

.buttonpricing.buttonpricingsmall {
  width: 171px;
  height: 59px;
  margin-left: 0px;
  font-size: 16px;
  line-height: 51px;
  font-weight: 600;
}

.buttonpricing.buttonpricingsmall.buttonbottom {
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  border-color: #51738b;
  color: #51738b;
}

.buttonpricing.buttonpricingsmall.buttonbottom:hover {
  border-color: #2477b4;
  color: #2477b4;
}

.buttonpricing.buttonpricingsmall.buttonbottom.buttonbottomlong {
  width: 201px;
  margin-right: 35px;
  margin-bottom: 25px;
}

.buttonpricing.buttonpricingsmall.buttonbottom.buttonbottomlong:hover {
  border-color: #2477b4;
  color: #2477b4;
}

.developer {
  position: relative;
  z-index: 10;
  display: block;
  width: 20%;
  max-height: 284px;
  max-width: 284px;
  float: left;
  clear: none;
}

.overlay {
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 100;
  display: block;
  width: 100%;
  height: 100%;
  margin-top: 0px;
  background-color: transparent;
  background-image: -webkit-linear-gradient(270deg, rgba(36, 119, 180, .83), rgba(36, 119, 180, .83));
  background-image: linear-gradient(180deg, rgba(36, 119, 180, .83), rgba(36, 119, 180, .83));
  opacity: 0.7;
  color: transparent;
}

.overview {
  margin-top: 80px;
  margin-bottom: 120px;
  color: #fcaf25;
  font-weight: 600;
  text-align: center;
}

.overview.overviewfeature {
  display: block;
  width: 700px;
  margin: 80px auto;
}

.h3 {
  margin-top: 0px;
  margin-bottom: 46px;
  color: #f5a623;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
}

.h3.pricingh3 {
  color: #fbbc55;
}

.h4 {
  display: block;
  max-width: 750px;
  margin: 0px auto 50px;
  color: #314b5d;
  font-size: 47px;
  line-height: 77px;
  font-weight: 600;
  text-align: center;
}

.h4.pricingh4 {
  color: #fff;
  font-weight: 600;
}

.h4.featurecenterh4 {
  margin-bottom: 20px;
  font-size: 30px;
  line-height: 57px;
}

.pwhite {
  display: block;
  width: 760px;
  margin-right: auto;
  margin-bottom: 0px;
  margin-left: auto;
  color: #51738b;
  font-weight: 300;
}

.pwhite.pwhitefeature {
  width: 400px;
}

.buttons {
  display: block;
  width: 406px;
  margin-top: 0px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 70px;
  clear: both;
  text-align: center;
}

.buttons.buttonsoverviewfeature {
  margin-top: 30px;
}

.pricing {
  margin-top: 0px;
  padding-top: 116px;
  padding-bottom: 120px;
  clear: none;
  background-image: -webkit-linear-gradient(270deg, #2477b4, #2477b4);
  background-image: linear-gradient(180deg, #2477b4, #2477b4);
  color: #fff;
  text-align: left;
}

.testimonials {
  margin-top: 95px;
  padding-top: 120px;
  padding-bottom: 120px;
  background-image: -webkit-linear-gradient(270deg, #f0f0f0, #f0f0f0);
  background-image: linear-gradient(180deg, #f0f0f0, #f0f0f0);
}

.ppricing {
  width: 400px;
  padding-right: 25px;
  float: right;
  font-size: 40px;
  line-height: 75px;
  font-weight: 300;
  text-align: right;
}

.pricingright {
  margin-top: 15px;
  padding-left: 25px;
}

.pricingrighttitle {
  padding-left: 7px;
  font-weight: 600;
}

.pricinglist {
  margin-top: 20px;
  margin-bottom: 0px;
  padding-left: 0px;
  line-height: 56px;
  font-weight: 400;
}

.pricinglistitem {
  display: block;
  margin-bottom: 20px;
  padding-left: 40px;
  background-image: url('../images/bullet.png');
  background-position: 2% 43%;
  background-size: 8px;
  background-repeat: no-repeat;
  background-attachment: scroll;
  line-height: 30px;
  font-weight: 300;
}

.ppricingorange {
  color: #fdc767;
  font-weight: 400;
}

.feature {
  padding-top: 120px;
}

.featureleft {
  padding-top: 0px;
  padding-right: 25px;
  padding-left: 80px;
  text-align: right;
}

.featureright {
  padding-top: 0px;
  padding-right: 80px;
  padding-left: 25px;
}

.featuretttle {
  padding-top: 60px;
  border-radius: 5px;
  color: #314b5d;
  font-size: 40px;
  line-height: 67px;
  font-weight: 600;
}

.featurep {
  width: 450px;
  margin-top: 19px;
  padding-top: 0px;
  float: none;
  font-size: 22px;
  line-height: 39px;
  font-weight: 300;
}

.featurep.featurepleft {
  float: right;
}

.buttonsfeatureright {
  display: none;
  margin-top: 34px;
}

.buttonsfeatureleft {
  display: none;
  margin-top: 34px;
  float: right;
}

.testimonial {
  display: block;
  width: 774px;
  margin: 10px auto 80px;
  padding-right: 40px;
  float: none;
  clear: both;
}

.testimonialright {
  width: 377px;
  padding-top: 20px;
  padding-right: 0px;
  padding-left: 25px;
  float: left;
}

.testimonialright.testimonialrrightavatar {
  width: 386px;
  height: 332px;
  padding-top: 0px;
}

.testimonialleft {
  padding-right: 25px;
  float: left;
  text-align: right;
}

.testimonialtext {
  color: #314b5d;
  font-size: 20px;
  font-style: italic;
}

.testimonialtext.testimonialtextleft {
  width: 323px;
  padding-top: 20px;
}

.testimonialname {
  margin-top: 19px;
  font-size: 17px;
  line-height: 30px;
  font-style: normal;
  font-weight: 300;
}

.testimonialavatar {
  display: inline-block;
  width: 332px;
  border: 40px solid #fff;
  text-align: right;
}

.sourced {
  position: static;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  margin-top: 0px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.sourcedh4 {
  width: 560px;
  margin-top: 0px;
  margin-bottom: 30px;
  color: #314b5d;
  font-size: 33px;
  line-height: 50px;
  font-weight: 600;
}

.sourcedp {
  margin-bottom: 40px;
}

.sourcedright {
  margin-top: 0px;
  padding: 75px 80px 0px;
  text-align: left;
}

.sourcedright.sourcedcenter {
  text-align: center;
}

.sourcedleft {
  display: block;
  padding-right: 0px;
  padding-left: 0px;
  background-image: url('../images/backgroundSourced.jpg');
  background-position: 0px 0px;
  background-size: 67% 60%;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.sourcedteam {
  height: 100%;
  background-image: url('../images/backgroundSourced.jpg');
  background-position: 0px 0px;
  background-size: 716px 526px;
}

.featureanimation {
  overflow: hidden;
  width: 550px;
  height: 450px;
  float: right;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(86, 130, 163, .05);
  background-image: -webkit-linear-gradient(270deg, #fff, #fff);
  background-image: linear-gradient(180deg, #fff, #fff);
  box-shadow: -2px 21px 41px -18px rgba(36, 119, 180, .22);
  text-align: left;
}

.featureanimation.featureanimationright {
  float: left;
}

.pwhitespan {
  font-weight: 700;
}

.intromobile {
  position: absolute;
  width: 100%;
  height: 100%;
}

.testimonialleftreverse {
  width: 377px;
  margin-top: 80px;
  margin-right: 0px;
  padding-right: 44px;
  float: left;
  text-align: right;
}

.testimonialrightreverse {
  width: 332px;
  margin-top: 80px;
  margin-left: 1px;
  float: left;
  text-align: right;
}

.buttonsmobile {
  margin-bottom: 90px;
}

.buttonsfooter {
  display: block;
  width: 411px;
  margin-top: 50px;
  margin-right: auto;
  margin-left: auto;
}

.teamphoto {
  display: block;
  text-align: right;
}

.backgroundfooter {
  position: static;
  top: 0px;
  right: 0px;
  bottom: 0px;
  display: block;
  margin-right: 25px;
  float: right;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-content: space-between;
  -ms-flex-line-pack: justify;
  align-content: space-between;
  -webkit-align-self: flex-start;
  -ms-flex-item-align: start;
  align-self: flex-start;
  -webkit-box-ordinal-group: 1;
  -webkit-order: 0;
  -ms-flex-order: 0;
  order: 0;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  text-align: right;
}

.footerbackground {
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-top: 150px;
  padding-bottom: 150px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-style: none;
  background-image: url('../images/backgroundSourced.jpg');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: #fff;
  font-size: 40px;
  font-weight: 700;
  text-align: center;
}

.footerslogan {
  display: block;
  width: 340px;
  margin-top: 0px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 20px;
  padding-bottom: 20px;
  border-style: none;
  border-width: 5px;
  border-color: rgba(36, 119, 180, .13);
  border-radius: 0px;
  background-image: -webkit-linear-gradient(270deg, rgba(86, 143, 203, .23), rgba(86, 143, 203, .23));
  background-image: linear-gradient(180deg, rgba(86, 143, 203, .23), rgba(86, 143, 203, .23));
  box-shadow: 0 0 20px -8px #2477b4;
  opacity: 1;
  font-size: 25px;
  line-height: 40px;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
}

.footerinfo {
  padding-top: 80px;
  padding-bottom: 55px;
}

.footerp {
  display: block;
  width: 730px;
  margin-top: 40px;
  margin-right: auto;
  margin-left: auto;
  font-size: 20px;
  line-height: 36px;
  font-weight: 400;
  text-align: center;
}

.logosourced {
  display: block;
  width: 202px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

.slack {
  position: relative;
  margin-top: -90px;
  margin-bottom: 0px;
  padding-bottom: 0px;
  background-color: transparent;
}

.slackbackground {
  position: relative;
  z-index: 1000;
  display: block;
  overflow: visible;
  width: 862px;
  height: 550px;
  margin-top: -80px;
  margin-right: auto;
  margin-left: auto;
  border: 3px none #dae6f5;
  border-radius: 5px;
  background-image: url('../images/backgroundSlack.png');
  background-position: -51% 50%;
  background-size: 862px;
  background-repeat: no-repeat;
  background-attachment: scroll;
  box-shadow: 0 2px 45px -7px rgba(36, 119, 180, .5);
}

.mainanimation {
  display: block;
  overflow: hidden;
  width: 582px;
  height: 389px;
  margin-top: 7px;
  margin-right: 58px;
  margin-left: 0px;
  padding-left: 0px;
  float: right;
}

.animationimage {
  position: static;
  z-index: 0;
  overflow: visible;
}

html.w-mod-js *[data-ix="feature1"] {
  display: none;
  opacity: 0;
  -webkit-transform: translate(0px, 450px);
  -ms-transform: translate(0px, 450px);
  transform: translate(0px, 450px);
}

html.w-mod-js *[data-ix="mainanimation"] {
  display: none;
  opacity: 1;
  -webkit-transform: translate(0px, 391px);
  -ms-transform: translate(0px, 391px);
  transform: translate(0px, 391px);
}

html.w-mod-js *[data-ix="feature-2"] {
  display: block;
  opacity: 0;
  -webkit-transform: translate(0px, 50px);
  -ms-transform: translate(0px, 50px);
  transform: translate(0px, 50px);
}

html.w-mod-js *[data-ix="feature-3"] {
  display: block;
  opacity: 0;
  -webkit-transform: translate(0px, 80px);
  -ms-transform: translate(0px, 80px);
  transform: translate(0px, 80px);
}

html.w-mod-js *[data-ix="photoleft"] {
  display: block;
  opacity: 1;
  -webkit-transform: rotate(-6deg);
  -ms-transform: rotate(-6deg);
  transform: rotate(-6deg);
}

html.w-mod-js *[data-ix="photoright"] {
  display: block;
  opacity: 1;
  -webkit-transform: rotate(6deg);
  -ms-transform: rotate(6deg);
  transform: rotate(6deg);
}

@media (max-width: 991px) {
  .intro {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-right: 0px;
    margin-left: 0px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
  }
  .introleft {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-align-self: flex-start;
    -ms-flex-item-align: start;
    align-self: flex-start;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    background-color: transparent;
  }
  .introright {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-right: auto;
    margin-left: auto;
    padding-right: 0px;
    padding-left: 0px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self: center;
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
    text-align: left;
  }
  .body {
    overflow: visible;
  }
  .logo {
    display: block;
    width: 246px;
    margin: 30px 0px;
    clear: none;
  }
  .introh1 {
    display: block;
    width: 85%;
    max-width: 600px;
    margin-top: 30px;
    margin-right: auto;
    margin-left: auto;
    font-size: 45px;
    line-height: 77px;
  }
  .introh2 {
    display: block;
    width: 85%;
    max-width: 600px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
    font-size: 17px;
    font-weight: 300;
  }
  .buttonslack {
    margin-top: 50px;
    margin-left: 0%;
  }
  .buttonslack.buttonslacksmall {
    margin-top: 0px;
    margin-left: 0%;
  }
  .buttonslack.buttonslackbig {
    display: block;
    margin-top: 36px;
    margin-right: auto;
    margin-left: auto;
  }
  .buttonslack.buttonslackbig.buttonslackbigcentered {
    margin-right: 0px;
    margin-left: 0px;
  }
  .buttonpricing {
    margin-top: 50px;
  }
  .buttonpricing.buttonpricingsmall {
    margin-top: 0px;
  }
  .buttonpricing.buttonpricingsmall.buttonbottom {
    margin-right: 0px;
  }
  .buttonpricing.buttonpricingsmall.buttonbottom.buttonbottomlong {
    margin-right: 35px;
  }
  .developer {
    width: 10%;
    opacity: 1;
  }
  .overlay {
    position: absolute;
    display: block;
    background-image: -webkit-linear-gradient(270deg, rgba(36, 119, 180, .72), rgba(36, 119, 180, .72));
    background-image: linear-gradient(180deg, rgba(36, 119, 180, .72), rgba(36, 119, 180, .72));
    opacity: 0.76;
  }
  .overview {
    display: block;
    width: 100%;
    margin: 70px auto;
    padding-right: 0px;
    padding-left: 0px;
  }
  .h3 {
    display: block;
    width: 85%;
    max-width: 600px;
    margin-right: auto;
    margin-bottom: 26px;
    margin-left: auto;
    font-size: 17px;
    text-align: left;
  }
  .h4 {
    width: 85%;
    max-width: 600px;
    margin-bottom: 20px;
    font-size: 35px;
    line-height: 57px;
    text-align: left;
  }
  .pwhite {
    width: 85%;
    max-width: 600px;
    font-size: 19px;
    line-height: 36px;
    text-align: left;
  }
  .buttons {
    margin-top: 0px;
    padding-top: 50px;
  }
  .pricing {
    padding: 70px 0px;
    text-align: center;
  }
  .testimonials {
    margin-top: 70px;
    padding: 70px 30px;
  }
  .ppricing {
    display: block;
    width: 85%;
    max-width: 600px;
    margin-right: auto;
    margin-bottom: 40px;
    margin-left: auto;
    padding-right: 0px;
    float: none;
    font-size: 26px;
    line-height: 55px;
    text-align: left;
  }
  .pricingleft {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding-right: 0px;
    padding-left: 0px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-align-content: space-around;
    -ms-flex-line-pack: distribute;
    align-content: space-around;
    -webkit-align-self: stretch;
    -ms-flex-item-align: stretch;
    align-self: stretch;
    -webkit-box-ordinal-group: 1;
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
  }
  .pricingright {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-top: 0px;
    padding-right: 0px;
    padding-left: 0px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    -webkit-box-ordinal-group: 1;
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
  }
  .pricingrighttitle {
    display: block;
    width: 85%;
    max-width: 600px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 0px;
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
    text-align: left;
  }
  .pricinglist {
    display: block;
    width: 85%;
    max-width: 600px;
    margin-right: auto;
    margin-left: auto;
    line-height: 46px;
    text-align: left;
  }
  .pricinglistitem {
    margin-bottom: 15px;
    padding-left: 30px;
    background-image: url('../images/bullet.png');
    background-position: 0px 50%;
    background-size: 8px;
    background-repeat: no-repeat;
    font-size: 18px;
    line-height: 28px;
    text-align: left;
  }
  .feature {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding-top: 70px;
    padding-right: 30px;
    padding-left: 30px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
    text-align: left;
  }
  .feature.featuremiddlemobile {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .featureleft {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-top: 0px;
    padding-right: 0px;
    padding-left: 0px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    text-align: center;
  }
  .featureright {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding-right: 0px;
    padding-left: 0px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    text-align: center;
  }
  .featuretttle {
    display: block;
    width: 100%;
    max-width: 600px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 0px;
    font-size: 35px;
    line-height: 57px;
  }
  .featurep {
    display: block;
    width: 100%;
    max-width: 600px;
    margin-right: auto;
    margin-bottom: 40px;
    margin-left: auto;
    font-weight: 400;
  }
  .featurep.featurepleft {
    font-weight: 400;
  }
  .buttonsfeatureright {
    display: block;
    width: 406px;
    margin-right: auto;
    margin-bottom: 70px;
    margin-left: auto;
  }
  .buttonsfeatureleft {
    display: block;
    width: 406px;
    margin-right: auto;
    margin-bottom: 70px;
    margin-left: auto;
  }
  .testimonial {
    width: 85%;
    max-width: 600px;
    margin-top: 56px;
    margin-bottom: 0px;
    padding-right: 0px;
  }
  .testimonial.testimonialreverse {
    margin-top: 30px;
  }
  .testimonialright {
    width: 55%;
    padding-top: 0px;
    padding-left: 40px;
  }
  .testimonialright.testimonialrrightavatar {
    height: 240px;
    float: right;
    clear: both;
  }
  .testimonialleft {
    padding-right: 0px;
    float: left;
  }
  .testimonialtext {
    font-size: 19px;
  }
  .testimonialtext.testimonialtextleft {
    width: 60%;
  }
  .testimonialname {
    margin-top: 16px;
    margin-bottom: 14px;
    font-size: 15px;
  }
  .testimonialavatar {
    display: inline-block;
    width: 240px;
    height: 240px;
    float: none;
    border-width: 30px;
  }
  .sourcedh4 {
    display: block;
    width: 81%;
    margin-right: auto;
    margin-left: auto;
    font-size: 35px;
    line-height: 57px;
  }
  .sourcedp {
    display: block;
    width: 85%;
    margin-right: auto;
    margin-left: auto;
  }
  .sourcedright {
    padding: 55px 30px 70px;
    text-align: center;
  }
  .featureanimation {
    display: block;
    margin-right: auto;
    margin-left: auto;
  }
  .feature1animation {
    display: block;
  }
  .feature2animation {
    display: block;
  }
  .pwhitespan {
    text-align: left;
  }
  .intromobile {
    z-index: 100;
  }
  .pricingrow {
    display: block;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
  }
  .testimonialleftreverse {
    width: 50%;
    margin-top: 40px;
    padding-top: 0px;
    padding-right: 0px;
  }
  .testimonialrightreverse {
    width: 45%;
    margin-top: 40px;
    float: right;
  }
  .buttonsmobile {
    display: block;
    width: 85%;
    max-width: 600px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
  }
  .buttonsfooter {
    display: block;
    width: 85%;
    max-width: 600px;
    padding-left: 0px;
  }
  .backgroundfooter {
    background-position: 50% -71px;
    background-size: cover;
  }
  .footerinfo {
    padding: 70px 0px;
  }
  .footerp {
    width: 85%;
    max-width: 600px;
    text-align: left;
  }
  .logosourced {
    margin-right: 0px;
    margin-left: 0px;
  }
  .slackbackground {
    width: 100%;
    max-height: 560px;
    max-width: 862px;
    min-height: 560px;
    margin-top: -50px;
    background-position: 50% 0px;
    background-size: cover;
  }
  .mainanimation {
    margin-top: 91px;
    margin-right: 10px;
    margin-left: 250px;
    float: right;
  }
  .animationimage {
    float: none;
  }
  .logocontainer {
    display: block;
    width: 85%;
    max-width: 600px;
    margin-right: auto;
    margin-left: auto;
    -webkit-align-self: flex-start;
    -ms-flex-item-align: start;
    align-self: flex-start;
  }
  .developers {
    position: relative;
  }
}

@media (max-width: 767px) {
  .intro {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
  .introleft {
    position: relative;
    display: block;
    overflow: hidden;
    height: 100%;
    -webkit-align-self: flex-start;
    -ms-flex-item-align: start;
    align-self: flex-start;
    -webkit-box-ordinal-group: 1;
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
  }
  .introright {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding-right: 0px;
    padding-left: 0px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    -webkit-align-self: flex-start;
    -ms-flex-item-align: start;
    align-self: flex-start;
    -webkit-box-ordinal-group: 1;
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    text-align: left;
  }
  .logo {
    width: 230px;
    margin: 25px 0px 20px 0%;
    float: left;
    clear: both;
    text-align: center;
  }
  .introh1 {
    display: block;
    width: 85%;
    max-width: 480px;
    margin-top: 0px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 20px;
    clear: both;
    font-size: 31px;
    line-height: 62px;
    text-align: left;
  }
  .introh2 {
    display: block;
    width: 85%;
    max-width: 480px;
    margin-top: 10px;
    font-size: 17px;
    text-align: left;
  }
  .introh1span {
    display: inline;
  }
  .buttonslack {
    display: block;
    margin: 0px 30px 25px auto;
    float: left;
  }
  .buttonslack.buttonslacksmall {
    display: block;
    margin-right: 30px;
    margin-left: auto;
  }
  .buttonslack.buttonslackbig {
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
  }
  .buttonslack.buttonslackbig.buttonslackbigcentered {
    margin-left: 0px;
  }
  .buttonpricing {
    display: block;
    margin-top: 0px;
    margin-right: auto;
    margin-left: auto;
    float: left;
  }
  .buttonpricing.buttonpricingsmall {
    display: block;
    margin-right: auto;
    margin-left: auto;
  }
  .buttonpricing.buttonpricingsmall.buttonbottom.buttonbottomlong {
    margin-bottom: 25px;
  }
  .developer {
    position: static;
    display: inline-block;
    width: 20%;
    max-height: auto;
    max-width: auto;
    float: left;
    clear: none;
  }
  .overlay {
    position: absolute;
    left: 0px;
    top: 0px;
    display: block;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .overview {
    display: block;
    width: auto;
    max-width: none;
    margin-top: 50px;
    margin-right: 0px;
    margin-left: 0px;
    padding-right: 0px;
    padding-left: 0px;
    text-align: center;
  }
  .h3 {
    display: block;
    width: 85%;
    max-width: 480px;
    margin-right: auto;
    margin-bottom: 26px;
    margin-left: auto;
    text-align: left;
  }
  .h3.pricingh3 {
    display: block;
    width: 85%;
    max-width: 480px;
    margin-right: auto;
    margin-left: auto;
  }
  .h4 {
    display: block;
    width: 85%;
    max-width: 480px;
    margin-right: auto;
    margin-bottom: 30px;
    margin-left: auto;
    font-size: 28px;
    line-height: 50px;
    text-align: left;
  }
  .h4.pricingh4 {
    display: block;
    width: 85%;
    max-width: 480px;
    margin-right: auto;
    margin-left: auto;
  }
  .pwhite {
    width: 85%;
    max-width: 480px;
    font-size: 18px;
    line-height: 35px;
    font-weight: 300;
    text-align: left;
  }
  .buttons {
    width: 100%;
    margin-top: 0px;
    margin-bottom: 50px;
    padding-top: 0px;
  }
  .buttons.buttonpaddingleft {
    display: block;
    width: 85%;
    max-width: 480px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 0px;
  }
  .pricing {
    width: 100%;
    margin-bottom: 64px;
    padding-right: 0px;
    padding-left: 0px;
  }
  .testimonials {
    margin-top: 0px;
    padding-right: 0px;
    padding-bottom: 50px;
    padding-left: 0px;
  }
  .ppricing {
    display: block;
    width: 85%;
    max-width: 480px;
    margin-right: auto;
    margin-left: auto;
    font-size: 20px;
    line-height: 36px;
    text-align: left;
  }
  .pricingleft {
    padding-right: 0px;
    padding-left: 0px;
  }
  .pricingrighttitle {
    display: block;
    width: 85%;
    max-width: 480px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 0px;
    text-align: left;
  }
  .pricinglist {
    display: block;
    width: 90%;
    max-width: 480px;
    margin-right: auto;
    margin-left: auto;
    text-align: left;
  }
  .pricinglistitem {
    padding-left: 30px;
    background-image: url('../images/bullet.png');
    background-position: 0px 50%;
    background-size: 8px;
    background-repeat: no-repeat;
    background-attachment: scroll;
    text-align: left;
  }
  .feature {
    padding: 0px;
  }
  .feature.featuremiddlemobile {
    padding-top: 0px;
  }
  .featureright {
    margin-bottom: 0px;
  }
  .featuretttle {
    display: block;
    width: 85%;
    max-width: 480px;
    margin-right: auto;
    margin-left: auto;
    font-size: 28px;
    line-height: 50px;
    text-align: left;
  }
  .featurep {
    display: block;
    width: 85%;
    max-width: 480px;
    margin-right: auto;
    margin-bottom: 30px;
    margin-left: auto;
    font-size: 18px;
    line-height: 35px;
    font-weight: 400;
    text-align: left;
  }
  .featurep.featurepleft {
    width: 85%;
  }
  .buttonsfeatureright {
    width: 100%;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
  }
  .buttonsfeatureleft {
    width: 100%;
    margin-bottom: 0px;
    margin-left: 0px;
  }
  .testimonial {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 85%;
    max-width: 480px;
    margin-top: 46px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .testimonial.testimonialreverse {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
    text-align: center;
  }
  .testimonialright {
    width: 100%;
    padding-left: 0px;
    float: none;
  }
  .testimonialleft {
    display: block;
    width: 100%;
    float: none;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    text-align: center;
  }
  .testimonialtext {
    width: 100%;
    font-size: 18px;
    line-height: 34px;
    text-align: center;
  }
  .testimonialname {
    text-align: center;
  }
  .testimonialavatar {
    display: block;
    width: 180px;
    height: 180px;
    margin-right: auto;
    margin-bottom: 20px;
    margin-left: auto;
    border-width: 20px;
    text-align: center;
  }
  .sourcedh4 {
    width: 100%;
    margin-right: 0px;
    margin-left: 0px;
    font-size: 28px;
    line-height: 50px;
    text-align: left;
  }
  .sourcedp {
    width: 100%;
    margin-right: 0px;
    margin-left: 0px;
    font-size: 18px;
    line-height: 35px;
    text-align: left;
  }
  .pwhitespan {
    font-size: 19px;
    line-height: 36px;
    font-weight: 600;
  }
  .testimonialleftreverse {
    width: 100%;
    margin-top: 0px;
  }
  .testimonialrightreverse {
    width: 100%;
    margin-top: 0px;
    text-align: center;
  }
  .buttonsmobile {
    width: 85%;
    max-width: 480px;
    margin-top: 30px;
    margin-bottom: 0px;
    text-align: center;
  }
  .buttonsfooter {
    display: block;
    width: 85%;
    max-width: 480px;
    margin-right: auto;
    margin-left: auto;
  }
  .backgroundfooter {
    min-height: 357px;
  }
  .footerinfo {
    padding-top: 70px;
    padding-bottom: 70px;
    text-align: center;
  }
  .footerp {
    width: 85%;
    max-width: 480px;
    font-size: 18px;
    line-height: 34px;
    text-align: left;
  }
  .logosourced {
    display: block;
    margin-right: 0px;
    margin-left: 0px;
  }
  .mainanimation {
    width: 80%;
    min-height: 300px;
  }
  .logocontainer {
    display: block;
    width: 85%;
    max-width: 480px;
    margin-right: auto;
    margin-left: auto;
  }
  .developers {
    position: relative;
    width: 100%;
  }
}

@media (max-width: 479px) {
  .introleft {
    position: relative;
    display: block;
    -webkit-align-self: flex-start;
    -ms-flex-item-align: start;
    align-self: flex-start;
    background-color: transparent;
  }
  .introright {
    position: static;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-top: 0px;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self: center;
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
  }
  .introh1 {
    font-size: 32px;
    line-height: 59px;
    font-weight: 300;
  }
  .introh2 {
    font-size: 17px;
  }
  .introh1span {
    display: inline;
    font-weight: 600;
  }
  .buttonpricing.buttonpricingsmall.buttonbottom {
    display: block;
    width: 100%;
    max-width: 200px;
    margin-right: 0px;
    margin-left: 0px;
    float: none;
  }
  .buttonpricing.buttonpricingsmall.buttonbottom.buttonbottomlong {
    display: block;
    width: 100%;
    max-width: 200px;
    margin-right: 0px;
    margin-left: 0px;
  }
  .developer {
    width: 20%;
    opacity: 1;
    -webkit-perspective: 983px;
    perspective: 983px;
  }
  .overlay {
    left: 0px;
    top: 0px;
    display: block;
    height: 100%;
  }
  .pricinglistitem {
    padding-left: 35px;
    background-position: 10px 25%;
  }
  .featurep {
    font-weight: 400;
  }
  .buttonsfooter {
    width: 85%;
    max-width: 480px;
  }
  .backgroundfooter {
    min-height: 239px;
    background-position: 50% 29%;
    background-size: contain;
    background-attachment: scroll;
  }
  .footerslogan {
    width: 100%;
    max-width: 340px;
  }
  .footerinfo {
    padding-right: 0px;
    padding-left: 0px;
  }
  .footerp {
    font-size: 18px;
  }
}

