{{ $teams := $.Site.Data.teams }}

{{ $headCtx := dict "ctx" . }}
{{ partial "head.html" $headCtx }}

<body class="projects-page">
    {{ partial "header.html" }}

    <div class="pb-5">
        <h1 class="title p-0 mt-5 text-left mb-4">An exceptional mission executed by exceptional people</h1>
        <a class="btn btn-purple-light mr-4 mb-3 mb-sm-5" href="company#careers">Job Opportunities</a>
        <a class="btn btn-purple-light mb-3 mb-sm-5" href="company#team">Our Team</a>
    </div>
</div>
</header>

<section id="roadmap" class="pt-5 pb-5">
<div class="container">
    <div class="row">
        <div class="col-md-7">
            <h2 class="title-line text-dark line-yellow">Roadmap</h2>
            <p class="text-large text-dark">source{d} is building the technology stack for machine learning on source code (MLonCode). We allow code to become a first-class analyzable asset across tens of millions of repositories as well as a single one through our powerful source{d} Engine and machine learning tools.</p>
            <p>With access to every open source and public git repository online today, developers and organizations can understand their code as part of the complex set of dependencies it really is. We envision every organization running a data pipeline over their software development life cycle, where source code becomes a unique, actionable dataset that can be analyzed and used in machine learning models.</p>
            <p>These are the building blocks for the next generation of new and impactful developer tools & systems that will change the way we learn programming as well as how we write & review code.</p>
        </div>
        <div class="col-md-5 text-center">
            <img src="img/icons/roadmap.svg" width="350" height="350" alt="">
        </div>
    </div>
</div>
</section>

<section id="careers" class="light py-5">
<div class="container">
    <header class="text-center mb-5">
        <p class="subtitle text-yellow">Careers</p>
        <h2 class="text-dark mb-4">Job Opportunities</h2>
        <p class="text-large text-dark">Exceptional missions require exceptional people; we know that.<br>
            If our challenges excite you and you want to help us to pave the future road towards machine learning on source code, check where you fit best from our current openings or drop us a message.</p>
    </header>
</div>
<div id="offices" class="container mb-5">
    <div class="text-center">
        <h3 class="title-line text-dark line-yellow">Our Offices</h3>
    </div>
    <div class="row">
        <div class="col-md mb-3 mb-md-0">
            <div class="card text-white green h-100">
                <div class="card-body p-5" style="cursor:pointer;" onclick="location.href='https://goo.gl/maps/hiGELMSymtN2';">
                    <h3 class="title-line line-yellow">San Francisco</h3>
                    <p>Address: 972 Mission St, San Francisco, CA 94103, USA</p>
                </div>
            </div>
        </div>
        <div class="col-md">
            <div class="card text-white orange h-100">
                <div class="card-body p-5" style="cursor:pointer;" onclick="location.href='https://goo.gl/maps/N7LTBzyAGmJ2';">
                    <h3 class="title-line line-yellow">Madrid</h3>
                    <p>Address: Calle de Claudio Coello, 16, 28001 Madrid, Spain</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container text-center">
    <div class="col-md-10 offset-md-1 mb-5">
        <h3 class="text-dark title-line line-yellow">Worldwide Opportunities</h3>
        <p class="text-large">At source{d} we believe that amazing talent should not be constrained by physical barriers. Our multinational and multicultural team shares a culture of openness and excellence and passion for programming.</p>
        <p class="text-large">Want to join us in one of our offices? We will do our best to help you get a visa and settle down. You prefer to work remotely? No problem, we provide the best experience for remote workers.</p>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h3 class="text-dark title-line line-yellow">Current Openings</h3>
        </div>
        <div class="col-md-6 col-lg-4 mb-4">
            <div class="card text-white orange h-100">
                <div class="card-body p-5">
                    <p class="card-intro">Engineering</p>
                    <h3 class="title-line line-yellow">Senior Product Manager</h3>
                    <p>San Francisco, California / Remote<br>Full Time</p>
                    <a href="https://jobs.lever.co/sourced/616e7967-342d-4774-91d6-c6edd8891297" class="btn btn-secondary-light w-100">View and Apply</a>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-4 mb-4">
            <div class="card text-white orange h-100">
                <div class="card-body p-5">
                    <p class="card-intro">Engineering</p>
                    <h3 class="title-line line-yellow">Senior Test Engineer</h3>
                    <p>Madrid, Spain / Remote <br>Full Time</p>
                    <a href="https://jobs.lever.co/sourced/8e4c4c54-096a-4050-9882-6ae1ca71d8a0" class="btn btn-secondary-light w-100">View and Apply</a>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-4 mb-4">
            <div class="card text-white orange h-100">
                <div class="card-body p-5">
                    <p class="card-intro">Engineering</p>
                    <h3 class="title-line line-yellow">Lead Software Engineer Applications Team</h3>
                    <p>Madrid, Spain / Remote <br>Full Time</p>
                    <a href="https://jobs.lever.co/sourced/5b7d11dd-03ce-4d61-a00a-ff91ae1ec270" class="btn btn-secondary-light w-100">View and Apply</a>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-4 mb-4">
            <div class="card text-white orange h-100">
                <div class="card-body p-5">
                    <p class="card-intro">Engineering</p>
                    <h3 class="title-line line-yellow">Senior Software Engineer Applications Team</h3>
                    <p>Madrid, Spain / Remote <br>Full Time</p>
                    <a href="https://jobs.lever.co/sourced/38461466-b253-4d85-a1bf-caafb85f52e7" class="btn btn-secondary-light w-100">View and Apply</a>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-4 mb-4">
            <div class="card text-white orange h-100">
                <div class="card-body p-5">
                    <p class="card-intro">Engineering</p>
                    <h3 class="title-line line-yellow">Senior Software Engineer Applications Team</h3>
                    <p>San Francisco, California / Remote <br>Full Time</p>
                    <a href="https://jobs.lever.co/sourced/7b2d3250-9fc8-4d96-b5b0-dd068ab0807d" class="btn btn-secondary-light w-100">View and Apply</a>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-4 mb-4">
            <div class="card text-white orange h-100">
                <div class="card-body p-5">
                    <p class="card-intro">Engineering</p>
                    <h3 class="title-line line-yellow">Software Engineer Data Retrieval Team</h3>
                    <p>Madrid, Spain / Remote <br>Full Time</p>
                    <a href="https://jobs.lever.co/sourced/0b200e00-7798-4aa1-a046-a216a9144ded" class="btn btn-secondary-light w-100">View and Apply</a>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-4 mb-4">
            <div class="card text-white orange h-100">
                <div class="card-body p-5">
                    <p class="card-intro">Engineering</p>
                    <h3 class="title-line line-yellow">Software Engineer Infrastructure Team</h3>
                    <p>Madrid, Spain / Remote <br>Full Time</p>
                    <a href="https://jobs.lever.co/sourced/5c647b9c-bca6-427e-90e9-f5192acc134a" class="btn btn-secondary-light w-100">View and Apply</a>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-4 mb-4">
            <div class="card text-white orange h-100">
                <div class="card-body p-5">
                    <p class="card-intro">Engineering</p>
                    <h3 class="title-line line-yellow">Software Engineer Language Analysis Team</h3>
                    <p>Madrid, Spain / Remote <br>Full Time</p>
                    <a href="https://jobs.lever.co/sourced/bc9d4837-2966-40f3-8df9-6c6f78ee1636" class="btn btn-secondary-light w-100">View and Apply</a>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-4 mb-4">
            <div class="card text-white orange h-100">
                <div class="card-body p-5">
                    <p class="card-intro">Engineering</p>
                    <h3 class="title-line line-yellow">Software Engineer Machine Learning Team</h3>
                    <p>Madrid, Spain / Remote <br>Full Time</p>
                    <a href="https://jobs.lever.co/sourced/b2d47c0b-9a05-4f09-b212-b89d61f773bb" class="btn btn-secondary-light w-100">View and Apply</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container mt-5 text-center">
    <p class="text-large text-dark col-md-8 offset-md-2 mb-4">Have you looked for your dream role but could not find it? Want to do something different? Drop us a line, we are eager to hear from you.</p>
    <div class="col-md-8 offset-md-2 col-lg-4 offset-lg-4">
        <div class="card blue text-white">
            <div class="card-body">
                <h4 class="m-0" style="cursor:pointer;" onclick="location.href='mailto:talent@sourced.tech';">talent@sourced.tech</h4>
            </div>
        </div>
        <p class="mt-4"><a href="https://keybase.io/sourced">Looking for our PGP key?</a></p>
    </div>
</div>
</section>

<section id="perks" class="pt-5 pb-5">
<div class="container">
    <div class="row">
        <div class="col-md-12 mb-4 text-center">
            <h2 class="text-dark title-line line-yellow">Perks and Benefits</h2>
        </div>
        <div class="col-md-6">
            <ul class="main-list">
                <li>Get to know us, check our <a href="https://github.com/src-d/guide" title="source{d} guide">source{d} guide</a>.</li>
                <li>Our team will assist you during the whole visa process for you and your family.</li>
                <li>Our people dedicate 10% of their work time to Open Source Days, contributing to any open source project they wish.</li>
                <li>We offer flexible hours to our people as the possibility of remote work.</li>
                <li>We buy you any books that can help you be even better at your work.</li>
                <li>Our “by developers” training helps every one of us get up to speed.</li>
            </ul>
        </div>
        <div class="col-md-6">
            <ul class="main-list">
                <li>source{d} hosts quarterly Tech Talks, as well as 3rd-party talks at the office.</li>
                <li>A nice and spacious physical office, close to public transit and to the Retiro park.</li>
                <li>Our kitchen is full of supplies, from beer and sodas to juicy fresh fruit.</li>
                <li>Video games (vintage and new!) and a fancy Virtual Reality kit.</li>
                <li>Our team celebrates monthly get-togethers, annual summer and winter parties, as well as a retreat.</li>
                <li>We brew our own open source craft beer!</li>
            </ul>
        </div>
    </div>

    <div class="row mt-2">
        <div class="col-md-3">
            <img class="mb-3 mb-md-0 w-100" src="img/office/office1.jpg" alt="" class="w-100">
        </div>
        <div class="col-md-3">
            <img class="mb-3 mb-md-0 w-100" src="img/office/office2.jpg" alt="" class="w-100">
        </div>
        <div class="col-md-3">
            <img class="mb-3 mb-md-0 w-100" src="img/office/office3.jpg" alt="" class="w-100">
        </div>
        <div class="col-md-3">
            <img class="mb-3 mb-md-0 w-100" src="img/office/office4.jpg" alt="" class="w-100">
        </div>
    </div>
</div>
</section>

<section id="team" class="team pt-5 pb-5">
    <div class="container text-center mb-5">
        <h2 class="title-line text-dark line-yellow">Team</h2>
        <p class="text-dark text-large">At source{d} we are all engineers, developers and hackers ourselves. We go as far as to train and encourage all non-technical roles to also become developers themselves.</p>
    </div>
    <div class="container">
        {{ $teamsCtx := dict "teams" $teams }}
        {{ partial "teams.html" $teamsCtx }}
    </div>
</section>

{{ partial "try-sourced.html" }}

{{ partial "footer.html" }}
</body>
</html>
