{{ $projects := $.Site.Data.projects }}
{{ $headerCtx := dict "ctx" . "secondary_nav" "projects/nav.html" }}
{{ $heroCtx := dict "ctx" . "data" $projects }}
{{ $footerCtx := dict "ctx" . "include_slack" true "include_email" true }}
{{ $blog := $.Site.Data.blog }}
{{ $slack := $.Site.Data.slack }}
{{ $categories := $.Site.Data.categories }}
{{ $projectsCtx := dict "slack" $slack "categories" $categories }}

{{ $headCtx := dict "ctx" . }}
{{ partial "head.html" $headCtx }}

<body class="projects-page">
    {{ partial "header.html" $headerCtx }}

    <div class="pb-5">
        <h1 class="title p-0 mt-5 text-left mb-4">An exceptional mission executed by exceptional people</h1>
        <a class="btn btn-purple-light mr-4 mb-3 mb-sm-5" href="company#careers">Job Opportunities</a>
        <a class="btn btn-purple-light mb-3 mb-sm-5" href="company#team">Our Team</a>
    </div>
</div>
</header>

<section id="roadmap" class="pt-5 pb-5">
<div class="container">
    <div class="row">
        <div class="col-md-7">
            <h2 class="title-line text-dark line-yellow">Roadmap</h2>
            <p class="text-large text-dark">source{d} is building the technology stack for machine learning on source code (MLonCode). We allow code to become a first-class analyzable asset across tens of millions of repositories as well as a single one through our powerful source{d} Engine and machine learning tools.</p>
            <p>With access to every open source and public git repository online today, developers and organizations can understand their code as part of the complex set of dependencies it really is. We envision every organization running a data pipeline over their software development life cycle, where source code becomes a unique, actionable dataset that can be analyzed and used in machine learning models.</p>
            <p>These are the building blocks for the next generation of new and impactful developer tools & systems that will change the way we learn programming as well as how we write & review code.</p>
        </div>
        <div class="col-md-5 text-center">
            <img src="assets/icons/roadmap.svg" width="350" height="350" alt="">
        </div>
    </div>
</div>
</section>

<section id="careers" class="light py-5">
<div class="container">
    <header class="text-center mb-5">
        <p class="subtitle text-yellow">Careers</p>
        <h2 class="text-dark mb-4">Job Opportunities</h2>
        <p class="text-large text-dark">Exceptional missions require exceptional people; we know that.<br>
            If our challenges excite you and you want to help us to pave the future road towards machine learning on source code, check where you fit best from our current openings or drop us a message.</p>
    </header>
</div>
<div id="offices" class="container mb-5">
    <div class="text-center">
        <h3 class="title-line text-dark line-yellow">Our Offices</h3>
    </div>
    <div class="row">
        <div class="col-md mb-3 mb-md-0">
            <div class="card text-white green h-100">
                <div class="card-body p-5" style="cursor:pointer;" onclick="location.href='https://goo.gl/maps/hiGELMSymtN2';">
                    <h3 class="title-line line-yellow">San Francisco</h3>
                    <p>Address: 972 Mission St, San Francisco, CA 94103, USA</p>
                </div>
            </div>
        </div>
        <div class="col-md">
            <div class="card text-white orange h-100">
                <div class="card-body p-5" style="cursor:pointer;" onclick="location.href='https://goo.gl/maps/N7LTBzyAGmJ2';">
                    <h3 class="title-line line-yellow">Madrid</h3>
                    <p>Address: Calle de Claudio Coello, 16, 28001 Madrid, Spain</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container text-center">
    <div class="col-md-10 offset-md-1 mb-5">
        <h3 class="text-dark title-line line-yellow">Worldwide Opportunities</h3>
        <p class="text-large">At source{d} we believe that amazing talent should not be constrained by physical barriers. Our multinational and multicultural team shares a culture of openness and excellence and passion for programming.</p>
        <p class="text-large">Want to join us in one of our offices? We will do our best to help you get a visa and settle down. You prefer to work remotely? No problem, we provide the best experience for remote workers.</p>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h3 class="text-dark title-line line-yellow">Current Openings</h3>
        </div>
        <div class="col-md-6 col-lg-4 mb-4">
            <div class="card text-white orange h-100">
                <div class="card-body p-5">
                    <p class="card-intro">Engineering</p>
                    <h3 class="title-line line-yellow">Senior Product Manager</h3>
                    <p>San Francisco, California / Remote<br>Full Time</p>
                    <a href="https://jobs.lever.co/sourced/616e7967-342d-4774-91d6-c6edd8891297" class="btn btn-secondary-light w-100">View and Apply</a>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-4 mb-4">
            <div class="card text-white orange h-100">
                <div class="card-body p-5">
                    <p class="card-intro">Engineering</p>
                    <h3 class="title-line line-yellow">Senior Software Engineer Applications Team</h3>
                    <p>Madrid, Spain / Remote <br>Full Time</p>
                    <a href="https://jobs.lever.co/sourced/38461466-b253-4d85-a1bf-caafb85f52e7" class="btn btn-secondary-light w-100">View and Apply</a>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-4 mb-4">
            <div class="card text-white orange h-100">
                <div class="card-body p-5">
                    <p class="card-intro">Engineering</p>
                    <h3 class="title-line line-yellow">Senior Software Engineer Applications Team</h3>
                    <p>San Francisco, California / Remote <br>Full Time</p>
                    <a href="https://jobs.lever.co/sourced/7b2d3250-9fc8-4d96-b5b0-dd068ab0807d" class="btn btn-secondary-light w-100">View and Apply</a>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-4 mb-4">
            <div class="card text-white orange h-100">
                <div class="card-body p-5">
                    <p class="card-intro">Engineering</p>
                    <h3 class="title-line line-yellow">Software Engineer Data Retrieval Team</h3>
                    <p>Madrid, Spain / Remote <br>Full Time</p>
                    <a href="https://jobs.lever.co/sourced/0b200e00-7798-4aa1-a046-a216a9144ded" class="btn btn-secondary-light w-100">View and Apply</a>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-4 mb-4">
            <div class="card text-white orange h-100">
                <div class="card-body p-5">
                    <p class="card-intro">Engineering</p>
                    <h3 class="title-line line-yellow">Software Engineer Infrastructure Team</h3>
                    <p>Madrid, Spain / Remote <br>Full Time</p>
                    <a href="https://jobs.lever.co/sourced/5c647b9c-bca6-427e-90e9-f5192acc134a" class="btn btn-secondary-light w-100">View and Apply</a>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-4 mb-4">
            <div class="card text-white orange h-100">
                <div class="card-body p-5">
                    <p class="card-intro">Engineering</p>
                    <h3 class="title-line line-yellow">Software Engineer Language Analysis Team</h3>
                    <p>Madrid, Spain / Remote <br>Full Time</p>
                    <a href="https://jobs.lever.co/sourced/bc9d4837-2966-40f3-8df9-6c6f78ee1636" class="btn btn-secondary-light w-100">View and Apply</a>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-4 mb-4">
            <div class="card text-white orange h-100">
                <div class="card-body p-5">
                    <p class="card-intro">Engineering</p>
                    <h3 class="title-line line-yellow">Software Engineer Machine Learning Team</h3>
                    <p>Madrid, Spain / Remote <br>Full Time</p>
                    <a href="https://jobs.lever.co/sourced/b2d47c0b-9a05-4f09-b212-b89d61f773bb" class="btn btn-secondary-light w-100">View and Apply</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container mt-5 text-center">
    <p class="text-large text-dark col-md-8 offset-md-2 mb-4">Have you looked for your dream role but could not find it? Want to do something different? Drop us a line, we are eager to hear from you.</p>
    <div class="col-md-8 offset-md-2 col-lg-4 offset-lg-4">
        <div class="card blue text-white">
            <div class="card-body">
                <h4 class="m-0" style="cursor:pointer;" onclick="location.href='mailto:talent@sourced.tech';">talent@sourced.tech</h4>
            </div>
        </div>
        <p class="mt-4"><a href="https://keybase.io/sourced">Looking for our PGP key?</a></p>
    </div>
</div>
</section>

<section id="perks" class="pt-5 pb-5">
<div class="container">
    <div class="row">
        <div class="col-md-12 mb-4 text-center">
            <h2 class="text-dark title-line line-yellow">Perks and Benefits</h2>
        </div>
        <div class="col-md-6">
            <ul class="main-list">
                <li>Get to know us, check our <a href="https://github.com/src-d/guide" title="source{d} guide">source{d} guide</a>.</li>
                <li>Our team will assist you during the whole visa process for you and your family.</li>
                <li>Our people dedicate 10% of their work time to Open Source Days, contributing to any open source project they wish.</li>
                <li>We offer flexible hours to our people as the possibility of remote work.</li>
                <li>We buy you any books that can help you be even better at your work.</li>
                <li>Our “by developers” training helps every one of us get up to speed.</li>
            </ul>
        </div>
        <div class="col-md-6">
            <ul class="main-list">
                <li>source{d} hosts quarterly Tech Talks, as well as 3rd-party talks at the office.</li>
                <li>A nice and spacious physical office, close to public transit and to the Retiro park.</li>
                <li>Our kitchen is full of supplies, from beer and sodas to juicy fresh fruit.</li>
                <li>Video games (vintage and new!) and a fancy Virtual Reality kit.</li>
                <li>Our team celebrates monthly get-togethers, annual summer and winter parties, as well as a retreat.</li>
                <li>We brew our own open source craft beer!</li>
            </ul>
        </div>
    </div>

    <div class="row mt-2">
        <div class="col-md-3">
            <img class="mb-3 mb-md-0 w-100" src="assets/img/office/office1.jpg" alt="" class="w-100">
        </div>
        <div class="col-md-3">
            <img class="mb-3 mb-md-0 w-100" src="assets/img/office/office2.jpg" alt="" class="w-100">
        </div>
        <div class="col-md-3">
            <img class="mb-3 mb-md-0 w-100" src="assets/img/office/office3.jpg" alt="" class="w-100">
        </div>
        <div class="col-md-3">
            <img class="mb-3 mb-md-0 w-100" src="assets/img/office/office4.jpg" alt="" class="w-100">
        </div>
    </div>
</div>
</section>

<section id="team" class="team pt-5 pb-5">
    <div class="container text-center mb-5">
        <h2 class="title-line text-dark line-yellow">Team</h2>
        <p class="text-dark text-large">At source{d} we are all engineers, developers and hackers ourselves. We go as far as to train and encourage all non-technical roles to also become developers themselves.</p>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h3 class="title-line text-dark line-yellow">Engineering</h3>
                <p class="mb-5">The core of everything we do, from the beginning to the end; writing great software</p>
            </div>
            <div class="col-sm-6 col-lg-3 mb-4">
                <div class="card white">
                    <img class="w-100" src="assets/img/team/santiago.png" alt="">
                    <div class="card-body">
                        <a href="https://github.com/smola" class="ic icon-git text-light"></a>
                        <p class="card-intro text-medium mt-3 mb-2">Head of Architecture</p>
                        <h4 class="text-dark title-line line-yellow">Santiago Mola</h4>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3 mb-4">
                <div class="card white">
                    <img class="w-100" src="assets/img/team/alex.png" alt="">
                    <div class="card-body">
                        <a href="https://github.com/bzz" class="ic icon-git text-light"></a>
                        <p class="card-intro text-medium mt-3 mb-2">Lead Software Engineer</p>
                        <h4 class="text-dark title-line line-yellow">Alexander Bezzubov</h4>
                        <span class="text-medium">Applications Team</span>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3 mb-4">
                <div class="card white">
                    <img class="w-100" src="assets/img/team/carlos.png" alt="">
                    <div class="card-body">
                        <a href="https://github.com/carlosms" class="ic icon-git text-light"></a>
                        <p class="card-intro text-medium mt-3 mb-2">Senior Software Engineer</p>
                        <h4 class="text-dark title-line line-yellow">Carlos Martín</h4>
                        <span class="text-medium">Applications Team</span>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3 mb-4">
                <div class="card white">
                    <img class="w-100" src="assets/img/team/maxim.png" alt="">
                    <div class="card-body">
                        <a href="https://github.com/smacker" class="ic icon-git text-light"></a>
                        <p class="card-intro text-medium mt-3 mb-2">Senior Software Engineer</p>
                        <h4 class="text-dark title-line line-yellow">Maxim Sukharev</h4>
                        <span class="text-medium">Applications Team</span>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3 mb-4">
                <div class="card white">
                    <img class="w-100" src="assets/img/team/david.png" alt="">
                    <div class="card-body">
                        <a href="https://github.com/dpordomingo" class="ic icon-git text-light"></a>
                        <p class="card-intro text-medium mt-3 mb-2">Software Engineer</p>
                        <h4 class="text-dark title-line line-yellow">David Pordomingo</h4>
                        <span class="text-medium">Applications Team</span>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3 mb-4">
                <div class="card white">
                    <img class="w-100" src="assets/img/team/antonio.png" alt="">
                    <div class="card-body">
                        <a href="https://github.com/ajnavarro" class="ic icon-git text-light"></a>
                        <p class="card-intro text-medium mt-3 mb-2">Lead Software Engineer</p>
                        <h4 class="text-dark title-line line-yellow">Antonio Navarro</h4>
                        <span class="text-medium">Data Retrieval Team</span>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3 mb-4">
                <div class="card white">
                    <img class="w-100" src="assets/img/team/javi.png" alt="">
                    <div class="card-body">
                        <a href="https://github.com/jfontan" class="ic icon-git text-light"></a>
                        <p class="card-intro text-medium mt-3 mb-2">Senior Software Engineer</p>
                        <h4 class="text-dark title-line line-yellow">Javier Fontán</h4>
                        <span class="text-medium">Data Retrieval Team</span>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3 mb-4">
                <div class="card white">
                    <img class="w-100" src="assets/img/team/kuba.png" alt="">
                    <div class="card-body">
                        <a href="https://github.com/kuba--" class="ic icon-git text-light"></a>
                        <p class="card-intro text-medium mt-3 mb-2">Senior Software Engineer</p>
                        <h4 class="text-dark title-line line-yellow">Kuba Podgórski</h4>
                        <span class="text-medium">Data Retrieval Team</span>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3 mb-4">
                <div class="card white">
                    <img class="w-100" src="assets/img/team/miguel.png" alt="">
                    <div class="card-body">
                        <a href="https://github.com/erizocosmico" class="ic icon-git text-light"></a>
                        <p class="card-intro text-medium mt-3 mb-2">Senior Software Engineer</p>
                        <h4 class="text-dark title-line line-yellow">Miguel Molina</h4>
                        <span class="text-medium">Data Retrieval Team</span>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3 mb-4">
                    <div class="card white">
                        <img class="w-100" src="assets/img/team/manuel.png" alt="">
                        <div class="card-body">
                            <a href="https://github.com/mcarmonaa" class="ic icon-git text-light"></a>
                            <p class="card-intro text-medium mt-3 mb-2">Junior Software Engineer</p>
                            <h4 class="text-dark title-line line-yellow">Manuel Carmona</h4>
                            <span class="text-medium">Data Retrieval Team</span>
                        </div>
                    </div>
                </div>
            <div class="col-sm-6 col-lg-3 mb-4">
                <div class="card white">
                    <img class="w-100" src="assets/img/team/rafa.png" alt="">
                    <div class="card-body">
                        <a href="https://github.com/rporres" class="ic icon-git text-light"></a>
                        <p class="card-intro text-medium mt-3 mb-2">Lead Infrastructure Engineer</p>
                        <h4 class="text-dark title-line line-yellow">Rafael Porres</h4>
                        <span class="text-medium">Infraestructure Team</span>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3 mb-4">
                    <div class="card white">
                        <img class="w-100" src="assets/img/team/placeholder-female.png" alt="">
                        <div class="card-body">
                            <a href="https://github.com/meyskens" class="ic icon-git text-light"></a>
                            <p class="card-intro text-medium mt-3 mb-2">Infrastructure Software Engineer</p>
                            <h4 class="text-dark title-line line-yellow">Maartje Eyskens</h4>
                            <span class="text-medium">Infraestructure Team</span>
                        </div>
                    </div>
                </div>
            <div class="col-sm-6 col-lg-3 mb-4">
                <div class="card white">
                    <img class="w-100" src="assets/img/team/denys.png" alt="">
                    <div class="card-body">
                        <a href="https://github.com/dennwc" class="ic icon-git text-light"></a>
                        <p class="card-intro text-medium mt-3 mb-2">Senior Software Engineer</p>
                        <h4 class="text-dark title-line line-yellow">Denys Smirnov</h4>
                        <span class="text-medium">Language Analysis Team</span>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3 mb-4">
                <div class="card white">
                    <img class="w-100" src="assets/img/team/juanjo.png" alt="">
                    <div class="card-body">
                        <a href="https://github.com/juanjux" class="ic icon-git text-light"></a>
                        <p class="card-intro text-medium mt-3 mb-2">Senior Software Engineer</p>
                        <h4 class="text-dark title-line line-yellow">Juanjo Álvarez</h4>
                        <span class="text-medium">Language Analysis Team</span>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3 mb-4">
                <div class="card white">
                    <img class="w-100" src="assets/img/team/vadim.png" alt="">
                    <div class="card-body">
                        <a href="https://github.com/vmarkovtsev" class="ic icon-git text-light"></a>
                        <p class="card-intro text-medium mt-3 mb-2">Lead Software Engineer</p>
                        <h4 class="text-dark title-line line-yellow">Vadim Markovtsev</h4>
                        <span class="text-medium">Machine Learning Team</span>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3 mb-4">
                <div class="card white">
                    <img class="w-100" src="assets/img/team/egor.png" alt="">
                    <div class="card-body">
                        <a href="https://github.com/EgorBu" class="ic icon-git text-light"></a>
                        <p class="card-intro text-medium mt-3 mb-2">Senior Software Engineer</p>
                        <h4 class="text-dark title-line line-yellow">Egor Bulychev</h4>
                        <span class="text-medium">Machine Learning Team</span>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3 mb-4">
                    <div class="card white">
                        <img class="w-100" src="assets/img/team/hugo.png" alt="">
                        <div class="card-body">
                            <a href="https://github.com/m09" class="ic icon-git text-light"></a>
                            <p class="card-intro text-medium mt-3 mb-2">Senior Software Engineer</p>
                            <h4 class="text-dark title-line line-yellow">Hugo Mougard</h4>
                            <span class="text-medium">Machine Learning Team</span>
                        </div>
                    </div>
                </div>
            <div class="col-sm-6 col-lg-3 mb-4">
                <div class="card white">
                    <img class="w-100" src="assets/img/team/konstantin.png" alt="">
                    <div class="card-body">
                        <a href="https://github.com/zurk" class="ic icon-git text-light"></a>
                        <p class="card-intro text-medium mt-3 mb-2">Junior Software Engineer</p>
                        <h4 class="text-dark title-line line-yellow">Konstantin Slavnov</h4>
                        <span class="text-medium">Machine Learning Team</span>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3 mb-4">
                <div class="card white">
                    <img class="w-100" src="assets/img/team/waren.png" alt="">
                    <div class="card-body">
                        <a href="https://github.com/warenlg" class="ic icon-git text-light"></a>
                        <p class="card-intro text-medium mt-3 mb-2">Junior Software Engineer</p>
                        <h4 class="text-dark title-line line-yellow">Waren Long</h4>
                        <span class="text-medium">Machine Learning Team</span>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3 mb-4">
                <div class="card white">
                    <img class="w-100" src="assets/img/team/irina.png" alt="">
                    <div class="card-body">
                        <a href="https://github.com/irinakhismatullina" class="ic icon-git text-light"></a>
                        <p class="card-intro text-medium mt-3 mb-2">Intern Software Engineer</p>
                        <h4 class="text-dark title-line line-yellow">Irina Khismatullina</h4>
                        <span class="text-medium">Machine Learning Team</span>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <h3 class="title-line text-dark line-yellow mt-5">Product & Data Intelligence</h3>
                <p class="mb-5">Translating our vision into amazing products & making smarter decisions with hard data</p>
            </div>
            <div class="col-sm-6 col-lg-3 mb-4">
                <div class="card white">
                    <img class="w-100" src="assets/img/team/marcelo.png" alt="">
                    <div class="card-body">
                        <a href="https://github.com/marnovo" class="ic icon-git text-light"></a>
                        <h4 class="text-dark title-line line-yellow mt-3">Marcelo Novaes</h4>
                        <span class="text-medium">Head of Product & Data Intelligence</span>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3 mb-4">
                <div class="card white">
                    <img class="w-100" src="assets/img/team/ricardo.png" alt="">
                    <div class="card-body">
                        <a href="https://www.linkedin.com/in/ricardobaeta" class="ic icon-lin text-light"></a>
                        <h4 class="text-dark title-line line-yellow mt-3">Ricardo Baeta</h4>
                        <span class="text-medium">Product Design Lead</span>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3 mb-4">
                <div class="card white">
                    <img class="w-100" src="assets/img/team/fernanda.png" alt="">
                    <div class="card-body">
                        <a href="https://github.com/gomesfernanda" class="ic icon-git text-light"></a>
                        <h4 class="text-dark title-line line-yellow mt-3">Fernanda Gomes</h4>
                        <span class="text-medium">Data Intelligence Analyst</span>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                    <h3 class="title-line text-dark line-yellow mt-5">Developer Relations</h3>
                    <p class="mb-5">Bringing the community and source{d} close together</p>
                </div>
                <div class="col-sm-6 col-lg-3 mb-4">
                    <div class="card white">
                        <img class="w-100" src="assets/img/team/placeholder.png" alt="">
                        <div class="card-body">
                            <a href="https://www.linkedin.com/in/victorcoisne" class="ic icon-lin text-light"></a>
                            <h4 class="text-dark title-line line-yellow mt-3">Victor Coisne</h4>
                            <span class="text-medium">Head of Developer Community</span>
                        </div>
                    </div>
                </div>
            <div class="col-md-12">
                <h3 class="title-line text-dark line-yellow mt-5">Operations</h3>
                <p class="mb-5">Taking care of the team at source{d}</p>
            </div>
            <div class="col-sm-6 col-lg-3 mb-4">
                <div class="card white">
                    <img class="w-100" src="assets/img/team/esther.png" alt="">
                    <div class="card-body">
                        <a href="https://www.linkedin.com/in/esther-garc%C3%ADa-mart%C3%ADn-0331692b" class="ic icon-lin text-light"></a>
                        <h4 class="text-dark title-line line-yellow mt-3">Esther García</h4>
                        <span class="text-medium">Office Manager</span>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3 mb-4">
                <div class="card white">
                    <img class="w-100" src="assets/img/team/anna.png" alt="">
                    <div class="card-body">
                        <a href="https://github.com/tsolakoua" class="ic icon-git text-light"></a>
                        <h4 class="text-dark title-line line-yellow mt-3">Anna Tsolakou</h4>
                        <span class="text-medium">Talent Manager</span>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-12">
                <h3 class="title-line text-dark line-yellow mt-5">Management</h3>
                <p class="mb-5">Providing direction, the planning and the leadership to get there</p>
            </div>
            <div class="col-sm-6 col-lg-3 mb-4">
                <div class="card white">
                    <img class="w-100" src="assets/img/team/eiso.png" alt="">
                    <div class="card-body">
                        <a href="https://github.com/eiso" class="ic icon-git text-light"></a>
                        <h4 class="text-dark title-line line-yellow mt-3">Eiso Kant</h4>
                        <span class="text-medium">Co-founder and CEO</span>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3 mb-4">
                <div class="card white">
                    <img class="w-100" src="assets/img/team/jorge.png" alt="">
                    <div class="card-body">
                        <a href="https://www.linkedin.com/in/jorgeschnura" class="ic icon-lin text-light"></a>
                        <h4 class="text-dark title-line line-yellow mt-3">Jorge Schnura</h4>
                        <span class="text-medium">Co-founder and COO</span>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3 mb-4">
                <div class="card white">
                    <img class="w-100" src="assets/img/team/maximo.png" alt="">
                    <div class="card-body">
                        <a href="https://github.com/mcuadros" class="ic icon-git text-light"></a>
                        <h4 class="text-dark title-line line-yellow mt-3">Máximo Cuadros</h4>
                        <span class="text-medium">CTO</span>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3 mb-4">
                <div class="card white">
                    <img class="w-100" src="assets/img/team/francesc.png" alt="">
                    <div class="card-body">
                        <a href="https://github.com/campoy" class="ic icon-git text-light"></a>
                        <h4 class="text-dark title-line line-yellow mt-3">Francesc Campoy</h4>
                        <span class="text-medium">VP of Developer Relations</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{{ partial "try-sourced.html" }}

{{ partial "footer.html" $footerCtx }}
</body>
</html>
