{{ $page := "faq" }}
{{ partial "header.html" $page }}
<div class="faq-content-wrapper">
    <div class="faq">
        <div class="faq-chapters-block">
            <h4>FAQ SECTIONS</h4>

            <div class="faq-chapters">
                <div class="faq-chapters-item">
                    <h5>For developers</h5>

                    <div class="faq-chapters-item-link"><a href="#">Introducing</a></div>
                    <div class="faq-chapters-item-link"><a href="#">Sourcing</a></div>
                    <div class="faq-chapters-item-link"><a href="#">Matching</a></div>
                    <div class="faq-chapters-item-link"><a href="#">Process</a></div>
                </div>
            </div>
            <div class="faq-chapters">
                <div class="faq-chapters-item">
                    <h5>For companies</h5>

                    <div class="faq-chapters-item-link"><a href="#">Introducing</a></div>
                    <div class="faq-chapters-item-link"><a href="#">Sourcing</a></div>
                    <div class="faq-chapters-item-link"><a href="#">Matching</a></div>
                    <div class="faq-chapters-item-link"><a href="#">Process</a></div>
                    <div class="faq-chapters-item-link"><a href="#">Conditions</a></div>
                </div>
            </div>
        </div>
        <div class="faq-content">
            <div class="faq-content-section">
                <h2>For Developers</h2>
                <h4>Introducing</h4>

                <div class="quiestion-item">
                    <div class="question-item-q">
                        <span class="q active-q">What is Tyba?</span>

                        <p>Tyba is the company behind source{d}. It was started in 2011 in
                            Madrid, Spain.</p>
                    </div>
                </div>
                <div class="quiestion-item">
                    <div class="question-item-q">
                        <span class="q active-q">What is source{d}?</span>

                        <p>source{d} is a product by Tyba that analyses all open-source
                            repositories to match developers with job offers that actually match
                            them.</p>
                    </div>
                </div>
                <div class="quiestion-item">
                    <div class="question-item-q">
                        <span class="q active-q">How are you different from a recruiter?</span>

                        <p>Recruiters spam you with irrelevant offers because they are not able
                            to understand a developer profile. source{d} has been built by
                            developers for developers to contact you only with job opportunities
                            that match your skills and experience.</p>

                    </div>
                </div>
                <div class="quiestion-item">
                    <div class="question-item-q">
                        <span class="q active-q">Will it cost me anything?</span>

                        <p>No, we don't charge developers a dime.</p>
                    </div>
                </div>
                <h4>Sourcing</h4>

                <div class="quiestion-item">
                    <div class="question-item-q">
                        <span class="q active-q">How did you find me?</span>

                        <p>Our algorithm found you through your contributions to
                            open-source.</p>
                    </div>
                </div>
                <div class="quiestion-item">
                    <div class="question-item-q">
                        <span class="q active-q">How do you get my email?</span>

                        <p>You have a public email associated to your contributions to
                            open-source, which is where we got it from.</p>

                    </div>
                </div>
                <div class="quiestion-item">
                    <div class="question-item-q">
                        <span class="q">What do you know about me?</span>
                    </div>
                </div>
                <div class="quiestion-item">
                    <div class="question-item-q">
                        <span class="q">How can I avoid to be found?</span>
                    </div>
                </div>
                <div class="quiestion-item">
                    <div class="question-item-q">
                        <span class="q active-q">What do you do with my data?</span>

                        <p>We only use it internally for recruitment purposes. We never give it
                            to our clients nor anyone. We started this because we hate
                            recruiters who disrespect your inbox as much as you do, but we also
                            hate companies who use people's data in the wrong way as much as you
                            do.</p>

                    </div>
                </div>
                <h4>Matching</h4>

                <div class="quiestion-item">
                    <div class="question-item-q">
                        <span class="q">What criteria do you use in order to match me with an offer?</span>
                    </div>
                </div>
                <h4>Process</h4>

                <div class="quiestion-item">
                    <div class="question-item-q">
                        <span class="q">Is it legal for you to contact me?</span>
                    </div>
                </div>
                <div class="quiestion-item">
                    <div class="question-item-q">
                        <span class="q active-q">How does the process look like exactly?</span>

                        <p>Once we've matched you to one of our offers we contact you to know if
                            you'd be interested in the offer. If that would be the case we're
                            more than happy to provide as much information as you might need and
                            we will schedule a phone call to solve any other doubts and have a
                            quick discussion. Some clients also ask us to do a technical test.
                            After that, if we still consider you a good fit, we will send your
                            contact details and a summary of your profile to our client for him
                            to get in touch with you.</p>

                    </div>
                </div>
            </div>
            <div class="faq-content-section">
                <h2>For Companies</h2>
                <h4>Introducing</h4>

                <div class="quiestion-item">
                    <div class="question-item-q">
                        <span class="q active-q">What is Tyba?</span>

                        <p>Tyba is the company behind source{d}. It was started in 2011 in
                            Madrid, Spain.</p>
                    </div>
                </div>
                <div class="quiestion-item">
                    <div class="question-item-q">
                        <span class="q active-q">What is source{d}?</span>

                        <p>source{d} is a product by Tyba that analyses all open-source
                            repositories to match developers with job offers that actually match
                            them.</p>
                    </div>
                </div>
                <div class="quiestion-item">
                    <div class="question-item-q">
                        <span class="q">What is source{d}?</span>
                    </div>
                </div>
                <div class="quiestion-item">
                    <div class="question-item-q">
                        <span class="q">Why should I choose you over other recruiters?</span>
                    </div>
                </div>
                <h4>Sourcing</h4>

                <div class="quiestion-item">
                    <div class="question-item-q">
                        <span class="q">Where do you find developers?</span>
                    </div>
                </div>
                <div class="quiestion-item">
                    <div class="question-item-q">
                        <span class="q">How big is your database?</span>
                    </div>
                </div>
                <h4>Matching</h4>

                <div class="quiestion-item">
                    <div class="question-item-q">
                        <span class="q">Why do you use engineers to qualify candidates?</span>
                    </div>
                </div>
                <div class="quiestion-item">
                    <div class="question-item-q">
                        <span class="q">Can you help us define the roles for our openings?</span>
                    </div>
                </div>
                <h4>Process</h4>

                <div class="quiestion-item">
                    <div class="question-item-q">
                        <span class="q">What does the process look like?</span>
                    </div>
                </div>
                <div class="quiestion-item">
                    <div class="question-item-q">
                        <span class="q">How long does the process take?</span>
                    </div>
                </div>
                <div class="quiestion-item">
                    <div class="question-item-q">
                        <span class="q">When can I expect to get my first developers?</span>
                    </div>
                </div>
                <div class="quiestion-item">
                    <div class="question-item-q">
                        <span class="q">Can you support us with the visa and relocation process?</span>
                    </div>
                </div>
                <h4>Conditions</h4>

                <div class="quiestion-item">
                    <div class="question-item-q">
                        <span class="q">Do you require exclusivity?</span>
                    </div>
                </div>
                <div class="quiestion-item">
                    <div class="question-item-q">
                        <span class="q">What happens if the person I hire quits?</span>
                    </div>
                </div>
                <div class="quiestion-item">
                    <div class="question-item-q">
                        <span class="q">What happens if the person I hire doesn't meet my expectations?</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="clear"></div>
    </div>
    <div class="block-gray" id="faq-form" style="padding-bottom: 20px">
        <h1 class="main-header" style="padding-top: 40px; margin-top: 10px;">DIDN'T FIND
            ANSWER?</h1>

        <p class="faq-form-text">No worry. Ask us!</p>

        <div class="faq-form">
            <form id="faq-form-form">
                <div class="form-name">
                    <input type="text" name="name" class="requires-validation" placeholder="Your name" required data-validate="^.+$">
                </div>
                <div class="form-position">
                    <select name="position" required>
                        <option value="developer">I'm Developer</option>
                        <option value="company">I'm from Company</option>
                    </select>
                </div>
                <div class="clear"></div>
                <div class="form-question">
                    <textarea name="question" placeholder="Your question" required class="requires-validation" data-validate="^.+$"></textarea>
                </div>
                <button type="submit" class="form-question-button blue">SEND</button>
            </form>
        </div>
      </div>
      <div class="block-gray" style="margin-top:-80px; padding-bottom: 5px; display: none" id="faq-form-success">
          <h1 class="main-header" style="padding-top:80px;">SUCCESSFULLY</h1>

          <p class="faq-form-text">Thank you for your mail! We will check the question as soon as possible and return to you with feedback.</p>

          <div class="faq-form">
              <div class="question-link">
                  <div class="question-link-buttons">
                      <a href="#" class="blue show-elem hide-elem" data-elem-show="faq-form" data-elem-hide="faq-form-success">New Question</a>
                  </div>
              </div>
          </div>
      </div>
{{ partial "footer.html" . }}
