
// Type variables

$cerebri: 'Cerebri Sans', 'Source Sans Pro', 'Helvetica Neue', Arial, sans-serif;

@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700');

@font-face {
  font-family: 'Cerebri Sans';
  src:  url('/fonts/cerebrisans-medium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  color: $dark;
  font-family: 'Source Sans Pro', 'Helvetica Neue', Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: 1.05rem;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: $cerebri;
  font-weight: normal;
}

h1 {
  font-size: 36px;
  letter-spacing: -0.7px;
  line-height: 42px;

  @media (min-width: 576px) {
    font-size: 42px;
    line-height: 48px;
    letter-spacing: -1px;
  }

  @media (min-width: 992px) {
    font-size: 54px;
    letter-spacing: -1.5px;
    line-height: 60px;
  }
}

h2 {
  font-size: 30px;
  letter-spacing: -0.6px;
  line-height: 36px;

  @media (min-width: 576px) {
    font-size: 36px;
    letter-spacing: -0.7px;
    line-height: 42px;
  }

  @media (min-width: 992px) {
    font-size: 42px;
    line-height: 48px;
    letter-spacing: -1px;
  }
}

h3 {
  font-size: 24px;
  line-height: 30px;
  letter-spacing: -0.5px;

  @media (min-width: 992px) {
    font-size: 30px;
    line-height: 36px;
    letter-spacing: -0.5px;
  }
}

h4 {
  font-size: 21px;
  line-height: 27px;
  letter-spacing: -0.2px;
}

.text-large {
  font-size: 21px;
  line-height: 27px;
}

.btn {
  text-transform: uppercase;

  &-lg {
    padding: .75rem 1.5rem;
  }
}

// Line titles

.title-line {

  &:after {
    content: "";
    display: block;
    height: 4px;
    margin: 1rem 0 2rem;
    width: 64px;

    .text-center & {
      margin-left: 50%;
      left: -32px;
      position: relative;
    }
  }
}

// Section headers

section {

  header {

    .subtitle {
      font-family: $cerebri;
      font-size: 15px;
      text-transform: uppercase;
      margin: 0;
    }
  }
}
